# TFM

## Importación de librerías

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import toml
import random
import tensorflow as tf
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

## Ejecución de código en GPU

In [2]:
import tensorflow as tf

# Comprobar la versión de TensorFlow
print("TensorFlow version:", tf.__version__)

# Listar todos los dispositivos físicos disponibles
physical_devices = tf.config.list_physical_devices('GPU')

if physical_devices:
    print("🟢 TensorFlow ha detectado la(s) siguiente(s) GPU(s):")
    for gpu in physical_devices:
        print(f'\t{gpu}')
else:
    print("🔴 No se ha detectado ninguna GPU. TensorFlow está utilizando la CPU.")

TensorFlow version: 2.10.0
🟢 TensorFlow ha detectado la(s) siguiente(s) GPU(s):
	PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')

## Lectura de fichero

In [3]:
data_dict = {}
DATA_DIR = '../../data/'

for data_folder in os.listdir(DATA_DIR):
    *data_files, config_file = os.listdir(f'{DATA_DIR}/{data_folder}')

    leak_value = toml.load(f'{DATA_DIR}/{data_folder}/{config_file}')['tanks']['flow_value']

    train_dataframe, test_dataframe = random.sample(data_files, 2)

    data_dict[data_folder] = {
        'leak_value': leak_value,
        'train_dataframe': pd.read_csv(f'{DATA_DIR}/{data_folder}/{train_dataframe}').drop(columns=['Unnamed: 0']),
        'test_dataframe': pd.read_csv(f'{DATA_DIR}/{data_folder}/{test_dataframe}').drop(columns=['Unnamed: 0'])
    }

### Conjuntos de datos de entrenamiento

In [4]:
for case in data_dict:
    display(data_dict[case]['train_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20247,25",-5580,"6051,35","20718,6","20679,11","-39,49","-2,21",0
1,2,"20679,11",-6195,"7936,54","22420,65","22497,6","76,95","164,76",0
2,3,"22497,6",-6165,"5995,68","22328,28","22284,53","-43,75","73,79",0
3,4,"22284,53",-5720,"5031,76","21596,29","21654,39","58,1","181,92",0
4,5,"21654,39",-6075,"9124,56","24703,95","24903,47","199,52","323,61",0
...,...,...,...,...,...,...,...,...,...
995,996,"14567,32",-5990,"6995,54","15572,86","15611,86","39,0","-8,11",1
996,997,"15611,86",-6405,"6226,8","15433,66","15483,99","50,33","14,33",1
997,998,"15483,99",-5670,"5799,07","15613,06","15537,81","-75,25","6,19",1
998,999,"15537,81",-6130,"5099,01","14506,82","14515,34","8,52","84,27",1
999,1000,"14515,34",-6130,"8868,5","17253,84","17158,33","-95,51","-78,56",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21149,68","-5960,0","5940,46","21130,14","21204,78","74,64","255,0",0
1,2,"21204,78","-6315,0","7021,73","21911,51","21862,93","-48,58","164,23",0
2,3,"21862,93","-5890,0","3218,08","19191,01","19194,42","3,41","149,26",0
3,4,"19194,42","-6160,0","6739,31","19773,73","19802,52","28,79","127,48",0
4,5,"19802,52","-5960,0","6979,79","20822,31","20853,99","31,68","148,24",0
...,...,...,...,...,...,...,...,...,...
995,996,"2228,36","-5465,58","4141,29","904,07","873,35","-30,72","-173,3",1
996,997,"873,35","-6090,0","6592,68","1376,03","1220,09","-155,94","-308,8",1
997,998,"1220,09","-5980,0","7181,83","2421,92","2463,95","42,03","-206,86",1
998,999,"2463,95","-5850,0","5758,71","2372,66","2400,72","28,06","-176,26",1
999,1000,"2400,72","-6000,0","6221,82","2622,54","2514,26","-108,28","-259,63",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20423,93","-5590,0","5813,6","20647,53","20665,41","17,88","31,64",0
1,2,"20665,41","-5970,0","5997,78","20693,19","20680,86","-12,33","79,51",0
2,3,"20680,86","-5930,0","7951,68","22702,54","22757,13","54,59","150,95",0
3,4,"22757,13","-6260,0","6680,1","23177,23","23197,64","20,41","107,33",0
4,5,"23197,64","-6075,0","5816,09","22938,73","22983,34","44,61","181,99",0
...,...,...,...,...,...,...,...,...,...
995,996,"2,36","-0,0","0,0","2,36","14,55","12,19","2,84",1
996,997,"14,55","-0,0","0,0","14,55","4,86","-9,69","-1,12",1
997,998,"4,86","-0,0","0,0","4,86","0,46","-4,4","0,26",1
998,999,"0,46","-0,0","0,0","0,46","11,22","10,76","-9,79",1
999,1000,"11,22","-0,0","0,0","11,22","12,2","0,98","0,44",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"17445,18","-5905,0","6012,94","17553,12","17533,44","-19,68","16,06",0
1,2,"17533,44","-6110,0","8506,7","19930,14","20021,08","90,94","102,33",0
2,3,"20021,08","-5930,0","4407,28","18498,36","18474,61","-23,75","162,19",0
3,4,"18474,61","-6080,0","8762,8","21157,41","21038,06","-119,35","-12,14",0
4,5,"21038,06","-6210,0","8428,75","23256,81","23192,92","-63,89","-100,6",0
...,...,...,...,...,...,...,...,...,...
995,996,"8,86","-0,0","0,0","8,86","9,4","0,54","3,9",1
996,997,"9,4","-0,0","0,0","9,4","12,79","3,39","2,6",1
997,998,"12,79","-0,0","0,0","12,79","14,69","1,9","-0,82",1
998,999,"14,69","-0,0","0,0","14,69","9,11","-5,58","-12,74",1
999,1000,"9,11","-0,0","0,0","9,11","10,64","1,53","10,39",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21372,17","-5985,0","7788,9","23176,07","23214,64","38,57","19,95",0
1,2,"23214,64","-5765,0","2969,27","20418,91","20415,11","-3,8","61,14",0
2,3,"20415,11","-6325,0","7390,24","21480,35","21602,29","121,94","144,09",0
3,4,"21602,29","-6190,0","7315,88","22728,17","22691,65","-36,52","217,46",0
4,5,"22691,65","-5690,0","6031,24","23032,89","22983,03","-49,86","170,15",0
...,...,...,...,...,...,...,...,...,...
995,996,"17,19","-0,0","0,0","17,19","26,77","9,58","23,15",1
996,997,"26,77","-0,0","0,0","26,77","11,55","-15,22","10,12",1
997,998,"11,55","-0,0","0,0","11,55","1,45","-10,1","-1,74",1
998,999,"1,45","-0,0","0,0","1,45","8,2","6,75","5,73",1
999,1000,"8,2","-0,0","0,0","8,2","0,18","-8,02","-8,06",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19135,24","-6080,0","4856,82","17912,06","17932,53","20,47","46,88",0
1,2,"17932,53","-6125,0","5021,72","16829,25","16928,49","99,24","199,92",0
2,3,"16928,49","-5955,0","5972,53","16946,02","16951,13","5,11","186,83",0
3,4,"16951,13","-6190,0","6887,91","17649,04","17681,42","32,38","209,1",0
4,5,"17681,42","-6340,0","4566,61","15908,03","15977,96","69,93","237,46",0
...,...,...,...,...,...,...,...,...,...
995,996,"7,1","-0,0","0,0","7,1","3,53","-3,57","-12,95",1
996,997,"3,53","-0,0","0,0","3,53","20,64","17,11","10,14",1
997,998,"20,64","-0,0","0,0","20,64","0,62","-20,02","-13,66",1
998,999,"0,62","-0,0","0,0","0,62","10,69","10,07","7,64",1
999,1000,"10,69","-0,0","0,0","10,69","17,63","6,94","14,51",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"16456,74","-6135,0","5716,3","16038,04","16047,94","9,9","143,08",0
1,2,"16047,94","-5965,0","6882,78","16965,72","17080,63","114,91","233,37",0
2,3,"17080,63","-6000,0","9101,26","20181,89","20160,53","-21,36","209,95",0
3,4,"20160,53","-5955,0","4950,57","19156,1","19147,89","-8,21","223,69",0
4,5,"19147,89","-6145,0","8216,24","21219,13","21270,33","51,2","321,6",0
...,...,...,...,...,...,...,...,...,...
995,996,"1,46","-0,0","0,0","1,46","5,59","4,13","-8,62",1
996,997,"5,59","-0,0","0,0","5,59","21,53","15,94","16,29",1
997,998,"21,53","-0,0","0,0","21,53","11,16","-10,37","9,67",1
998,999,"11,16","-0,0","0,0","11,16","10,56","-0,6","-2,0",1
999,1000,"10,56","-0,0","0,0","10,56","9,11","-1,45","-8,44",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20389,74","-6085,0","6018,92","20323,66","20280,85","-42,81","-227,07",0
1,2,"20280,85","-6130,0","6987,5","21138,35","21166,33","27,98","-177,78",0
2,3,"21166,33","-5790,0","6847,16","22223,49","22375,93","152,44","-119,98",0
3,4,"22375,93","-5865,0","6015,82","22526,75","22546,47","19,72","-160,65",0
4,5,"22546,47","-6185,0","7640,53","24002,0","23979,38","-22,62","-195,03",0
...,...,...,...,...,...,...,...,...,...
995,996,"9,51","-0,0","0,0","9,51","1,66","-7,85","-4,44",1
996,997,"1,66","-0,0","0,0","1,66","2,68","1,02","-17,37",1
997,998,"2,68","-0,0","0,0","2,68","12,87","10,19","7,04",1
998,999,"12,87","-0,0","0,0","12,87","6,44","-6,43","-8,31",1
999,1000,"6,44","-0,0","0,0","6,44","1,85","-4,59","-3,63",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"16476,77","-6180,0","6085,35","16382,12","16294,6","-87,52","85,31",0
1,2,"16294,6","-5755,0","5556,17","16095,77","16020,9","-74,87","45,35",0
2,3,"16020,9","-5935,0","5415,9","15501,8","15611,4","109,6","202,67",0
3,4,"15611,4","-6210,0","6965,5","16366,9","16409,97","43,07","279,04",0
4,5,"16409,97","-5855,0","7988,67","18543,64","18564,14","20,5","267,66",0
...,...,...,...,...,...,...,...,...,...
995,996,"10,5","-0,0","0,0","10,5","21,97","11,47","6,0",1
996,997,"21,97","-0,0","0,0","21,97","8,59","-13,38","-1,76",1
997,998,"8,59","-0,0","0,0","8,59","3,21","-5,38","-5,72",1
998,999,"3,21","-0,0","0,0","3,21","8,53","5,32","5,06",1
999,1000,"8,53","-0,0","0,0","8,53","7,01","-1,52","-4,09",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20883,57","-6090,0","5235,88","20029,45","20091,97","62,52","466,98",0
1,2,"20091,97","-5700,0","7679,54","22071,51","22100,09","28,58","493,72",0
2,3,"22100,09","-6025,0","8386,81","24461,9","24424,54","-37,36","413,04",0
3,4,"24424,54","-5920,0","6459,08","24963,62","24947,48","-16,14","431,6",0
4,5,"24947,48","-6245,0","3911,32","22613,8","22599,34","-14,46","420,22",0
...,...,...,...,...,...,...,...,...,...
995,996,"5,55","-0,0","0,0","5,55","2,64","-2,91","-15,2",1
996,997,"2,64","-0,0","0,0","2,64","9,87","7,23","6,53",1
997,998,"9,87","-0,0","0,0","9,87","3,25","-6,62","-5,97",1
998,999,"3,25","-0,0","0,0","3,25","28,01","24,76","17,93",1
999,1000,"28,01","-0,0","0,0","28,01","15,13","-12,88","-0,39",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"16942,12","-5825,0","5491,42","16608,54","16673,87","65,33","187,29",0
1,2,"16673,87","-5825,0","6897,1","17745,97","17875,86","129,89","237,48",0
2,3,"17875,86","-5965,0","6950,25","18861,11","18894,66","33,55","253,19",0
3,4,"18894,66","-5970,0","7962,56","20887,22","20937,92","50,7","387,03",0
4,5,"20937,92","-6135,0","5924,27","20727,19","20818,82","91,63","502,42",0
...,...,...,...,...,...,...,...,...,...
995,996,"19,68","-0,0","0,0","19,68","8,25","-11,43","0,72",1
996,997,"8,25","-0,0","0,0","8,25","3,65","-4,6","-8,36",1
997,998,"3,65","-0,0","0,0","3,65","8,4","4,75","4,92",1
998,999,"8,4","-0,0","0,0","8,4","23,49","15,09","16,35",1
999,1000,"23,49","-0,0","0,0","23,49","4,13","-19,36","0,1",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"14736,59","-6295,0","7061,03","15502,62","15459,79","-42,83","88,42",0
1,2,"15459,79","-6260,0","5970,18","15169,97","15193,08","23,11","120,97",0
2,3,"15193,08","-5900,0","5999,44","15292,52","15281,39","-11,13","89,96",0
3,4,"15281,39","-5980,0","6939,21","16240,6","16288,43","47,83","131,63",0
4,5,"16288,43","-6175,0","7029,8","17143,23","17115,65","-27,58","96,75",0
...,...,...,...,...,...,...,...,...,...
995,996,"15,82","-0,0","0,0","15,82","6,25","-9,57","-9,53",1
996,997,"6,25","-0,0","0,0","6,25","7,02","0,77","2,84",1
997,998,"7,02","-0,0","0,0","7,02","1,57","-5,45","-7,61",1
998,999,"1,57","-0,0","0,0","1,57","0,12","-1,45","-4,11",1
999,1000,"0,12","-0,0","0,0","0,12","7,9","7,78","3,04",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19999,39","-5905,0","6970,79","21065,18","21102,9","37,72","109,13",0
1,2,"21102,9","-6155,0","6060,28","21008,18","20966,69","-41,49","59,33",0
2,3,"20966,69","-5975,0","2934,69","17926,38","17990,19","63,81","85,1",0
3,4,"17990,19","-6305,0","6950,94","18636,13","18679,74","43,61","127,56",0
4,5,"18679,74","-5940,0","7943,2","20682,94","20731,84","48,9","178,79",0
...,...,...,...,...,...,...,...,...,...
995,996,"5,73","-0,0","0,0","5,73","3,13","-2,6","-19,24",1
996,997,"3,13","-0,0","0,0","3,13","3,87","0,74","-3,1",1
997,998,"3,87","-0,0","0,0","3,87","5,88","2,01","5,53",1
998,999,"5,88","-0,0","0,0","5,88","2,22","-3,66","-1,13",1
999,1000,"2,22","-0,0","0,0","2,22","9,98","7,76","-2,71",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"13606,56","-6135,0","6078,24","13549,8","13604,57","54,77","189,82",0
1,2,"13604,57","-6180,0","7816,29","15240,86","15298,64","57,78","140,18",0
2,3,"15298,64","-6540,0","8066,41","16825,05","16766,16","-58,89","114,81",0
3,4,"16766,16","-5950,0","2994,85","13811,01","13832,37","21,36","118,61",0
4,5,"13832,37","-6225,0","8046,4","15653,77","15600,11","-53,66","107,3",0
...,...,...,...,...,...,...,...,...,...
995,996,"3,77","-0,0","0,0","3,77","5,54","1,77","-2,21",1
996,997,"5,54","-0,0","0,0","5,54","0,83","-4,71","-9,32",1
997,998,"0,83","-0,0","0,0","0,83","13,25","12,42","1,59",1
998,999,"13,25","-0,0","0,0","13,25","10,31","-2,94","6,54",1
999,1000,"10,31","-0,0","0,0","10,31","6,71","-3,6","-5,3",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"11373,11","-5975,0","6995,25","12393,36","12436,56","43,2","4,09",0
1,2,"12436,56","-6120,0","7067,55","13384,11","13284,95","-99,16","-89,11",0
2,3,"13284,95","-5925,0","7087,68","14447,63","14371,67","-75,96","-172,46",0
3,4,"14371,67","-5840,0","11960,98","20492,65","20550,77","58,12","-132,89",0
4,5,"20550,77","-6070,0","7059,92","21540,69","21530,27","-10,42","-122,12",0
...,...,...,...,...,...,...,...,...,...
995,996,"11,82","-0,0","0,0","11,82","11,43","-0,39","-5,83",1
996,997,"11,43","-0,0","0,0","11,43","13,08","1,65","10,37",1
997,998,"13,08","-0,0","0,0","13,08","1,18","-11,9","-5,79",1
998,999,"1,18","-0,0","0,0","1,18","20,33","19,15","11,23",1
999,1000,"20,33","-0,0","0,0","20,33","11,29","-9,04","7,59",1

### Conjunto de datos de prueba

In [5]:
for case in data_dict:
    display(data_dict[case]['test_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21060,76",-5585,"6958,22","22433,98","22364,7","-69,28","-213,88",0
1,2,"22364,7",-6145,"7053,56","23273,26","23332,72","59,46","-182,83",0
2,3,"23332,72",-6165,"7874,67","25042,39","24963,57","-78,82","-130,94",0
3,4,"24963,57",-5855,"3650,7","22759,27","22775,54","16,27","-94,01",0
4,5,"22775,54",-6020,"6527,31","23282,85","23235,8","-47,05","-104,34",0
...,...,...,...,...,...,...,...,...,...
995,996,"15390,86",-6025,"7062,64","16428,5","16374,81","-53,69","-246,44",1
996,997,"16374,81",-6400,"5748,32","15723,13","15677,62","-45,51","-353,89",1
997,998,"15677,62",-6125,"4719,72","14272,34","14356,39","84,05","-267,06",1
998,999,"14356,39",-6120,"5031,76","13268,15","13320,37","52,22","-190,72",1
999,1000,"13320,37",-5950,"6856,56","14226,93","14255,32","28,39","-128,96",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"14034,89","-5705,0","7013,6","15343,49","15323,45","-20,04","228,67",0
1,2,"15323,45","-5970,0","7633,39","16986,84","16980,09","-6,75","138,05",0
2,3,"16980,09","-6250,0","4594,55","15324,64","15342,95","18,31","91,74",0
3,4,"15342,95","-6375,0","7716,89","16684,84","16706,73","21,89","36,45",0
4,5,"16706,73","-6020,0","7060,35","17747,08","17712,72","-34,36","101,33",0
...,...,...,...,...,...,...,...,...,...
995,996,"2480,65","-5740,0","5618,89","2359,54","2424,72","65,18","115,61",1
996,997,"2424,72","-5725,0","6292,34","2992,06","2952,52","-39,54","66,08",1
997,998,"2952,52","-5377,62","2403,34","-21,76","8,21","29,97","58,91",1
998,999,"8,21","-5756,65","6559,47","811,03","872,06","61,03","81,69",1
999,1000,"872,06","-4297,88","4862,58","1436,76","1366,38","-70,38","-15,06",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"23654,87","-6005,0","4298,93","21948,8","21972,61","23,81","163,31",0
1,2,"21972,61","-6095,0","4622,96","20500,57","20617,61","117,04","322,76",0
2,3,"20617,61","-6175,0","9067,79","23510,4","23442,51","-67,89","221,84",0
3,4,"23442,51","-5990,0","3410,32","20862,83","20890,7","27,87","233,22",0
4,5,"20890,7","-5915,0","6810,38","21786,08","21803,84","17,76","215,53",0
...,...,...,...,...,...,...,...,...,...
995,996,"10,65","-0,0","0,0","10,65","30,77","20,12","26,54",1
996,997,"30,77","-0,0","0,0","30,77","0,47","-30,3","-3,4",1
997,998,"0,47","-0,0","0,0","0,47","4,08","3,61","0,87",1
998,999,"4,08","-0,0","0,0","4,08","1,82","-2,26","-3,71",1
999,1000,"1,82","-0,0","0,0","1,82","2,49","0,67","0,56",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21287,51","-6070,0","7042,91","22260,42","22216,71","-43,71","188,2",0
1,2,"22216,71","-6065,0","4682,57","20834,28","20856,74","22,46","259,79",0
2,3,"20856,74","-6035,0","7234,09","22055,83","22134,3","78,47","272,27",0
3,4,"22134,3","-6120,0","5847,84","21862,14","22001,79","139,65","380,74",0
4,5,"22001,79","-5605,0","3757,23","20154,02","20186,77","32,75","279,92",0
...,...,...,...,...,...,...,...,...,...
995,996,"3,31","-0,0","0,0","3,31","4,22","0,91","-5,75",1
996,997,"4,22","-0,0","0,0","4,22","14,3","10,08","7,99",1
997,998,"14,3","-0,0","0,0","14,3","12,66","-1,64","10,33",1
998,999,"12,66","-0,0","0,0","12,66","2,96","-9,7","-1,54",1
999,1000,"2,96","-0,0","0,0","2,96","6,11","3,15","5,86",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19617,1","-5720,0","6040,65","19937,75","19908,69","-29,06","287,97",0
1,2,"19908,69","-6040,0","9876,76","23745,45","23727,8","-17,65","238,88",0
2,3,"23727,8","-6040,0","6042,62","23730,42","23778,29","47,87","259,99",0
3,4,"23778,29","-5985,0","4048,45","21841,74","21813,92","-27,82","123,38",0
4,5,"21813,92","-6055,0","6875,76","22634,68","22664,82","30,14","231,15",0
...,...,...,...,...,...,...,...,...,...
995,996,"10,5","-0,0","0,0","10,5","23,41","12,91","9,18",1
996,997,"23,41","-0,0","0,0","23,41","0,69","-22,72","-2,91",1
997,998,"0,69","-0,0","0,0","0,69","6,88","6,19","3,32",1
998,999,"6,88","-0,0","0,0","6,88","7,0","0,12","0,49",1
999,1000,"7,0","-0,0","0,0","7,0","16,75","9,75","10,94",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"15362,61","-6205,0","4348,17","13505,78","13436,24","-69,54","259,9",0
1,2,"13436,24","-6255,0","8032,58","15213,82","15174,65","-39,17","233,42",0
2,3,"15174,65","-6115,0","7934,11","16993,76","17045,24","51,48","300,07",0
3,4,"17045,24","-6230,0","5962,78","16778,02","16826,91","48,89","330,23",0
4,5,"16826,91","-6165,0","8008,51","18670,42","18664,17","-6,25","293,53",0
...,...,...,...,...,...,...,...,...,...
995,996,"1,33","-0,0","0,0","1,33","4,68","3,35","0,91",1
996,997,"4,68","-0,0","0,0","4,68","17,74","13,06","9,68",1
997,998,"17,74","-0,0","0,0","17,74","6,13","-11,61","5,23",1
998,999,"6,13","-0,0","0,0","6,13","1,95","-4,18","-10,78",1
999,1000,"1,95","-0,0","0,0","1,95","5,7","3,75","-4,08",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"18494,78","-5950,0","5851,14","18395,92","18412,17","16,25","-84,69",0
1,2,"18412,17","-5865,0","7995,46","20542,63","20528,85","-13,78","-47,21",0
2,3,"20528,85","-5790,0","4036,02","18774,87","18860,58","85,71","88,97",0
3,4,"18860,58","-5940,0","6598,52","19519,1","19574,23","55,13","90,85",0
4,5,"19574,23","-6155,0","6263,71","19682,94","19663,56","-19,38","86,63",0
...,...,...,...,...,...,...,...,...,...
995,996,"2,01","-0,0","0,0","2,01","16,22","14,21","7,36",1
996,997,"16,22","-0,0","0,0","16,22","10,86","-5,36","3,14",1
997,998,"10,86","-0,0","0,0","10,86","19,86","9,0","8,27",1
998,999,"19,86","-0,0","0,0","19,86","12,29","-7,57","12,21",1
999,1000,"12,29","-0,0","0,0","12,29","4,85","-7,44","-4,91",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"22077,61","-5970,0","6828,13","22935,74","22971,89","36,15","178,6",0
1,2,"22971,89","-5755,0","6175,66","23392,55","23484,62","92,07","359,98",0
2,3,"23484,62","-6535,0","3077,86","20027,48","19999,01","-28,47","263,86",0
3,4,"19999,01","-6200,0","6826,3","20625,31","20794,18","168,87","399,1",0
4,5,"20794,18","-6210,0","6969,64","21553,82","21576,57","22,75","361,17",0
...,...,...,...,...,...,...,...,...,...
995,996,"2,38","-0,0","0,0","2,38","6,16","3,78","-3,88",1
996,997,"6,16","-0,0","0,0","6,16","6,86","0,7","1,93",1
997,998,"6,86","-0,0","0,0","6,86","6,02","-0,84","2,2",1
998,999,"6,02","-0,0","0,0","6,02","3,71","-2,31","1,75",1
999,1000,"3,71","-0,0","0,0","3,71","4,84","1,13","4,49",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19151,05","-6045,0","8896,55","22002,6","21974,5","-28,1","120,43",0
1,2,"21974,5","-5930,0","6101,08","22145,58","22156,07","10,49","149,98",0
2,3,"22156,07","-6135,0","6928,27","22949,34","23027,33","77,99","287,24",0
3,4,"23027,33","-6425,0","6577,84","23180,17","23134,57","-45,6","218,43",0
4,5,"23134,57","-6145,0","3432,57","20422,14","20397,11","-25,03","265,81",0
...,...,...,...,...,...,...,...,...,...
995,996,"0,27","-0,0","0,0","0,27","9,29","9,02","-1,34",1
996,997,"9,29","-0,0","0,0","9,29","8,73","-0,56","-7,47",1
997,998,"8,73","-0,0","0,0","8,73","13,92","5,19","9,26",1
998,999,"13,92","-0,0","0,0","13,92","24,99","11,07","18,55",1
999,1000,"24,99","-0,0","0,0","24,99","16,14","-8,85","2,67",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"13655,46","-5935,0","11512,72","19233,18","19405,51","172,33","211,57",0
1,2,"19405,51","-6650,0","3678,03","16433,54","16467,1","33,56","204,34",0
2,3,"16467,1","-5720,0","6534,91","17282,01","17291,27","9,26","129,4",0
3,4,"17291,27","-5745,0","10564,38","22110,65","22124,69","14,04","148,18",0
4,5,"22124,69","-5625,0","5116,68","21616,37","21597,77","-18,6","203,65",0
...,...,...,...,...,...,...,...,...,...
995,996,"16,76","-0,0","0,0","16,76","6,56","-10,2","-7,83",1
996,997,"6,56","-0,0","0,0","6,56","14,31","7,75","6,8",1
997,998,"14,31","-0,0","0,0","14,31","0,04","-14,27","-1,67",1
998,999,"0,04","-0,0","0,0","0,04","2,45","2,41","-4,63",1
999,1000,"2,45","-0,0","0,0","2,45","3,89","1,44","-12,66",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"18831,51","-6090,0","9010,27","21751,78","21727,77","-24,01","508,18",0
1,2,"21727,77","-6140,0","6929,71","22517,48","22587,42","69,94","545,28",0
2,3,"22587,42","-5725,0","4063,87","20926,29","20857,51","-68,78","449,32",0
3,4,"20857,51","-5745,0","7781,23","22893,74","22875,13","-18,61","389,62",0
4,5,"22875,13","-6250,0","3912,99","20538,12","20614,24","76,12","355,02",0
...,...,...,...,...,...,...,...,...,...
995,996,"4,46","-0,0","0,0","4,46","14,41","9,95","12,69",1
996,997,"14,41","-0,0","0,0","14,41","9,76","-4,65","6,04",1
997,998,"9,76","-0,0","0,0","9,76","2,55","-7,21","-16,74",1
998,999,"2,55","-0,0","0,0","2,55","9,52","6,97","6,9",1
999,1000,"9,52","-0,0","0,0","9,52","11,04","1,52","4,73",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"15886,17","-5900,0","5970,3","15956,47","15980,01","23,54","68,46",0
1,2,"15980,01","-5810,0","6050,74","16220,75","16175,65","-45,1","8,64",0
2,3,"16175,65","-5760,0","5917,51","16333,16","16413,96","80,8","17,3",0
3,4,"16413,96","-5970,0","6982,8","17426,76","17460,02","33,26","68,23",0
4,5,"17460,02","-6340,0","7929,64","19049,66","19111,41","61,75","52,84",0
...,...,...,...,...,...,...,...,...,...
995,996,"5,52","-0,0","0,0","5,52","0,47","-5,05","-4,84",1
996,997,"0,47","-0,0","0,0","0,47","5,79","5,32","0,68",1
997,998,"5,79","-0,0","0,0","5,79","14,14","8,35","-0,25",1
998,999,"14,14","-0,0","0,0","14,14","4,73","-9,41","2,66",1
999,1000,"4,73","-0,0","0,0","4,73","1,06","-3,67","-9,51",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"15272,5","-6010,0","10030,29","19292,79","19280,8","-11,99","292,48",0
1,2,"19280,8","-6205,0","3984,78","17060,58","17094,5","33,92","305,91",0
2,3,"17094,5","-5995,0","7951,55","19051,05","19091,82","40,77","164,52",0
3,4,"19091,82","-6255,0","3983,16","16819,98","16872,08","52,1","215,19",0
4,5,"16872,08","-5965,0","8512,19","19419,27","19433,93","14,66","140,65",0
...,...,...,...,...,...,...,...,...,...
995,996,"16,81","-0,0","0,0","16,81","4,18","-12,63","-0,89",1
996,997,"4,18","-0,0","0,0","4,18","10,01","5,83","5,26",1
997,998,"10,01","-0,0","0,0","10,01","6,14","-3,87","-0,29",1
998,999,"6,14","-0,0","0,0","6,14","14,1","7,96","2,67",1
999,1000,"14,1","-0,0","0,0","14,1","2,07","-12,03","0,29",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"14556,63","-6100,0","7672,4","16129,03","16156,68","27,65","-66,83",0
1,2,"16156,68","-5970,0","3517,74","13704,42","13714,85","10,43","-97,98",0
2,3,"13714,85","-5975,0","8581,27","16321,12","16261,92","-59,2","-126,01",0
3,4,"16261,92","-6155,0","6603,2","16710,12","16773,23","63,11","-59,66",0
4,5,"16773,23","-6065,0","5252,68","15960,91","15952,4","-8,51","20,37",0
...,...,...,...,...,...,...,...,...,...
995,996,"0,48","-0,0","0,0","0,48","5,26","4,78","-4,23",1
996,997,"5,26","-0,0","0,0","5,26","14,41","9,15","9,68",1
997,998,"14,41","-0,0","0,0","14,41","16,94","2,53","14,11",1
998,999,"16,94","-0,0","0,0","16,94","5,52","-11,42","-3,93",1
999,1000,"5,52","-0,0","0,0","5,52","0,75","-4,77","-8,4",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"16880,67","-6340,0","9520,82","20061,49","20089,2","27,71","239,98",0
1,2,"20089,2","-5965,0","8981,18","23105,38","23114,65","9,27","236,52",0
2,3,"23114,65","-6350,0","6284,23","23048,88","23080,01","31,13","96,76",0
3,4,"23080,01","-5495,0","3705,04","21290,05","21253,69","-36,36","173,15",0
4,5,"21253,69","-6010,0","6906,8","22150,49","22243,33","92,84","144,0",0
...,...,...,...,...,...,...,...,...,...
995,996,"2,33","-0,0","0,0","2,33","8,66","6,33","4,22",1
996,997,"8,66","-0,0","0,0","8,66","8,69","0,03","3,5",1
997,998,"8,69","-0,0","0,0","8,69","21,02","12,33","20,09",1
998,999,"21,02","-0,0","0,0","21,02","5,64","-15,38","3,39",1
999,1000,"5,64","-0,0","0,0","5,64","1,83","-3,81","0,17",1

## Limpieza de datos

In [6]:
bad_formatted_fields = [
    'Volumen dep. almacenam. ini. (L)',
    'Llenado dep. almacenam. (L)',
    'Volumen dep. almacenam. fin. teor. (L)',
    'Volumen dep. almacenam. fin. (L)',
    'Variacion',
    'Variacion Acum.',
]

for case in data_dict:
    for dataset in ['train_dataframe', 'test_dataframe']:
        for field in bad_formatted_fields:
            data_dict[case][dataset][field] = data_dict[case][dataset][field].str.replace(',', '.')
            data_dict[case][dataset][field] = pd.to_numeric(data_dict[case][dataset][field])

### Conjunto de datos de entrenamiento

In [7]:
for case in data_dict:
    display(data_dict[case]['train_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20247.25,-5580,6051.35,20718.60,20679.11,-39.49,-2.21,0
1,2,20679.11,-6195,7936.54,22420.65,22497.60,76.95,164.76,0
2,3,22497.60,-6165,5995.68,22328.28,22284.53,-43.75,73.79,0
3,4,22284.53,-5720,5031.76,21596.29,21654.39,58.10,181.92,0
4,5,21654.39,-6075,9124.56,24703.95,24903.47,199.52,323.61,0
...,...,...,...,...,...,...,...,...,...
995,996,14567.32,-5990,6995.54,15572.86,15611.86,39.00,-8.11,1
996,997,15611.86,-6405,6226.80,15433.66,15483.99,50.33,14.33,1
997,998,15483.99,-5670,5799.07,15613.06,15537.81,-75.25,6.19,1
998,999,15537.81,-6130,5099.01,14506.82,14515.34,8.52,84.27,1
999,1000,14515.34,-6130,8868.50,17253.84,17158.33,-95.51,-78.56,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21149.68,"-5960,0",5940.46,21130.14,21204.78,74.64,255.00,0
1,2,21204.78,"-6315,0",7021.73,21911.51,21862.93,-48.58,164.23,0
2,3,21862.93,"-5890,0",3218.08,19191.01,19194.42,3.41,149.26,0
3,4,19194.42,"-6160,0",6739.31,19773.73,19802.52,28.79,127.48,0
4,5,19802.52,"-5960,0",6979.79,20822.31,20853.99,31.68,148.24,0
...,...,...,...,...,...,...,...,...,...
995,996,2228.36,"-5465,58",4141.29,904.07,873.35,-30.72,-173.30,1
996,997,873.35,"-6090,0",6592.68,1376.03,1220.09,-155.94,-308.80,1
997,998,1220.09,"-5980,0",7181.83,2421.92,2463.95,42.03,-206.86,1
998,999,2463.95,"-5850,0",5758.71,2372.66,2400.72,28.06,-176.26,1
999,1000,2400.72,"-6000,0",6221.82,2622.54,2514.26,-108.28,-259.63,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20423.93,"-5590,0",5813.60,20647.53,20665.41,17.88,31.64,0
1,2,20665.41,"-5970,0",5997.78,20693.19,20680.86,-12.33,79.51,0
2,3,20680.86,"-5930,0",7951.68,22702.54,22757.13,54.59,150.95,0
3,4,22757.13,"-6260,0",6680.10,23177.23,23197.64,20.41,107.33,0
4,5,23197.64,"-6075,0",5816.09,22938.73,22983.34,44.61,181.99,0
...,...,...,...,...,...,...,...,...,...
995,996,2.36,"-0,0",0.00,2.36,14.55,12.19,2.84,1
996,997,14.55,"-0,0",0.00,14.55,4.86,-9.69,-1.12,1
997,998,4.86,"-0,0",0.00,4.86,0.46,-4.40,0.26,1
998,999,0.46,"-0,0",0.00,0.46,11.22,10.76,-9.79,1
999,1000,11.22,"-0,0",0.00,11.22,12.20,0.98,0.44,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,17445.18,"-5905,0",6012.94,17553.12,17533.44,-19.68,16.06,0
1,2,17533.44,"-6110,0",8506.70,19930.14,20021.08,90.94,102.33,0
2,3,20021.08,"-5930,0",4407.28,18498.36,18474.61,-23.75,162.19,0
3,4,18474.61,"-6080,0",8762.80,21157.41,21038.06,-119.35,-12.14,0
4,5,21038.06,"-6210,0",8428.75,23256.81,23192.92,-63.89,-100.60,0
...,...,...,...,...,...,...,...,...,...
995,996,8.86,"-0,0",0.00,8.86,9.40,0.54,3.90,1
996,997,9.40,"-0,0",0.00,9.40,12.79,3.39,2.60,1
997,998,12.79,"-0,0",0.00,12.79,14.69,1.90,-0.82,1
998,999,14.69,"-0,0",0.00,14.69,9.11,-5.58,-12.74,1
999,1000,9.11,"-0,0",0.00,9.11,10.64,1.53,10.39,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21372.17,"-5985,0",7788.90,23176.07,23214.64,38.57,19.95,0
1,2,23214.64,"-5765,0",2969.27,20418.91,20415.11,-3.80,61.14,0
2,3,20415.11,"-6325,0",7390.24,21480.35,21602.29,121.94,144.09,0
3,4,21602.29,"-6190,0",7315.88,22728.17,22691.65,-36.52,217.46,0
4,5,22691.65,"-5690,0",6031.24,23032.89,22983.03,-49.86,170.15,0
...,...,...,...,...,...,...,...,...,...
995,996,17.19,"-0,0",0.00,17.19,26.77,9.58,23.15,1
996,997,26.77,"-0,0",0.00,26.77,11.55,-15.22,10.12,1
997,998,11.55,"-0,0",0.00,11.55,1.45,-10.10,-1.74,1
998,999,1.45,"-0,0",0.00,1.45,8.20,6.75,5.73,1
999,1000,8.20,"-0,0",0.00,8.20,0.18,-8.02,-8.06,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19135.24,"-6080,0",4856.82,17912.06,17932.53,20.47,46.88,0
1,2,17932.53,"-6125,0",5021.72,16829.25,16928.49,99.24,199.92,0
2,3,16928.49,"-5955,0",5972.53,16946.02,16951.13,5.11,186.83,0
3,4,16951.13,"-6190,0",6887.91,17649.04,17681.42,32.38,209.10,0
4,5,17681.42,"-6340,0",4566.61,15908.03,15977.96,69.93,237.46,0
...,...,...,...,...,...,...,...,...,...
995,996,7.10,"-0,0",0.00,7.10,3.53,-3.57,-12.95,1
996,997,3.53,"-0,0",0.00,3.53,20.64,17.11,10.14,1
997,998,20.64,"-0,0",0.00,20.64,0.62,-20.02,-13.66,1
998,999,0.62,"-0,0",0.00,0.62,10.69,10.07,7.64,1
999,1000,10.69,"-0,0",0.00,10.69,17.63,6.94,14.51,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,16456.74,"-6135,0",5716.30,16038.04,16047.94,9.90,143.08,0
1,2,16047.94,"-5965,0",6882.78,16965.72,17080.63,114.91,233.37,0
2,3,17080.63,"-6000,0",9101.26,20181.89,20160.53,-21.36,209.95,0
3,4,20160.53,"-5955,0",4950.57,19156.10,19147.89,-8.21,223.69,0
4,5,19147.89,"-6145,0",8216.24,21219.13,21270.33,51.20,321.60,0
...,...,...,...,...,...,...,...,...,...
995,996,1.46,"-0,0",0.00,1.46,5.59,4.13,-8.62,1
996,997,5.59,"-0,0",0.00,5.59,21.53,15.94,16.29,1
997,998,21.53,"-0,0",0.00,21.53,11.16,-10.37,9.67,1
998,999,11.16,"-0,0",0.00,11.16,10.56,-0.60,-2.00,1
999,1000,10.56,"-0,0",0.00,10.56,9.11,-1.45,-8.44,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20389.74,"-6085,0",6018.92,20323.66,20280.85,-42.81,-227.07,0
1,2,20280.85,"-6130,0",6987.50,21138.35,21166.33,27.98,-177.78,0
2,3,21166.33,"-5790,0",6847.16,22223.49,22375.93,152.44,-119.98,0
3,4,22375.93,"-5865,0",6015.82,22526.75,22546.47,19.72,-160.65,0
4,5,22546.47,"-6185,0",7640.53,24002.00,23979.38,-22.62,-195.03,0
...,...,...,...,...,...,...,...,...,...
995,996,9.51,"-0,0",0.00,9.51,1.66,-7.85,-4.44,1
996,997,1.66,"-0,0",0.00,1.66,2.68,1.02,-17.37,1
997,998,2.68,"-0,0",0.00,2.68,12.87,10.19,7.04,1
998,999,12.87,"-0,0",0.00,12.87,6.44,-6.43,-8.31,1
999,1000,6.44,"-0,0",0.00,6.44,1.85,-4.59,-3.63,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,16476.77,"-6180,0",6085.35,16382.12,16294.60,-87.52,85.31,0
1,2,16294.60,"-5755,0",5556.17,16095.77,16020.90,-74.87,45.35,0
2,3,16020.90,"-5935,0",5415.90,15501.80,15611.40,109.60,202.67,0
3,4,15611.40,"-6210,0",6965.50,16366.90,16409.97,43.07,279.04,0
4,5,16409.97,"-5855,0",7988.67,18543.64,18564.14,20.50,267.66,0
...,...,...,...,...,...,...,...,...,...
995,996,10.50,"-0,0",0.00,10.50,21.97,11.47,6.00,1
996,997,21.97,"-0,0",0.00,21.97,8.59,-13.38,-1.76,1
997,998,8.59,"-0,0",0.00,8.59,3.21,-5.38,-5.72,1
998,999,3.21,"-0,0",0.00,3.21,8.53,5.32,5.06,1
999,1000,8.53,"-0,0",0.00,8.53,7.01,-1.52,-4.09,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20883.57,"-6090,0",5235.88,20029.45,20091.97,62.52,466.98,0
1,2,20091.97,"-5700,0",7679.54,22071.51,22100.09,28.58,493.72,0
2,3,22100.09,"-6025,0",8386.81,24461.90,24424.54,-37.36,413.04,0
3,4,24424.54,"-5920,0",6459.08,24963.62,24947.48,-16.14,431.60,0
4,5,24947.48,"-6245,0",3911.32,22613.80,22599.34,-14.46,420.22,0
...,...,...,...,...,...,...,...,...,...
995,996,5.55,"-0,0",0.00,5.55,2.64,-2.91,-15.20,1
996,997,2.64,"-0,0",0.00,2.64,9.87,7.23,6.53,1
997,998,9.87,"-0,0",0.00,9.87,3.25,-6.62,-5.97,1
998,999,3.25,"-0,0",0.00,3.25,28.01,24.76,17.93,1
999,1000,28.01,"-0,0",0.00,28.01,15.13,-12.88,-0.39,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,16942.12,"-5825,0",5491.42,16608.54,16673.87,65.33,187.29,0
1,2,16673.87,"-5825,0",6897.10,17745.97,17875.86,129.89,237.48,0
2,3,17875.86,"-5965,0",6950.25,18861.11,18894.66,33.55,253.19,0
3,4,18894.66,"-5970,0",7962.56,20887.22,20937.92,50.70,387.03,0
4,5,20937.92,"-6135,0",5924.27,20727.19,20818.82,91.63,502.42,0
...,...,...,...,...,...,...,...,...,...
995,996,19.68,"-0,0",0.00,19.68,8.25,-11.43,0.72,1
996,997,8.25,"-0,0",0.00,8.25,3.65,-4.60,-8.36,1
997,998,3.65,"-0,0",0.00,3.65,8.40,4.75,4.92,1
998,999,8.40,"-0,0",0.00,8.40,23.49,15.09,16.35,1
999,1000,23.49,"-0,0",0.00,23.49,4.13,-19.36,0.10,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,14736.59,"-6295,0",7061.03,15502.62,15459.79,-42.83,88.42,0
1,2,15459.79,"-6260,0",5970.18,15169.97,15193.08,23.11,120.97,0
2,3,15193.08,"-5900,0",5999.44,15292.52,15281.39,-11.13,89.96,0
3,4,15281.39,"-5980,0",6939.21,16240.60,16288.43,47.83,131.63,0
4,5,16288.43,"-6175,0",7029.80,17143.23,17115.65,-27.58,96.75,0
...,...,...,...,...,...,...,...,...,...
995,996,15.82,"-0,0",0.00,15.82,6.25,-9.57,-9.53,1
996,997,6.25,"-0,0",0.00,6.25,7.02,0.77,2.84,1
997,998,7.02,"-0,0",0.00,7.02,1.57,-5.45,-7.61,1
998,999,1.57,"-0,0",0.00,1.57,0.12,-1.45,-4.11,1
999,1000,0.12,"-0,0",0.00,0.12,7.90,7.78,3.04,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19999.39,"-5905,0",6970.79,21065.18,21102.90,37.72,109.13,0
1,2,21102.90,"-6155,0",6060.28,21008.18,20966.69,-41.49,59.33,0
2,3,20966.69,"-5975,0",2934.69,17926.38,17990.19,63.81,85.10,0
3,4,17990.19,"-6305,0",6950.94,18636.13,18679.74,43.61,127.56,0
4,5,18679.74,"-5940,0",7943.20,20682.94,20731.84,48.90,178.79,0
...,...,...,...,...,...,...,...,...,...
995,996,5.73,"-0,0",0.00,5.73,3.13,-2.60,-19.24,1
996,997,3.13,"-0,0",0.00,3.13,3.87,0.74,-3.10,1
997,998,3.87,"-0,0",0.00,3.87,5.88,2.01,5.53,1
998,999,5.88,"-0,0",0.00,5.88,2.22,-3.66,-1.13,1
999,1000,2.22,"-0,0",0.00,2.22,9.98,7.76,-2.71,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,13606.56,"-6135,0",6078.24,13549.80,13604.57,54.77,189.82,0
1,2,13604.57,"-6180,0",7816.29,15240.86,15298.64,57.78,140.18,0
2,3,15298.64,"-6540,0",8066.41,16825.05,16766.16,-58.89,114.81,0
3,4,16766.16,"-5950,0",2994.85,13811.01,13832.37,21.36,118.61,0
4,5,13832.37,"-6225,0",8046.40,15653.77,15600.11,-53.66,107.30,0
...,...,...,...,...,...,...,...,...,...
995,996,3.77,"-0,0",0.00,3.77,5.54,1.77,-2.21,1
996,997,5.54,"-0,0",0.00,5.54,0.83,-4.71,-9.32,1
997,998,0.83,"-0,0",0.00,0.83,13.25,12.42,1.59,1
998,999,13.25,"-0,0",0.00,13.25,10.31,-2.94,6.54,1
999,1000,10.31,"-0,0",0.00,10.31,6.71,-3.60,-5.30,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,11373.11,"-5975,0",6995.25,12393.36,12436.56,43.20,4.09,0
1,2,12436.56,"-6120,0",7067.55,13384.11,13284.95,-99.16,-89.11,0
2,3,13284.95,"-5925,0",7087.68,14447.63,14371.67,-75.96,-172.46,0
3,4,14371.67,"-5840,0",11960.98,20492.65,20550.77,58.12,-132.89,0
4,5,20550.77,"-6070,0",7059.92,21540.69,21530.27,-10.42,-122.12,0
...,...,...,...,...,...,...,...,...,...
995,996,11.82,"-0,0",0.00,11.82,11.43,-0.39,-5.83,1
996,997,11.43,"-0,0",0.00,11.43,13.08,1.65,10.37,1
997,998,13.08,"-0,0",0.00,13.08,1.18,-11.90,-5.79,1
998,999,1.18,"-0,0",0.00,1.18,20.33,19.15,11.23,1
999,1000,20.33,"-0,0",0.00,20.33,11.29,-9.04,7.59,1

### Conjunto de datos de prueba

In [8]:
for case in data_dict:
    display(data_dict[case]['test_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21060.76,-5585,6958.22,22433.98,22364.70,-69.28,-213.88,0
1,2,22364.70,-6145,7053.56,23273.26,23332.72,59.46,-182.83,0
2,3,23332.72,-6165,7874.67,25042.39,24963.57,-78.82,-130.94,0
3,4,24963.57,-5855,3650.70,22759.27,22775.54,16.27,-94.01,0
4,5,22775.54,-6020,6527.31,23282.85,23235.80,-47.05,-104.34,0
...,...,...,...,...,...,...,...,...,...
995,996,15390.86,-6025,7062.64,16428.50,16374.81,-53.69,-246.44,1
996,997,16374.81,-6400,5748.32,15723.13,15677.62,-45.51,-353.89,1
997,998,15677.62,-6125,4719.72,14272.34,14356.39,84.05,-267.06,1
998,999,14356.39,-6120,5031.76,13268.15,13320.37,52.22,-190.72,1
999,1000,13320.37,-5950,6856.56,14226.93,14255.32,28.39,-128.96,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,14034.89,"-5705,0",7013.60,15343.49,15323.45,-20.04,228.67,0
1,2,15323.45,"-5970,0",7633.39,16986.84,16980.09,-6.75,138.05,0
2,3,16980.09,"-6250,0",4594.55,15324.64,15342.95,18.31,91.74,0
3,4,15342.95,"-6375,0",7716.89,16684.84,16706.73,21.89,36.45,0
4,5,16706.73,"-6020,0",7060.35,17747.08,17712.72,-34.36,101.33,0
...,...,...,...,...,...,...,...,...,...
995,996,2480.65,"-5740,0",5618.89,2359.54,2424.72,65.18,115.61,1
996,997,2424.72,"-5725,0",6292.34,2992.06,2952.52,-39.54,66.08,1
997,998,2952.52,"-5377,62",2403.34,-21.76,8.21,29.97,58.91,1
998,999,8.21,"-5756,65",6559.47,811.03,872.06,61.03,81.69,1
999,1000,872.06,"-4297,88",4862.58,1436.76,1366.38,-70.38,-15.06,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,23654.87,"-6005,0",4298.93,21948.80,21972.61,23.81,163.31,0
1,2,21972.61,"-6095,0",4622.96,20500.57,20617.61,117.04,322.76,0
2,3,20617.61,"-6175,0",9067.79,23510.40,23442.51,-67.89,221.84,0
3,4,23442.51,"-5990,0",3410.32,20862.83,20890.70,27.87,233.22,0
4,5,20890.70,"-5915,0",6810.38,21786.08,21803.84,17.76,215.53,0
...,...,...,...,...,...,...,...,...,...
995,996,10.65,"-0,0",0.00,10.65,30.77,20.12,26.54,1
996,997,30.77,"-0,0",0.00,30.77,0.47,-30.30,-3.40,1
997,998,0.47,"-0,0",0.00,0.47,4.08,3.61,0.87,1
998,999,4.08,"-0,0",0.00,4.08,1.82,-2.26,-3.71,1
999,1000,1.82,"-0,0",0.00,1.82,2.49,0.67,0.56,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21287.51,"-6070,0",7042.91,22260.42,22216.71,-43.71,188.20,0
1,2,22216.71,"-6065,0",4682.57,20834.28,20856.74,22.46,259.79,0
2,3,20856.74,"-6035,0",7234.09,22055.83,22134.30,78.47,272.27,0
3,4,22134.30,"-6120,0",5847.84,21862.14,22001.79,139.65,380.74,0
4,5,22001.79,"-5605,0",3757.23,20154.02,20186.77,32.75,279.92,0
...,...,...,...,...,...,...,...,...,...
995,996,3.31,"-0,0",0.00,3.31,4.22,0.91,-5.75,1
996,997,4.22,"-0,0",0.00,4.22,14.30,10.08,7.99,1
997,998,14.30,"-0,0",0.00,14.30,12.66,-1.64,10.33,1
998,999,12.66,"-0,0",0.00,12.66,2.96,-9.70,-1.54,1
999,1000,2.96,"-0,0",0.00,2.96,6.11,3.15,5.86,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19617.10,"-5720,0",6040.65,19937.75,19908.69,-29.06,287.97,0
1,2,19908.69,"-6040,0",9876.76,23745.45,23727.80,-17.65,238.88,0
2,3,23727.80,"-6040,0",6042.62,23730.42,23778.29,47.87,259.99,0
3,4,23778.29,"-5985,0",4048.45,21841.74,21813.92,-27.82,123.38,0
4,5,21813.92,"-6055,0",6875.76,22634.68,22664.82,30.14,231.15,0
...,...,...,...,...,...,...,...,...,...
995,996,10.50,"-0,0",0.00,10.50,23.41,12.91,9.18,1
996,997,23.41,"-0,0",0.00,23.41,0.69,-22.72,-2.91,1
997,998,0.69,"-0,0",0.00,0.69,6.88,6.19,3.32,1
998,999,6.88,"-0,0",0.00,6.88,7.00,0.12,0.49,1
999,1000,7.00,"-0,0",0.00,7.00,16.75,9.75,10.94,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,15362.61,"-6205,0",4348.17,13505.78,13436.24,-69.54,259.90,0
1,2,13436.24,"-6255,0",8032.58,15213.82,15174.65,-39.17,233.42,0
2,3,15174.65,"-6115,0",7934.11,16993.76,17045.24,51.48,300.07,0
3,4,17045.24,"-6230,0",5962.78,16778.02,16826.91,48.89,330.23,0
4,5,16826.91,"-6165,0",8008.51,18670.42,18664.17,-6.25,293.53,0
...,...,...,...,...,...,...,...,...,...
995,996,1.33,"-0,0",0.00,1.33,4.68,3.35,0.91,1
996,997,4.68,"-0,0",0.00,4.68,17.74,13.06,9.68,1
997,998,17.74,"-0,0",0.00,17.74,6.13,-11.61,5.23,1
998,999,6.13,"-0,0",0.00,6.13,1.95,-4.18,-10.78,1
999,1000,1.95,"-0,0",0.00,1.95,5.70,3.75,-4.08,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,18494.78,"-5950,0",5851.14,18395.92,18412.17,16.25,-84.69,0
1,2,18412.17,"-5865,0",7995.46,20542.63,20528.85,-13.78,-47.21,0
2,3,20528.85,"-5790,0",4036.02,18774.87,18860.58,85.71,88.97,0
3,4,18860.58,"-5940,0",6598.52,19519.10,19574.23,55.13,90.85,0
4,5,19574.23,"-6155,0",6263.71,19682.94,19663.56,-19.38,86.63,0
...,...,...,...,...,...,...,...,...,...
995,996,2.01,"-0,0",0.00,2.01,16.22,14.21,7.36,1
996,997,16.22,"-0,0",0.00,16.22,10.86,-5.36,3.14,1
997,998,10.86,"-0,0",0.00,10.86,19.86,9.00,8.27,1
998,999,19.86,"-0,0",0.00,19.86,12.29,-7.57,12.21,1
999,1000,12.29,"-0,0",0.00,12.29,4.85,-7.44,-4.91,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,22077.61,"-5970,0",6828.13,22935.74,22971.89,36.15,178.60,0
1,2,22971.89,"-5755,0",6175.66,23392.55,23484.62,92.07,359.98,0
2,3,23484.62,"-6535,0",3077.86,20027.48,19999.01,-28.47,263.86,0
3,4,19999.01,"-6200,0",6826.30,20625.31,20794.18,168.87,399.10,0
4,5,20794.18,"-6210,0",6969.64,21553.82,21576.57,22.75,361.17,0
...,...,...,...,...,...,...,...,...,...
995,996,2.38,"-0,0",0.00,2.38,6.16,3.78,-3.88,1
996,997,6.16,"-0,0",0.00,6.16,6.86,0.70,1.93,1
997,998,6.86,"-0,0",0.00,6.86,6.02,-0.84,2.20,1
998,999,6.02,"-0,0",0.00,6.02,3.71,-2.31,1.75,1
999,1000,3.71,"-0,0",0.00,3.71,4.84,1.13,4.49,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19151.05,"-6045,0",8896.55,22002.60,21974.50,-28.10,120.43,0
1,2,21974.50,"-5930,0",6101.08,22145.58,22156.07,10.49,149.98,0
2,3,22156.07,"-6135,0",6928.27,22949.34,23027.33,77.99,287.24,0
3,4,23027.33,"-6425,0",6577.84,23180.17,23134.57,-45.60,218.43,0
4,5,23134.57,"-6145,0",3432.57,20422.14,20397.11,-25.03,265.81,0
...,...,...,...,...,...,...,...,...,...
995,996,0.27,"-0,0",0.00,0.27,9.29,9.02,-1.34,1
996,997,9.29,"-0,0",0.00,9.29,8.73,-0.56,-7.47,1
997,998,8.73,"-0,0",0.00,8.73,13.92,5.19,9.26,1
998,999,13.92,"-0,0",0.00,13.92,24.99,11.07,18.55,1
999,1000,24.99,"-0,0",0.00,24.99,16.14,-8.85,2.67,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,13655.46,"-5935,0",11512.72,19233.18,19405.51,172.33,211.57,0
1,2,19405.51,"-6650,0",3678.03,16433.54,16467.10,33.56,204.34,0
2,3,16467.10,"-5720,0",6534.91,17282.01,17291.27,9.26,129.40,0
3,4,17291.27,"-5745,0",10564.38,22110.65,22124.69,14.04,148.18,0
4,5,22124.69,"-5625,0",5116.68,21616.37,21597.77,-18.60,203.65,0
...,...,...,...,...,...,...,...,...,...
995,996,16.76,"-0,0",0.00,16.76,6.56,-10.20,-7.83,1
996,997,6.56,"-0,0",0.00,6.56,14.31,7.75,6.80,1
997,998,14.31,"-0,0",0.00,14.31,0.04,-14.27,-1.67,1
998,999,0.04,"-0,0",0.00,0.04,2.45,2.41,-4.63,1
999,1000,2.45,"-0,0",0.00,2.45,3.89,1.44,-12.66,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,18831.51,"-6090,0",9010.27,21751.78,21727.77,-24.01,508.18,0
1,2,21727.77,"-6140,0",6929.71,22517.48,22587.42,69.94,545.28,0
2,3,22587.42,"-5725,0",4063.87,20926.29,20857.51,-68.78,449.32,0
3,4,20857.51,"-5745,0",7781.23,22893.74,22875.13,-18.61,389.62,0
4,5,22875.13,"-6250,0",3912.99,20538.12,20614.24,76.12,355.02,0
...,...,...,...,...,...,...,...,...,...
995,996,4.46,"-0,0",0.00,4.46,14.41,9.95,12.69,1
996,997,14.41,"-0,0",0.00,14.41,9.76,-4.65,6.04,1
997,998,9.76,"-0,0",0.00,9.76,2.55,-7.21,-16.74,1
998,999,2.55,"-0,0",0.00,2.55,9.52,6.97,6.90,1
999,1000,9.52,"-0,0",0.00,9.52,11.04,1.52,4.73,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,15886.17,"-5900,0",5970.30,15956.47,15980.01,23.54,68.46,0
1,2,15980.01,"-5810,0",6050.74,16220.75,16175.65,-45.10,8.64,0
2,3,16175.65,"-5760,0",5917.51,16333.16,16413.96,80.80,17.30,0
3,4,16413.96,"-5970,0",6982.80,17426.76,17460.02,33.26,68.23,0
4,5,17460.02,"-6340,0",7929.64,19049.66,19111.41,61.75,52.84,0
...,...,...,...,...,...,...,...,...,...
995,996,5.52,"-0,0",0.00,5.52,0.47,-5.05,-4.84,1
996,997,0.47,"-0,0",0.00,0.47,5.79,5.32,0.68,1
997,998,5.79,"-0,0",0.00,5.79,14.14,8.35,-0.25,1
998,999,14.14,"-0,0",0.00,14.14,4.73,-9.41,2.66,1
999,1000,4.73,"-0,0",0.00,4.73,1.06,-3.67,-9.51,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,15272.50,"-6010,0",10030.29,19292.79,19280.80,-11.99,292.48,0
1,2,19280.80,"-6205,0",3984.78,17060.58,17094.50,33.92,305.91,0
2,3,17094.50,"-5995,0",7951.55,19051.05,19091.82,40.77,164.52,0
3,4,19091.82,"-6255,0",3983.16,16819.98,16872.08,52.10,215.19,0
4,5,16872.08,"-5965,0",8512.19,19419.27,19433.93,14.66,140.65,0
...,...,...,...,...,...,...,...,...,...
995,996,16.81,"-0,0",0.00,16.81,4.18,-12.63,-0.89,1
996,997,4.18,"-0,0",0.00,4.18,10.01,5.83,5.26,1
997,998,10.01,"-0,0",0.00,10.01,6.14,-3.87,-0.29,1
998,999,6.14,"-0,0",0.00,6.14,14.10,7.96,2.67,1
999,1000,14.10,"-0,0",0.00,14.10,2.07,-12.03,0.29,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,14556.63,"-6100,0",7672.40,16129.03,16156.68,27.65,-66.83,0
1,2,16156.68,"-5970,0",3517.74,13704.42,13714.85,10.43,-97.98,0
2,3,13714.85,"-5975,0",8581.27,16321.12,16261.92,-59.20,-126.01,0
3,4,16261.92,"-6155,0",6603.20,16710.12,16773.23,63.11,-59.66,0
4,5,16773.23,"-6065,0",5252.68,15960.91,15952.40,-8.51,20.37,0
...,...,...,...,...,...,...,...,...,...
995,996,0.48,"-0,0",0.00,0.48,5.26,4.78,-4.23,1
996,997,5.26,"-0,0",0.00,5.26,14.41,9.15,9.68,1
997,998,14.41,"-0,0",0.00,14.41,16.94,2.53,14.11,1
998,999,16.94,"-0,0",0.00,16.94,5.52,-11.42,-3.93,1
999,1000,5.52,"-0,0",0.00,5.52,0.75,-4.77,-8.40,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,16880.67,"-6340,0",9520.82,20061.49,20089.20,27.71,239.98,0
1,2,20089.20,"-5965,0",8981.18,23105.38,23114.65,9.27,236.52,0
2,3,23114.65,"-6350,0",6284.23,23048.88,23080.01,31.13,96.76,0
3,4,23080.01,"-5495,0",3705.04,21290.05,21253.69,-36.36,173.15,0
4,5,21253.69,"-6010,0",6906.80,22150.49,22243.33,92.84,144.00,0
...,...,...,...,...,...,...,...,...,...
995,996,2.33,"-0,0",0.00,2.33,8.66,6.33,4.22,1
996,997,8.66,"-0,0",0.00,8.66,8.69,0.03,3.50,1
997,998,8.69,"-0,0",0.00,8.69,21.02,12.33,20.09,1
998,999,21.02,"-0,0",0.00,21.02,5.64,-15.38,3.39,1
999,1000,5.64,"-0,0",0.00,5.64,1.83,-3.81,0.17,1

<!-- TODO -->

## Selección de características

In [9]:
for case in data_dict:
    for dataset in ['train_dataframe', 'test_dataframe']:
        data_dict[case][dataset] = data_dict[case][dataset].filter(items=['Variacion', 'Fugando combustible'])

### Conjunto de datos de entrenamiento

In [10]:
for case in data_dict:
    display(data_dict[case]['train_dataframe'])

     Variacion  Fugando combustible
0       -39.49                    0
1        76.95                    0
2       -43.75                    0
3        58.10                    0
4       199.52                    0
..         ...                  ...
995      39.00                    1
996      50.33                    1
997     -75.25                    1
998       8.52                    1
999     -95.51                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        74.64                    0
1       -48.58                    0
2         3.41                    0
3        28.79                    0
4        31.68                    0
..         ...                  ...
995     -30.72                    1
996    -155.94                    1
997      42.03                    1
998      28.06                    1
999    -108.28                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        17.88                    0
1       -12.33                    0
2        54.59                    0
3        20.41                    0
4        44.61                    0
..         ...                  ...
995      12.19                    1
996      -9.69                    1
997      -4.40                    1
998      10.76                    1
999       0.98                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -19.68                    0
1        90.94                    0
2       -23.75                    0
3      -119.35                    0
4       -63.89                    0
..         ...                  ...
995       0.54                    1
996       3.39                    1
997       1.90                    1
998      -5.58                    1
999       1.53                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        38.57                    0
1        -3.80                    0
2       121.94                    0
3       -36.52                    0
4       -49.86                    0
..         ...                  ...
995       9.58                    1
996     -15.22                    1
997     -10.10                    1
998       6.75                    1
999      -8.02                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        20.47                    0
1        99.24                    0
2         5.11                    0
3        32.38                    0
4        69.93                    0
..         ...                  ...
995      -3.57                    1
996      17.11                    1
997     -20.02                    1
998      10.07                    1
999       6.94                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0         9.90                    0
1       114.91                    0
2       -21.36                    0
3        -8.21                    0
4        51.20                    0
..         ...                  ...
995       4.13                    1
996      15.94                    1
997     -10.37                    1
998      -0.60                    1
999      -1.45                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -42.81                    0
1        27.98                    0
2       152.44                    0
3        19.72                    0
4       -22.62                    0
..         ...                  ...
995      -7.85                    1
996       1.02                    1
997      10.19                    1
998      -6.43                    1
999      -4.59                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -87.52                    0
1       -74.87                    0
2       109.60                    0
3        43.07                    0
4        20.50                    0
..         ...                  ...
995      11.47                    1
996     -13.38                    1
997      -5.38                    1
998       5.32                    1
999      -1.52                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        62.52                    0
1        28.58                    0
2       -37.36                    0
3       -16.14                    0
4       -14.46                    0
..         ...                  ...
995      -2.91                    1
996       7.23                    1
997      -6.62                    1
998      24.76                    1
999     -12.88                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        65.33                    0
1       129.89                    0
2        33.55                    0
3        50.70                    0
4        91.63                    0
..         ...                  ...
995     -11.43                    1
996      -4.60                    1
997       4.75                    1
998      15.09                    1
999     -19.36                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -42.83                    0
1        23.11                    0
2       -11.13                    0
3        47.83                    0
4       -27.58                    0
..         ...                  ...
995      -9.57                    1
996       0.77                    1
997      -5.45                    1
998      -1.45                    1
999       7.78                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        37.72                    0
1       -41.49                    0
2        63.81                    0
3        43.61                    0
4        48.90                    0
..         ...                  ...
995      -2.60                    1
996       0.74                    1
997       2.01                    1
998      -3.66                    1
999       7.76                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        54.77                    0
1        57.78                    0
2       -58.89                    0
3        21.36                    0
4       -53.66                    0
..         ...                  ...
995       1.77                    1
996      -4.71                    1
997      12.42                    1
998      -2.94                    1
999      -3.60                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        43.20                    0
1       -99.16                    0
2       -75.96                    0
3        58.12                    0
4       -10.42                    0
..         ...                  ...
995      -0.39                    1
996       1.65                    1
997     -11.90                    1
998      19.15                    1
999      -9.04                    1

[1000 rows x 2 columns]

### Conjunto de datos de prueba

In [11]:
for case in data_dict:
    display(data_dict[case]['test_dataframe'])

     Variacion  Fugando combustible
0       -69.28                    0
1        59.46                    0
2       -78.82                    0
3        16.27                    0
4       -47.05                    0
..         ...                  ...
995     -53.69                    1
996     -45.51                    1
997      84.05                    1
998      52.22                    1
999      28.39                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -20.04                    0
1        -6.75                    0
2        18.31                    0
3        21.89                    0
4       -34.36                    0
..         ...                  ...
995      65.18                    1
996     -39.54                    1
997      29.97                    1
998      61.03                    1
999     -70.38                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        23.81                    0
1       117.04                    0
2       -67.89                    0
3        27.87                    0
4        17.76                    0
..         ...                  ...
995      20.12                    1
996     -30.30                    1
997       3.61                    1
998      -2.26                    1
999       0.67                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -43.71                    0
1        22.46                    0
2        78.47                    0
3       139.65                    0
4        32.75                    0
..         ...                  ...
995       0.91                    1
996      10.08                    1
997      -1.64                    1
998      -9.70                    1
999       3.15                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -29.06                    0
1       -17.65                    0
2        47.87                    0
3       -27.82                    0
4        30.14                    0
..         ...                  ...
995      12.91                    1
996     -22.72                    1
997       6.19                    1
998       0.12                    1
999       9.75                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -69.54                    0
1       -39.17                    0
2        51.48                    0
3        48.89                    0
4        -6.25                    0
..         ...                  ...
995       3.35                    1
996      13.06                    1
997     -11.61                    1
998      -4.18                    1
999       3.75                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        16.25                    0
1       -13.78                    0
2        85.71                    0
3        55.13                    0
4       -19.38                    0
..         ...                  ...
995      14.21                    1
996      -5.36                    1
997       9.00                    1
998      -7.57                    1
999      -7.44                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        36.15                    0
1        92.07                    0
2       -28.47                    0
3       168.87                    0
4        22.75                    0
..         ...                  ...
995       3.78                    1
996       0.70                    1
997      -0.84                    1
998      -2.31                    1
999       1.13                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -28.10                    0
1        10.49                    0
2        77.99                    0
3       -45.60                    0
4       -25.03                    0
..         ...                  ...
995       9.02                    1
996      -0.56                    1
997       5.19                    1
998      11.07                    1
999      -8.85                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       172.33                    0
1        33.56                    0
2         9.26                    0
3        14.04                    0
4       -18.60                    0
..         ...                  ...
995     -10.20                    1
996       7.75                    1
997     -14.27                    1
998       2.41                    1
999       1.44                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -24.01                    0
1        69.94                    0
2       -68.78                    0
3       -18.61                    0
4        76.12                    0
..         ...                  ...
995       9.95                    1
996      -4.65                    1
997      -7.21                    1
998       6.97                    1
999       1.52                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        23.54                    0
1       -45.10                    0
2        80.80                    0
3        33.26                    0
4        61.75                    0
..         ...                  ...
995      -5.05                    1
996       5.32                    1
997       8.35                    1
998      -9.41                    1
999      -3.67                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -11.99                    0
1        33.92                    0
2        40.77                    0
3        52.10                    0
4        14.66                    0
..         ...                  ...
995     -12.63                    1
996       5.83                    1
997      -3.87                    1
998       7.96                    1
999     -12.03                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        27.65                    0
1        10.43                    0
2       -59.20                    0
3        63.11                    0
4        -8.51                    0
..         ...                  ...
995       4.78                    1
996       9.15                    1
997       2.53                    1
998     -11.42                    1
999      -4.77                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        27.71                    0
1         9.27                    0
2        31.13                    0
3       -36.36                    0
4        92.84                    0
..         ...                  ...
995       6.33                    1
996       0.03                    1
997      12.33                    1
998     -15.38                    1
999      -3.81                    1

[1000 rows x 2 columns]

<!-- TODO -->

## Unificación de conjunto de datos

In [12]:
complete_train_dataframe = pd.concat([data_dict[key]['train_dataframe'] for key in data_dict])

X_train_complete = complete_train_dataframe.drop(columns='Fugando combustible')
y_train_complete = complete_train_dataframe['Fugando combustible']

## Implementación de modelos

### Definición de métricas

In [13]:
def leak_detection_delay(y_true: np.array, y_pred: np.array) -> int:
    real_first_leak_day = 0
    while y_true[real_first_leak_day] != 1: real_first_leak_day += 1

    pred_first_leak_day = 0
    while y_pred[pred_first_leak_day] != 1: pred_first_leak_day += 1

    return (pred_first_leak_day - real_first_leak_day)

### Aplicación de `GridSearch` a modelos

In [14]:
from sklearn.model_selection import GridSearchCV

def eval_classic_model(base_classifier, param_grid, cv = 5) -> None:
    grid_search = GridSearchCV(
        estimator = base_classifier,
        param_grid = param_grid,
        cv = cv
    )

    grid_search.fit(X_train_complete, y_train_complete)

    print(f"Best parameters found: {grid_search.best_params_}")

    result_dict = {}

    best_classifier = grid_search.best_estimator_
    for case in data_dict:
        leak_value = data_dict[case]['leak_value']
        test_dataframe = data_dict[case]['test_dataframe']

        X_test = test_dataframe.drop(columns='Fugando combustible')
        y_test = test_dataframe['Fugando combustible']

        best_classifier = grid_search.best_estimator_
        y_pred = best_classifier.predict(X_test)

        accuracy = accuracy_score(y_test, y_pred)
        leak_delay = leak_detection_delay(y_test, y_pred)

        result_dict[leak_value] = [accuracy, leak_delay]
    
    display(pd.DataFrame.from_dict(
        data = result_dict,
        orient = 'index',
        columns = ['accuracy_score', 'leak_detection_delay']
    ))

### Modelos clásicos

#### Random Forest Classifier

In [15]:
from sklearn.ensemble import RandomForestClassifier

rf_classifier = RandomForestClassifier()

rf_param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20, 30],
    'max_features': ['auto', 'sqrt', 'log2'],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

eval_classic_model(rf_classifier, rf_param_grid)

c:\Users\cabre\anaconda3\envs\py310\lib\site-packages\sklearn\model_selection\_validation.py:547: FitFailedWarning:
540 fits failed out of a total of 1620.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
540 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\cabre\anaconda3\envs\py310\lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\cabre\anaconda3\envs\py310\lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "c:\Users\cabre\anaconda3\envs\py310\lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\cabre\anaconda3\envs\py310\lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\cabre\anaconda3\envs\py310\lib\site-packages\sklearn\model_selection\_search.py:1051: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.6838     0.68313333 0.6846
 0.6924     0.69453333 0.694      0.7108     0.7128     0.71353333
 0.70813333 0.71093333 0.71046667 0.7088     0.7112     0.71113333
 0.719      0.71973333 0.72       0.7264     0.7264     0.7256
 0.72586667 0.72753333 0.7262     0.728      0.72606667 0.728
 0.68313333 0.6838     0.6848     0.69186667 0.6938     0.694
 0.71273333 0.71213333 0.71226667 0.71013333 0.71093333 0.7104
 0.70946667 0.71026667 0.7106     0.71806667 0.7192     0.71906667
 0.72373333 0.72513333 0.72726667 0.7268     0.7264     0.72706667
 0.72586667 0.7268     0.72733333        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.75226667 0.75306667 0.7542     0.75413333 0.7532     0.7544
 0.75453333 0.75426667 0.75353333 0.75133333 0.75286667 0.75413333
 0.75413333 0.75386667 0.75326667 0.75366667 0.75433333 0.75506667
 0.75293333 0.75413333 0.75186667 0.7536     0.7528     0.7526
 0.75233333 0.753      0.75286667 0.75146667 0.75326667 0.75393333
 0.75466667 0.75353333 0.75413333 0.75413333 0.7542     0.75406667
 0.7536     0.75406667 0.754      0.7526     0.7544     0.75373333
 0.75326667 0.75446667 0.753      0.75353333 0.7526     0.75253333
 0.7536     0.75413333 0.75366667 0.7538     0.75393333 0.75326667
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.71213333 0.7108     0.71333333
 0.71946667 0.723      0.7232     0.7314     0.732      0.73253333
 0.72493333 0.72773333 0.72786667 0.72773333 0.72633333 0.7264
 0.7328     0.73493333 0.73333333 0.7352     0.73426667 0.736
 0.73206667 0.73453333 0.73526667 0.73613333 0.73513333 0.73573333
 0.71213333 0.71513333 0.71226667 0.72026667 0.72326667 0.72333333
 0.73273333 0.73066667 0.73013333 0.72506667 0.72673333 0.72746667
 0.72666667 0.72786667 0.7284     0.7332     0.7328     0.73373333
 0.73513333 0.7332     0.73413333 0.7334     0.73333333 0.7352
 0.73573333 0.73533333 0.73613333        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.68913333 0.68873333 0.6878     0.69913333 0.6976     0.69973333
 0.71613333 0.7178     0.7164     0.71153333 0.71426667 0.71293333
 0.71353333 0.71166667 0.71273333 0.72073333 0.72166667 0.72253333
 0.72913333 0.72806667 0.72733333 0.7274     0.728      0.72766667
 0.72933333 0.72906667 0.72813333 0.6894     0.68706667 0.6878
 0.69966667 0.69906667 0.69846667 0.71593333 0.71646667 0.71753333
 0.71206667 0.71306667 0.71386667 0.71386667 0.71353333 0.71346667
 0.72133333 0.72026667 0.72186667 0.72666667 0.72733333 0.72846667
 0.72673333 0.72833333 0.7272     0.72766667 0.7276     0.7288    ]
  warnings.warn(

Best parameters found: {'max_depth': 10, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 10, 'n_estimators': 200}

          accuracy_score  leak_detection_delay
0.013000           0.529                  -495
0.054929           0.525                  -493
0.096857           0.662                  -495
0.138786           0.703                  -490
0.180714           0.761                  -489
0.222643           0.779                  -486
0.264571           0.797                  -494
0.306500           0.808                  -492
0.348429           0.826                  -492
0.390357           0.808                  -493
0.432286           0.831                  -494
0.474214           0.854                  -488
0.516143           0.843                  -488
0.558071           0.815                  -485
0.600000           0.826                  -493

#### Naive Bayes Classifier

In [16]:
from sklearn.naive_bayes import GaussianNB

gnb_classifier = GaussianNB()

gnb_param_grid = {
    'var_smoothing': [1e-11, 1e-10, 1e-9, 1e-8, 1e-7, 1e-6, 1e-5]
}

eval_classic_model(gnb_classifier, gnb_param_grid)

Best parameters found: {'var_smoothing': 1e-11}

          accuracy_score  leak_detection_delay
0.013000           0.525                  -485
0.054929           0.608                  -494
0.096857           0.607                  -494
0.138786           0.599                  -494
0.180714           0.555                  -494
0.222643           0.548                  -486
0.264571           0.524                  -489
0.306500           0.517                  -493
0.348429           0.501                  -495
0.390357           0.508                  -491
0.432286           0.501                  -486
0.474214           0.485                  -488
0.516143           0.468                  -491
0.558071           0.473                  -493
0.600000           0.470                  -495

#### KNN Classifier

In [17]:
from sklearn.neighbors import KNeighborsClassifier

knn_classifier = KNeighborsClassifier()

knn_param_grid = {
    'n_neighbors': [3, 5, 7, 9, 11],
    'weights': ['uniform', 'distance'],
    'metric': ['euclidean', 'manhattan', 'minkowski']
}

eval_classic_model(knn_classifier, knn_param_grid)

Best parameters found: {'metric': 'euclidean', 'n_neighbors': 11, 'weights': 'uniform'}

          accuracy_score  leak_detection_delay
0.013000           0.534                  -495
0.054929           0.534                  -493
0.096857           0.650                  -495
0.138786           0.706                  -495
0.180714           0.751                  -489
0.222643           0.765                  -486
0.264571           0.774                  -495
0.306500           0.791                  -492
0.348429           0.820                  -492
0.390357           0.792                  -491
0.432286           0.811                  -494
0.474214           0.833                  -488
0.516143           0.825                  -488
0.558071           0.794                  -485
0.600000           0.802                  -493

#### XGBoost Classifier

In [18]:
from xgboost import XGBClassifier

xgb_classifier = XGBClassifier()

xgb_param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [3, 5, 7, 9],
    'learning_rate': [0.01, 0.1, 0.2, 0.3],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0]
}

eval_classic_model(xgb_classifier, xgb_param_grid)

Best parameters found: {'colsample_bytree': 0.6, 'learning_rate': 0.01, 'max_depth': 5, 'n_estimators': 200, 'subsample': 1.0}

          accuracy_score  leak_detection_delay
0.013000           0.537                  -495
0.054929           0.520                  -493
0.096857           0.661                  -495
0.138786           0.698                  -490
0.180714           0.760                  -489
0.222643           0.788                  -486
0.264571           0.799                  -494
0.306500           0.807                  -487
0.348429           0.831                  -488
0.390357           0.819                  -493
0.432286           0.832                  -494
0.474214           0.856                  -487
0.516143           0.853                  -488
0.558071           0.825                  -485
0.600000           0.833                  -493

### Múltiples modelos de _Deep Learning_

In [15]:
result_dict = {}
for case in data_dict:
    X_train = data_dict[case]['train_dataframe'].drop(columns='Fugando combustible')
    y_train = data_dict[case]['train_dataframe']['Fugando combustible']
    
    model = tf.keras.Sequential([
        tf.keras.layers.Input(shape=(X_train.shape[1], 1)),
        tf.keras.layers.LSTM(15, dropout=0.2),
        tf.keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(
        optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
        loss='binary_crossentropy',
        metrics=['accuracy']
    )

    history = model.fit(
        x = X_train,
        y = y_train,
        epochs = 50,
        batch_size = 8192,
        verbose = 0
    )

    leak_value = data_dict[case]['leak_value']

    X_test = data_dict[case]['test_dataframe'].drop(columns='Fugando combustible')
    y_test = data_dict[case]['test_dataframe']['Fugando combustible']
    
    y_pred = (model.predict(X_test, verbose=0) > 0.5).astype(int)

    test_accuracy = accuracy_score(y_test, y_pred)

    test_leak_delay = leak_detection_delay(y_test, y_pred)

    result_dict[leak_value] = (test_accuracy, test_leak_delay)

    # model.save(f'../../models/{case}.keras')

display(pd.DataFrame.from_dict(
    data = result_dict,
    orient = 'index',
    columns = ['accuracy_score', 'leak_detection_delay']
))

          accuracy_score  leak_detection_delay
0.013000           0.560                  -495
0.054929           0.633                  -495
0.096857           0.657                  -493
0.138786           0.576                  -472
0.180714           0.421                  -493
0.222643           0.633                  -491
0.264571           0.790                  -494
0.306500           0.613                  -493
0.348429           0.721                  -494
0.390357           0.762                  -493
0.432286           0.680                  -495
0.474214           0.549                  -495
0.516143           0.695                  -495
0.558071           0.609                  -493
0.600000           0.754                  -495

### Único modelo

In [20]:
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(X_train_complete.shape[1], 1)),
    tf.keras.layers.LSTM(15, dropout=0.2),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
    loss='binary_crossentropy',
    metrics=['accuracy']
)

history = model.fit(
    x = X_train_complete,
    y = y_train_complete,
    epochs = 50,
    batch_size = 8192,
    verbose = 0
)

result_dict = {}
for case in data_dict:
    leak_value = data_dict[case]['leak_value']
    X_test = data_dict[case]['test_dataframe'].drop(columns='Fugando combustible')
    y_test = data_dict[case]['test_dataframe']['Fugando combustible']
    
    y_pred = (model.predict(X_test, verbose=0) > 0.5).astype(int)

    test_accuracy = accuracy_score(y_test, y_pred)

    test_leak_delay = leak_detection_delay(y_test, y_pred)

    result_dict[leak_value] = (test_accuracy, test_leak_delay)

display(pd.DataFrame.from_dict(
    data = result_dict,
    orient = 'index',
    columns = ['accuracy_score', 'leak_detection_delay']
))

          accuracy_score  leak_detection_delay
0.013000           0.515                  -495
0.054929           0.477                  -493
0.096857           0.568                  -495
0.138786           0.614                  -490
0.180714           0.675                  -489
0.222643           0.685                  -489
0.264571           0.711                  -494
0.306500           0.727                  -491
0.348429           0.746                  -488
0.390357           0.746                  -493
0.432286           0.755                  -494
0.474214           0.777                  -487
0.516143           0.789                  -485
0.558071           0.769                  -485
0.600000           0.775                  -488