# TFM

## Importación de librerías

In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import toml
import random
import tensorflow as tf
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import confusion_matrix

## Ejecución de código en GPU

In [83]:
import tensorflow as tf

# Comprobar la versión de TensorFlow
print("TensorFlow version:", tf.__version__)

# Listar todos los dispositivos físicos disponibles
physical_devices = tf.config.list_physical_devices('GPU')

if physical_devices:
    print("🟢 TensorFlow ha detectado la(s) siguiente(s) GPU(s):")
    for gpu in physical_devices:
        print(f'\t{gpu}')
else:
    print("🔴 No se ha detectado ninguna GPU. TensorFlow está utilizando la CPU.")

TensorFlow version: 2.10.0
🟢 TensorFlow ha detectado la(s) siguiente(s) GPU(s):
	PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')

## Lectura de fichero

In [84]:
data_dict = {}
DATA_DIR = '../../data/'

for data_folder in os.listdir(DATA_DIR):
    *data_files, config_file = os.listdir(f'{DATA_DIR}/{data_folder}')

    leak_value = toml.load(f'{DATA_DIR}/{data_folder}/{config_file}')['tanks']['flow_value']

    train_dataframe, test_data = random.sample(data_files, 2)

    data_dict[data_folder] = {
        'leak_value': leak_value,
        'train_dataframe': pd.read_csv(f'{DATA_DIR}/{data_folder}/{train_dataframe}').drop(columns=['Unnamed: 0']),
        'test_dataframe': pd.read_csv(f'{DATA_DIR}/{data_folder}/{test_data}').drop(columns=['Unnamed: 0'])
    }

### Conjuntos de datos de entrenamiento

In [85]:
for case in data_dict:
    display(data_dict[case]['train_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20247,25",-5580,"6051,35","20718,6","20679,11","-39,49","-2,21",0
1,2,"20679,11",-6195,"7936,54","22420,65","22497,6","76,95","164,76",0
2,3,"22497,6",-6165,"5995,68","22328,28","22284,53","-43,75","73,79",0
3,4,"22284,53",-5720,"5031,76","21596,29","21654,39","58,1","181,92",0
4,5,"21654,39",-6075,"9124,56","24703,95","24903,47","199,52","323,61",0
...,...,...,...,...,...,...,...,...,...
995,996,"14567,32",-5990,"6995,54","15572,86","15611,86","39,0","-8,11",1
996,997,"15611,86",-6405,"6226,8","15433,66","15483,99","50,33","14,33",1
997,998,"15483,99",-5670,"5799,07","15613,06","15537,81","-75,25","6,19",1
998,999,"15537,81",-6130,"5099,01","14506,82","14515,34","8,52","84,27",1
999,1000,"14515,34",-6130,"8868,5","17253,84","17158,33","-95,51","-78,56",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"14034,89","-5705,0","7013,6","15343,49","15323,45","-20,04","228,67",0
1,2,"15323,45","-5970,0","7633,39","16986,84","16980,09","-6,75","138,05",0
2,3,"16980,09","-6250,0","4594,55","15324,64","15342,95","18,31","91,74",0
3,4,"15342,95","-6375,0","7716,89","16684,84","16706,73","21,89","36,45",0
4,5,"16706,73","-6020,0","7060,35","17747,08","17712,72","-34,36","101,33",0
...,...,...,...,...,...,...,...,...,...
995,996,"2480,65","-5740,0","5618,89","2359,54","2424,72","65,18","115,61",1
996,997,"2424,72","-5725,0","6292,34","2992,06","2952,52","-39,54","66,08",1
997,998,"2952,52","-5377,62","2403,34","-21,76","8,21","29,97","58,91",1
998,999,"8,21","-5756,65","6559,47","811,03","872,06","61,03","81,69",1
999,1000,"872,06","-4297,88","4862,58","1436,76","1366,38","-70,38","-15,06",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"17445,49","-6140,0","8023,3","19328,79","19296,68","-32,11","150,41",0
1,2,"19296,68","-6010,0","5934,11","19220,79","19289,27","68,48","262,39",0
2,3,"19289,27","-5600,0","9215,39","22904,66","22910,69","6,03","227,65",0
3,4,"22910,69","-6070,0","6617,77","23458,46","23450,71","-7,75","172,64",0
4,5,"23450,71","-5685,0","3400,23","21165,94","21214,19","48,25","159,64",0
...,...,...,...,...,...,...,...,...,...
995,996,"0,72","-0,0","0,0","0,72","1,57","0,85","-3,08",1
996,997,"1,57","-0,0","0,0","1,57","11,07","9,5","1,17",1
997,998,"11,07","-0,0","0,0","11,07","6,2","-4,87","3,13",1
998,999,"6,2","-0,0","0,0","6,2","5,54","-0,66","-9,25",1
999,1000,"5,54","-0,0","0,0","5,54","3,05","-2,49","-13,9",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21399,05","-5790,0","5638,02","21247,07","21227,09","-19,98","63,76",0
1,2,"21227,09","-5895,0","5241,74","20573,83","20576,89","3,06","133,61",0
2,3,"20576,89","-6055,0","6999,43","21521,32","21504,09","-17,23","33,97",0
3,4,"21504,09","-5995,0","9004,73","24513,82","24667,5","153,68","232,55",0
4,5,"24667,5","-6005,0","5447,75","24110,25","24146,71","36,46","202,77",0
...,...,...,...,...,...,...,...,...,...
995,996,"2,62","-0,0","0,0","2,62","19,24","16,62","5,27",1
996,997,"19,24","-0,0","0,0","19,24","14,88","-4,36","5,99",1
997,998,"14,88","-0,0","0,0","14,88","9,37","-5,51","-4,99",1
998,999,"9,37","-0,0","0,0","9,37","3,89","-5,48","-11,62",1
999,1000,"3,89","-0,0","0,0","3,89","2,18","-1,71","-8,49",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21372,17","-5985,0","7788,9","23176,07","23214,64","38,57","19,95",0
1,2,"23214,64","-5765,0","2969,27","20418,91","20415,11","-3,8","61,14",0
2,3,"20415,11","-6325,0","7390,24","21480,35","21602,29","121,94","144,09",0
3,4,"21602,29","-6190,0","7315,88","22728,17","22691,65","-36,52","217,46",0
4,5,"22691,65","-5690,0","6031,24","23032,89","22983,03","-49,86","170,15",0
...,...,...,...,...,...,...,...,...,...
995,996,"17,19","-0,0","0,0","17,19","26,77","9,58","23,15",1
996,997,"26,77","-0,0","0,0","26,77","11,55","-15,22","10,12",1
997,998,"11,55","-0,0","0,0","11,55","1,45","-10,1","-1,74",1
998,999,"1,45","-0,0","0,0","1,45","8,2","6,75","5,73",1
999,1000,"8,2","-0,0","0,0","8,2","0,18","-8,02","-8,06",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"15362,61","-6205,0","4348,17","13505,78","13436,24","-69,54","259,9",0
1,2,"13436,24","-6255,0","8032,58","15213,82","15174,65","-39,17","233,42",0
2,3,"15174,65","-6115,0","7934,11","16993,76","17045,24","51,48","300,07",0
3,4,"17045,24","-6230,0","5962,78","16778,02","16826,91","48,89","330,23",0
4,5,"16826,91","-6165,0","8008,51","18670,42","18664,17","-6,25","293,53",0
...,...,...,...,...,...,...,...,...,...
995,996,"1,33","-0,0","0,0","1,33","4,68","3,35","0,91",1
996,997,"4,68","-0,0","0,0","4,68","17,74","13,06","9,68",1
997,998,"17,74","-0,0","0,0","17,74","6,13","-11,61","5,23",1
998,999,"6,13","-0,0","0,0","6,13","1,95","-4,18","-10,78",1
999,1000,"1,95","-0,0","0,0","1,95","5,7","3,75","-4,08",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19740,03","-5920,0","10305,52","24125,55","24176,62","51,07","306,45",0
1,2,"24176,62","-6015,0","3018,53","21180,15","21184,86","4,71","273,95",0
2,3,"21184,86","-5815,0","6534,34","21904,2","21949,08","44,88","293,49",0
3,4,"21949,08","-5725,0","7502,0","23726,08","23762,94","36,86","298,66",0
4,5,"23762,94","-6060,0","4710,68","22413,62","22440,19","26,57","297,24",0
...,...,...,...,...,...,...,...,...,...
995,996,"9,35","-0,0","0,0","9,35","8,41","-0,94","6,29",1
996,997,"8,41","-0,0","0,0","8,41","0,15","-8,26","-0,48",1
997,998,"0,15","-0,0","0,0","0,15","5,66","5,51","2,92",1
998,999,"5,66","-0,0","0,0","5,66","18,47","12,81","1,72",1
999,1000,"18,47","-0,0","0,0","18,47","1,44","-17,03","-4,71",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20389,74","-6085,0","6018,92","20323,66","20280,85","-42,81","-227,07",0
1,2,"20280,85","-6130,0","6987,5","21138,35","21166,33","27,98","-177,78",0
2,3,"21166,33","-5790,0","6847,16","22223,49","22375,93","152,44","-119,98",0
3,4,"22375,93","-5865,0","6015,82","22526,75","22546,47","19,72","-160,65",0
4,5,"22546,47","-6185,0","7640,53","24002,0","23979,38","-22,62","-195,03",0
...,...,...,...,...,...,...,...,...,...
995,996,"9,51","-0,0","0,0","9,51","1,66","-7,85","-4,44",1
996,997,"1,66","-0,0","0,0","1,66","2,68","1,02","-17,37",1
997,998,"2,68","-0,0","0,0","2,68","12,87","10,19","7,04",1
998,999,"12,87","-0,0","0,0","12,87","6,44","-6,43","-8,31",1
999,1000,"6,44","-0,0","0,0","6,44","1,85","-4,59","-3,63",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19032,43","-6180,0","4120,62","16973,05","17009,11","36,06","371,14",0
1,2,"17009,11","-5765,0","10915,99","22160,1","22090,78","-69,32","316,41",0
2,3,"22090,78","-5980,0","5959,22","22070,0","22134,09","64,09","387,64",0
3,4,"22134,09","-5830,0","6860,39","23164,48","23278,27","113,79","408,51",0
4,5,"23278,27","-5905,0","3037,8","20411,07","20388,6","-22,47","364,77",0
...,...,...,...,...,...,...,...,...,...
995,996,"12,2","-0,0","0,0","12,2","7,37","-4,83","-15,92",1
996,997,"7,37","-0,0","0,0","7,37","5,59","-1,78","-6,97",1
997,998,"5,59","-0,0","0,0","5,59","11,02","5,43","0,8",1
998,999,"11,02","-0,0","0,0","11,02","6,54","-4,48","-11,65",1
999,1000,"6,54","-0,0","0,0","6,54","20,67","14,13","14,4",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"17175,65","-6040,0","11136,86","22272,51","22101,01","-171,5","117,87",0
1,2,"22101,01","-6095,0","7811,38","23817,39","23841,55","24,16","80,96",0
2,3,"23841,55","-5795,0","5900,6","23947,15","23854,38","-92,77","-48,54",0
3,4,"23854,38","-6225,0","5615,01","23244,39","23242,13","-2,26","-163,52",0
4,5,"23242,13","-6135,0","5285,63","22392,76","22344,19","-48,57","-203,4",0
...,...,...,...,...,...,...,...,...,...
995,996,"9,35","-0,0","0,0","9,35","4,28","-5,07","-4,11",1
996,997,"4,28","-0,0","0,0","4,28","30,52","26,24","27,38",1
997,998,"30,52","-0,0","0,0","30,52","0,69","-29,83","-3,62",1
998,999,"0,69","-0,0","0,0","0,69","17,12","16,43","10,75",1
999,1000,"17,12","-0,0","0,0","17,12","5,44","-11,68","-5,76",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"16942,12","-5825,0","5491,42","16608,54","16673,87","65,33","187,29",0
1,2,"16673,87","-5825,0","6897,1","17745,97","17875,86","129,89","237,48",0
2,3,"17875,86","-5965,0","6950,25","18861,11","18894,66","33,55","253,19",0
3,4,"18894,66","-5970,0","7962,56","20887,22","20937,92","50,7","387,03",0
4,5,"20937,92","-6135,0","5924,27","20727,19","20818,82","91,63","502,42",0
...,...,...,...,...,...,...,...,...,...
995,996,"19,68","-0,0","0,0","19,68","8,25","-11,43","0,72",1
996,997,"8,25","-0,0","0,0","8,25","3,65","-4,6","-8,36",1
997,998,"3,65","-0,0","0,0","3,65","8,4","4,75","4,92",1
998,999,"8,4","-0,0","0,0","8,4","23,49","15,09","16,35",1
999,1000,"23,49","-0,0","0,0","23,49","4,13","-19,36","0,1",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"18248,42","-5890,0","7012,33","19370,75","19378,62","7,87","-61,1",0
1,2,"19378,62","-5950,0","6942,62","20371,24","20411,72","40,48","-16,9",0
2,3,"20411,72","-6070,0","6945,78","21287,5","21339,7","52,2","125,63",0
3,4,"21339,7","-5970,0","7011,03","22380,73","22385,01","4,28","200,94",0
4,5,"22385,01","-5705,0","5155,21","21835,22","21881,27","46,05","298,92",0
...,...,...,...,...,...,...,...,...,...
995,996,"12,16","-0,0","0,0","12,16","1,45","-10,71","-7,61",1
996,997,"1,45","-0,0","0,0","1,45","5,94","4,49","3,09",1
997,998,"5,94","-0,0","0,0","5,94","8,7","2,76","-1,52",1
998,999,"8,7","-0,0","0,0","8,7","4,53","-4,17","-1,27",1
999,1000,"4,53","-0,0","0,0","4,53","12,66","8,13","8,71",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"23056,29","-5975,0","3639,31","20720,6","20716,68","-3,92","334,01",0
1,2,"20716,68","-6150,0","7008,88","21575,56","21681,55","105,99","352,59",0
2,3,"21681,55","-6030,0","6463,74","22115,29","22138,84","23,55","354,54",0
3,4,"22138,84","-6330,0","4019,4","19828,24","19807,63","-20,61","339,9",0
4,5,"19807,63","-6315,0","10039,4","23532,03","23487,69","-44,34","121,91",0
...,...,...,...,...,...,...,...,...,...
995,996,"1,75","-0,0","0,0","1,75","13,26","11,51","10,31",1
996,997,"13,26","-0,0","0,0","13,26","4,6","-8,66","-5,13",1
997,998,"4,6","-0,0","0,0","4,6","9,65","5,05","6,75",1
998,999,"9,65","-0,0","0,0","9,65","6,1","-3,55","-3,36",1
999,1000,"6,1","-0,0","0,0","6,1","1,3","-4,8","-29,68",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"17698,38","-5710,0","4618,64","16607,02","16580,51","-26,51","35,66",0
1,2,"16580,51","-5875,0","6004,3","16709,81","16702,31","-7,5","58,61",0
2,3,"16702,31","-6250,0","8001,28","18453,59","18456,14","2,55","-9,07",0
3,4,"18456,14","-5870,0","6931,83","19517,97","19595,08","77,11","-16,24",0
4,5,"19595,08","-6330,0","7449,42","20714,5","20644,03","-70,47","-108,89",0
...,...,...,...,...,...,...,...,...,...
995,996,"1,11","-0,0","0,0","1,11","1,53","0,42","-12,95",1
996,997,"1,53","-0,0","0,0","1,53","5,18","3,65","0,97",1
997,998,"5,18","-0,0","0,0","5,18","9,61","4,43","9,4",1
998,999,"9,61","-0,0","0,0","9,61","13,39","3,78","3,06",1
999,1000,"13,39","-0,0","0,0","13,39","11,13","-2,26","6,95",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"22883,35","-6050,0","5453,86","22287,21","22230,52","-56,69","249,29",0
1,2,"22230,52","-6275,0","3883,29","19838,81","19981,1","142,29","345,12",0
2,3,"19981,1","-6150,0","7525,49","21356,59","21346,06","-10,53","273,17",0
3,4,"21346,06","-6130,0","6948,29","22164,35","22227,3","62,95","280,51",0
4,5,"22227,3","-5815,0","5639,5","22051,8","22112,87","61,07","286,84",0
...,...,...,...,...,...,...,...,...,...
995,996,"1,47","-0,0","0,0","1,47","15,25","13,78","10,81",1
996,997,"15,25","-0,0","0,0","15,25","6,77","-8,48","-2,84",1
997,998,"6,77","-0,0","0,0","6,77","1,04","-5,73","-11,61",1
998,999,"1,04","-0,0","0,0","1,04","22,11","21,07","14,93",1
999,1000,"22,11","-0,0","0,0","22,11","3,17","-18,94","-8,99",1

### Conjunto de datos de prueba

In [86]:
for case in data_dict:
    display(data_dict[case]['test_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21060,76",-5585,"6958,22","22433,98","22364,7","-69,28","-213,88",0
1,2,"22364,7",-6145,"7053,56","23273,26","23332,72","59,46","-182,83",0
2,3,"23332,72",-6165,"7874,67","25042,39","24963,57","-78,82","-130,94",0
3,4,"24963,57",-5855,"3650,7","22759,27","22775,54","16,27","-94,01",0
4,5,"22775,54",-6020,"6527,31","23282,85","23235,8","-47,05","-104,34",0
...,...,...,...,...,...,...,...,...,...
995,996,"15390,86",-6025,"7062,64","16428,5","16374,81","-53,69","-246,44",1
996,997,"16374,81",-6400,"5748,32","15723,13","15677,62","-45,51","-353,89",1
997,998,"15677,62",-6125,"4719,72","14272,34","14356,39","84,05","-267,06",1
998,999,"14356,39",-6120,"5031,76","13268,15","13320,37","52,22","-190,72",1
999,1000,"13320,37",-5950,"6856,56","14226,93","14255,32","28,39","-128,96",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"12858,53","-6005,0","6028,71","12882,24","12839,43","-42,81","67,14",0
1,2,"12839,43","-5925,0","7060,68","13975,11","13920,05","-55,06","3,95",0
2,3,"13920,05","-6450,0","11910,17","19380,22","19446,63","66,41","-28,04",0
3,4,"19446,63","-6495,0","7059,14","20010,77","19951,08","-59,69","-92,41",0
4,5,"19951,08","-6300,0","7021,46","20672,54","20708,94","36,4","-130,33",0
...,...,...,...,...,...,...,...,...,...
995,996,"3854,5","-5960,0","5534,05","3428,55","3355,21","-73,34","-305,54",1
996,997,"3355,21","-6370,0","6329,75","3314,96","3330,31","15,35","-300,52",1
997,998,"3330,31","-5760,0","2905,72","476,03","483,45","7,42","-273,07",1
998,999,"483,45","-5412,11","8221,51","3292,85","3340,43","47,58","-195,76",1
999,1000,"3340,43","-5924,65","6281,89","3697,67","3770,53","72,86","-28,71",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"22143,22","-5810,0","7001,2","23334,42","23347,02","12,6","-90,27",0
1,2,"23347,02","-6240,0","7270,93","24377,95","24283,54","-94,41","-105,27",0
2,3,"24283,54","-6430,0","3650,03","21503,57","21510,13","6,56","-17,7",0
3,4,"21510,13","-5850,0","6940,97","22601,1","22644,04","42,94","27,91",0
4,5,"22644,04","-6025,0","5910,84","22529,88","22565,92","36,04","80,35",0
...,...,...,...,...,...,...,...,...,...
995,996,"20,99","-0,0","0,0","20,99","7,38","-13,61","5,7",1
996,997,"7,38","-0,0","0,0","7,38","2,99","-4,39","-5,43",1
997,998,"2,99","-0,0","0,0","2,99","14,37","11,38","9,91",1
998,999,"14,37","-0,0","0,0","14,37","23,46","9,09","10,89",1
999,1000,"23,46","-0,0","0,0","23,46","11,74","-11,72","4,31",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"17445,18","-5905,0","6012,94","17553,12","17533,44","-19,68","16,06",0
1,2,"17533,44","-6110,0","8506,7","19930,14","20021,08","90,94","102,33",0
2,3,"20021,08","-5930,0","4407,28","18498,36","18474,61","-23,75","162,19",0
3,4,"18474,61","-6080,0","8762,8","21157,41","21038,06","-119,35","-12,14",0
4,5,"21038,06","-6210,0","8428,75","23256,81","23192,92","-63,89","-100,6",0
...,...,...,...,...,...,...,...,...,...
995,996,"8,86","-0,0","0,0","8,86","9,4","0,54","3,9",1
996,997,"9,4","-0,0","0,0","9,4","12,79","3,39","2,6",1
997,998,"12,79","-0,0","0,0","12,79","14,69","1,9","-0,82",1
998,999,"14,69","-0,0","0,0","14,69","9,11","-5,58","-12,74",1
999,1000,"9,11","-0,0","0,0","9,11","10,64","1,53","10,39",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20535,61","-5940,0","8641,12","23236,73","23294,75","58,02","265,22",0
1,2,"23294,75","-6575,0","6455,26","23175,01","23296,05","121,04","387,15",0
2,3,"23296,05","-5630,0","6600,92","24266,97","24325,7","58,73","366,14",0
3,4,"24325,7","-6015,0","3190,31","21501,01","21523,46","22,45","375,09",0
4,5,"21523,46","-5695,0","7376,83","23205,29","23238,07","32,78","376,68",0
...,...,...,...,...,...,...,...,...,...
995,996,"3,69","-0,0","0,0","3,69","23,8","20,11","18,39",1
996,997,"23,8","-0,0","0,0","23,8","15,45","-8,35","12,43",1
997,998,"15,45","-0,0","0,0","15,45","10,85","-4,6","-0,6",1
998,999,"10,85","-0,0","0,0","10,85","3,49","-7,36","-0,14",1
999,1000,"3,49","-0,0","0,0","3,49","3,33","-0,16","3,11",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19135,24","-6080,0","4856,82","17912,06","17932,53","20,47","46,88",0
1,2,"17932,53","-6125,0","5021,72","16829,25","16928,49","99,24","199,92",0
2,3,"16928,49","-5955,0","5972,53","16946,02","16951,13","5,11","186,83",0
3,4,"16951,13","-6190,0","6887,91","17649,04","17681,42","32,38","209,1",0
4,5,"17681,42","-6340,0","4566,61","15908,03","15977,96","69,93","237,46",0
...,...,...,...,...,...,...,...,...,...
995,996,"7,1","-0,0","0,0","7,1","3,53","-3,57","-12,95",1
996,997,"3,53","-0,0","0,0","3,53","20,64","17,11","10,14",1
997,998,"20,64","-0,0","0,0","20,64","0,62","-20,02","-13,66",1
998,999,"0,62","-0,0","0,0","0,62","10,69","10,07","7,64",1
999,1000,"10,69","-0,0","0,0","10,69","17,63","6,94","14,51",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"18314,68","-6260,0","8063,56","20118,24","20038,25","-79,99","513,51",0
1,2,"20038,25","-6220,0","7971,11","21789,36","21835,68","46,32","584,43",0
2,3,"21835,68","-6015,0","6930,57","22751,25","22777,51","26,26","444,01",0
3,4,"22777,51","-6350,0","7057,14","23484,65","23463,71","-20,94","418,39",0
4,5,"23463,71","-6020,0","3038,59","20482,3","20488,43","6,13","370,07",0
...,...,...,...,...,...,...,...,...,...
995,996,"8,72","-0,0","0,0","8,72","5,98","-2,74","-1,9",1
996,997,"5,98","-0,0","0,0","5,98","1,84","-4,14","-13,72",1
997,998,"1,84","-0,0","0,0","1,84","26,5","24,66","14,7",1
998,999,"26,5","-0,0","0,0","26,5","4,1","-22,4","0,14",1
999,1000,"4,1","-0,0","0,0","4,1","0,31","-3,79","-8,96",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"23369,53","-6150,0","4012,96","21232,49","21263,01","30,52","264,45",0
1,2,"21263,01","-5865,0","6439,82","21837,83","21837,57","-0,26","204,51",0
2,3,"21837,57","-5895,0","5946,3","21888,87","21925,55","36,68","273,91",0
3,4,"21925,55","-5970,0","7122,88","23078,43","23121,11","42,68","280,54",0
4,5,"23121,11","-6035,0","6817,47","23903,58","24029,9","126,32","512,85",0
...,...,...,...,...,...,...,...,...,...
995,996,"13,57","-0,0","0,0","13,57","6,42","-7,15","-8,6",1
996,997,"6,42","-0,0","0,0","6,42","4,13","-2,29","3,23",1
997,998,"4,13","-0,0","0,0","4,13","5,5","1,37","-2,82",1
998,999,"5,5","-0,0","0,0","5,5","5,12","-0,38","-1,79",1
999,1000,"5,12","-0,0","0,0","5,12","15,23","10,11","14,6",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19151,05","-6045,0","8896,55","22002,6","21974,5","-28,1","120,43",0
1,2,"21974,5","-5930,0","6101,08","22145,58","22156,07","10,49","149,98",0
2,3,"22156,07","-6135,0","6928,27","22949,34","23027,33","77,99","287,24",0
3,4,"23027,33","-6425,0","6577,84","23180,17","23134,57","-45,6","218,43",0
4,5,"23134,57","-6145,0","3432,57","20422,14","20397,11","-25,03","265,81",0
...,...,...,...,...,...,...,...,...,...
995,996,"0,27","-0,0","0,0","0,27","9,29","9,02","-1,34",1
996,997,"9,29","-0,0","0,0","9,29","8,73","-0,56","-7,47",1
997,998,"8,73","-0,0","0,0","8,73","13,92","5,19","9,26",1
998,999,"13,92","-0,0","0,0","13,92","24,99","11,07","18,55",1
999,1000,"24,99","-0,0","0,0","24,99","16,14","-8,85","2,67",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21923,75","-6020,0","7708,03","23611,78","23649,61","37,83","153,53",0
1,2,"23649,61","-6170,0","4031,77","21511,38","21528,85","17,47","132,34",0
2,3,"21528,85","-5715,0","5915,38","21729,23","21618,54","-110,69","18,97",0
3,4,"21618,54","-5945,0","7178,07","22851,61","22847,61","-4,0","-69,8",0
4,5,"22847,61","-5815,0","6070,18","23102,79","23046,27","-56,52","-88,54",0
...,...,...,...,...,...,...,...,...,...
995,996,"0,69","-0,0","0,0","0,69","8,6","7,91","1,27",1
996,997,"8,6","-0,0","0,0","8,6","8,47","-0,13","7,4",1
997,998,"8,47","-0,0","0,0","8,47","1,56","-6,91","-9,34",1
998,999,"1,56","-0,0","0,0","1,56","9,73","8,17","-0,44",1
999,1000,"9,73","-0,0","0,0","9,73","3,29","-6,44","0,03",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"22143,65","-6055,0","6215,36","22304,01","22242,32","-61,69","34,11",0
1,2,"22242,32","-5940,0","6691,65","22993,97","22983,66","-10,31","42,41",0
2,3,"22983,66","-5885,0","6130,98","23229,64","23301,88","72,24","58,48",0
3,4,"23301,88","-6030,0","5035,77","22307,65","22270,88","-36,77","25,47",0
4,5,"22270,88","-6005,0","6518,15","22784,03","22794,42","10,39","13,96",0
...,...,...,...,...,...,...,...,...,...
995,996,"2,74","-0,0","0,0","2,74","3,88","1,14","3,0",1
996,997,"3,88","-0,0","0,0","3,88","0,72","-3,16","-2,72",1
997,998,"0,72","-0,0","0,0","0,72","1,13","0,41","-11,02",1
998,999,"1,13","-0,0","0,0","1,13","2,14","1,01","-19,34",1
999,1000,"2,14","-0,0","0,0","2,14","6,18","4,04","-4,02",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"18109,75","-5940,0","6999,66","19169,41","19140,47","-28,94","290,5",0
1,2,"19140,47","-6320,0","7014,09","19834,56","19825,75","-8,81","346,46",0
2,3,"19825,75","-6145,0","7026,85","20707,6","20677,99","-29,61","326,59",0
3,4,"20677,99","-5805,0","4783,79","19656,78","19702,96","46,18","340,89",0
4,5,"19702,96","-6195,0","6592,28","20100,24","20021,69","-78,55","117,34",0
...,...,...,...,...,...,...,...,...,...
995,996,"3,39","-0,0","0,0","3,39","8,94","5,55","-9,07",1
996,997,"8,94","-0,0","0,0","8,94","13,46","4,52","1,87",1
997,998,"13,46","-0,0","0,0","13,46","5,2","-8,26","4,92",1
998,999,"5,2","-0,0","0,0","5,2","13,18","7,98","-1,52",1
999,1000,"13,18","-0,0","0,0","13,18","3,72","-9,46","-2,74",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"22465,51","-6080,0","7789,55","24175,06","24208,87","33,81","-175,32",0
1,2,"24208,87","-6045,0","4948,93","23112,8","23139,14","26,34","-178,39",0
2,3,"23139,14","-5935,0","7036,17","24240,31","24285,57","45,26","-129,43",0
3,4,"24285,57","-5950,0","4812,44","23148,01","23215,86","67,85","74,7",0
4,5,"23215,86","-6310,0","5513,33","22419,19","22370,85","-48,34","67,2",0
...,...,...,...,...,...,...,...,...,...
995,996,"13,88","-0,0","0,0","13,88","5,95","-7,93","1,78",1
996,997,"5,95","-0,0","0,0","5,95","12,1","6,15","10,02",1
997,998,"12,1","-0,0","0,0","12,1","5,06","-7,04","-9,98",1
998,999,"5,06","-0,0","0,0","5,06","4,17","-0,89","-3,22",1
999,1000,"4,17","-0,0","0,0","4,17","17,0","12,83","15,43",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"13606,56","-6135,0","6078,24","13549,8","13604,57","54,77","189,82",0
1,2,"13604,57","-6180,0","7816,29","15240,86","15298,64","57,78","140,18",0
2,3,"15298,64","-6540,0","8066,41","16825,05","16766,16","-58,89","114,81",0
3,4,"16766,16","-5950,0","2994,85","13811,01","13832,37","21,36","118,61",0
4,5,"13832,37","-6225,0","8046,4","15653,77","15600,11","-53,66","107,3",0
...,...,...,...,...,...,...,...,...,...
995,996,"3,77","-0,0","0,0","3,77","5,54","1,77","-2,21",1
996,997,"5,54","-0,0","0,0","5,54","0,83","-4,71","-9,32",1
997,998,"0,83","-0,0","0,0","0,83","13,25","12,42","1,59",1
998,999,"13,25","-0,0","0,0","13,25","10,31","-2,94","6,54",1
999,1000,"10,31","-0,0","0,0","10,31","6,71","-3,6","-5,3",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"16880,67","-6340,0","9520,82","20061,49","20089,2","27,71","239,98",0
1,2,"20089,2","-5965,0","8981,18","23105,38","23114,65","9,27","236,52",0
2,3,"23114,65","-6350,0","6284,23","23048,88","23080,01","31,13","96,76",0
3,4,"23080,01","-5495,0","3705,04","21290,05","21253,69","-36,36","173,15",0
4,5,"21253,69","-6010,0","6906,8","22150,49","22243,33","92,84","144,0",0
...,...,...,...,...,...,...,...,...,...
995,996,"2,33","-0,0","0,0","2,33","8,66","6,33","4,22",1
996,997,"8,66","-0,0","0,0","8,66","8,69","0,03","3,5",1
997,998,"8,69","-0,0","0,0","8,69","21,02","12,33","20,09",1
998,999,"21,02","-0,0","0,0","21,02","5,64","-15,38","3,39",1
999,1000,"5,64","-0,0","0,0","5,64","1,83","-3,81","0,17",1

## Limpieza de datos

In [87]:
bad_formatted_fields = [
    'Volumen dep. almacenam. ini. (L)',
    'Llenado dep. almacenam. (L)',
    'Volumen dep. almacenam. fin. teor. (L)',
    'Volumen dep. almacenam. fin. (L)',
    'Variacion',
    'Variacion Acum.',
]

for case in data_dict:
    for dataset in ['train_dataframe', 'test_dataframe']:
        for field in bad_formatted_fields:
            data_dict[case][dataset][field] = data_dict[case][dataset][field].str.replace(',', '.')
            data_dict[case][dataset][field] = pd.to_numeric(data_dict[case][dataset][field])

### Conjunto de datos de entrenamiento

In [88]:
for case in data_dict:
    display(data_dict[case]['train_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20247.25,-5580,6051.35,20718.60,20679.11,-39.49,-2.21,0
1,2,20679.11,-6195,7936.54,22420.65,22497.60,76.95,164.76,0
2,3,22497.60,-6165,5995.68,22328.28,22284.53,-43.75,73.79,0
3,4,22284.53,-5720,5031.76,21596.29,21654.39,58.10,181.92,0
4,5,21654.39,-6075,9124.56,24703.95,24903.47,199.52,323.61,0
...,...,...,...,...,...,...,...,...,...
995,996,14567.32,-5990,6995.54,15572.86,15611.86,39.00,-8.11,1
996,997,15611.86,-6405,6226.80,15433.66,15483.99,50.33,14.33,1
997,998,15483.99,-5670,5799.07,15613.06,15537.81,-75.25,6.19,1
998,999,15537.81,-6130,5099.01,14506.82,14515.34,8.52,84.27,1
999,1000,14515.34,-6130,8868.50,17253.84,17158.33,-95.51,-78.56,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,14034.89,"-5705,0",7013.60,15343.49,15323.45,-20.04,228.67,0
1,2,15323.45,"-5970,0",7633.39,16986.84,16980.09,-6.75,138.05,0
2,3,16980.09,"-6250,0",4594.55,15324.64,15342.95,18.31,91.74,0
3,4,15342.95,"-6375,0",7716.89,16684.84,16706.73,21.89,36.45,0
4,5,16706.73,"-6020,0",7060.35,17747.08,17712.72,-34.36,101.33,0
...,...,...,...,...,...,...,...,...,...
995,996,2480.65,"-5740,0",5618.89,2359.54,2424.72,65.18,115.61,1
996,997,2424.72,"-5725,0",6292.34,2992.06,2952.52,-39.54,66.08,1
997,998,2952.52,"-5377,62",2403.34,-21.76,8.21,29.97,58.91,1
998,999,8.21,"-5756,65",6559.47,811.03,872.06,61.03,81.69,1
999,1000,872.06,"-4297,88",4862.58,1436.76,1366.38,-70.38,-15.06,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,17445.49,"-6140,0",8023.30,19328.79,19296.68,-32.11,150.41,0
1,2,19296.68,"-6010,0",5934.11,19220.79,19289.27,68.48,262.39,0
2,3,19289.27,"-5600,0",9215.39,22904.66,22910.69,6.03,227.65,0
3,4,22910.69,"-6070,0",6617.77,23458.46,23450.71,-7.75,172.64,0
4,5,23450.71,"-5685,0",3400.23,21165.94,21214.19,48.25,159.64,0
...,...,...,...,...,...,...,...,...,...
995,996,0.72,"-0,0",0.00,0.72,1.57,0.85,-3.08,1
996,997,1.57,"-0,0",0.00,1.57,11.07,9.50,1.17,1
997,998,11.07,"-0,0",0.00,11.07,6.20,-4.87,3.13,1
998,999,6.20,"-0,0",0.00,6.20,5.54,-0.66,-9.25,1
999,1000,5.54,"-0,0",0.00,5.54,3.05,-2.49,-13.90,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21399.05,"-5790,0",5638.02,21247.07,21227.09,-19.98,63.76,0
1,2,21227.09,"-5895,0",5241.74,20573.83,20576.89,3.06,133.61,0
2,3,20576.89,"-6055,0",6999.43,21521.32,21504.09,-17.23,33.97,0
3,4,21504.09,"-5995,0",9004.73,24513.82,24667.50,153.68,232.55,0
4,5,24667.50,"-6005,0",5447.75,24110.25,24146.71,36.46,202.77,0
...,...,...,...,...,...,...,...,...,...
995,996,2.62,"-0,0",0.00,2.62,19.24,16.62,5.27,1
996,997,19.24,"-0,0",0.00,19.24,14.88,-4.36,5.99,1
997,998,14.88,"-0,0",0.00,14.88,9.37,-5.51,-4.99,1
998,999,9.37,"-0,0",0.00,9.37,3.89,-5.48,-11.62,1
999,1000,3.89,"-0,0",0.00,3.89,2.18,-1.71,-8.49,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21372.17,"-5985,0",7788.90,23176.07,23214.64,38.57,19.95,0
1,2,23214.64,"-5765,0",2969.27,20418.91,20415.11,-3.80,61.14,0
2,3,20415.11,"-6325,0",7390.24,21480.35,21602.29,121.94,144.09,0
3,4,21602.29,"-6190,0",7315.88,22728.17,22691.65,-36.52,217.46,0
4,5,22691.65,"-5690,0",6031.24,23032.89,22983.03,-49.86,170.15,0
...,...,...,...,...,...,...,...,...,...
995,996,17.19,"-0,0",0.00,17.19,26.77,9.58,23.15,1
996,997,26.77,"-0,0",0.00,26.77,11.55,-15.22,10.12,1
997,998,11.55,"-0,0",0.00,11.55,1.45,-10.10,-1.74,1
998,999,1.45,"-0,0",0.00,1.45,8.20,6.75,5.73,1
999,1000,8.20,"-0,0",0.00,8.20,0.18,-8.02,-8.06,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,15362.61,"-6205,0",4348.17,13505.78,13436.24,-69.54,259.90,0
1,2,13436.24,"-6255,0",8032.58,15213.82,15174.65,-39.17,233.42,0
2,3,15174.65,"-6115,0",7934.11,16993.76,17045.24,51.48,300.07,0
3,4,17045.24,"-6230,0",5962.78,16778.02,16826.91,48.89,330.23,0
4,5,16826.91,"-6165,0",8008.51,18670.42,18664.17,-6.25,293.53,0
...,...,...,...,...,...,...,...,...,...
995,996,1.33,"-0,0",0.00,1.33,4.68,3.35,0.91,1
996,997,4.68,"-0,0",0.00,4.68,17.74,13.06,9.68,1
997,998,17.74,"-0,0",0.00,17.74,6.13,-11.61,5.23,1
998,999,6.13,"-0,0",0.00,6.13,1.95,-4.18,-10.78,1
999,1000,1.95,"-0,0",0.00,1.95,5.70,3.75,-4.08,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19740.03,"-5920,0",10305.52,24125.55,24176.62,51.07,306.45,0
1,2,24176.62,"-6015,0",3018.53,21180.15,21184.86,4.71,273.95,0
2,3,21184.86,"-5815,0",6534.34,21904.20,21949.08,44.88,293.49,0
3,4,21949.08,"-5725,0",7502.00,23726.08,23762.94,36.86,298.66,0
4,5,23762.94,"-6060,0",4710.68,22413.62,22440.19,26.57,297.24,0
...,...,...,...,...,...,...,...,...,...
995,996,9.35,"-0,0",0.00,9.35,8.41,-0.94,6.29,1
996,997,8.41,"-0,0",0.00,8.41,0.15,-8.26,-0.48,1
997,998,0.15,"-0,0",0.00,0.15,5.66,5.51,2.92,1
998,999,5.66,"-0,0",0.00,5.66,18.47,12.81,1.72,1
999,1000,18.47,"-0,0",0.00,18.47,1.44,-17.03,-4.71,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20389.74,"-6085,0",6018.92,20323.66,20280.85,-42.81,-227.07,0
1,2,20280.85,"-6130,0",6987.50,21138.35,21166.33,27.98,-177.78,0
2,3,21166.33,"-5790,0",6847.16,22223.49,22375.93,152.44,-119.98,0
3,4,22375.93,"-5865,0",6015.82,22526.75,22546.47,19.72,-160.65,0
4,5,22546.47,"-6185,0",7640.53,24002.00,23979.38,-22.62,-195.03,0
...,...,...,...,...,...,...,...,...,...
995,996,9.51,"-0,0",0.00,9.51,1.66,-7.85,-4.44,1
996,997,1.66,"-0,0",0.00,1.66,2.68,1.02,-17.37,1
997,998,2.68,"-0,0",0.00,2.68,12.87,10.19,7.04,1
998,999,12.87,"-0,0",0.00,12.87,6.44,-6.43,-8.31,1
999,1000,6.44,"-0,0",0.00,6.44,1.85,-4.59,-3.63,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19032.43,"-6180,0",4120.62,16973.05,17009.11,36.06,371.14,0
1,2,17009.11,"-5765,0",10915.99,22160.10,22090.78,-69.32,316.41,0
2,3,22090.78,"-5980,0",5959.22,22070.00,22134.09,64.09,387.64,0
3,4,22134.09,"-5830,0",6860.39,23164.48,23278.27,113.79,408.51,0
4,5,23278.27,"-5905,0",3037.80,20411.07,20388.60,-22.47,364.77,0
...,...,...,...,...,...,...,...,...,...
995,996,12.20,"-0,0",0.00,12.20,7.37,-4.83,-15.92,1
996,997,7.37,"-0,0",0.00,7.37,5.59,-1.78,-6.97,1
997,998,5.59,"-0,0",0.00,5.59,11.02,5.43,0.80,1
998,999,11.02,"-0,0",0.00,11.02,6.54,-4.48,-11.65,1
999,1000,6.54,"-0,0",0.00,6.54,20.67,14.13,14.40,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,17175.65,"-6040,0",11136.86,22272.51,22101.01,-171.50,117.87,0
1,2,22101.01,"-6095,0",7811.38,23817.39,23841.55,24.16,80.96,0
2,3,23841.55,"-5795,0",5900.60,23947.15,23854.38,-92.77,-48.54,0
3,4,23854.38,"-6225,0",5615.01,23244.39,23242.13,-2.26,-163.52,0
4,5,23242.13,"-6135,0",5285.63,22392.76,22344.19,-48.57,-203.40,0
...,...,...,...,...,...,...,...,...,...
995,996,9.35,"-0,0",0.00,9.35,4.28,-5.07,-4.11,1
996,997,4.28,"-0,0",0.00,4.28,30.52,26.24,27.38,1
997,998,30.52,"-0,0",0.00,30.52,0.69,-29.83,-3.62,1
998,999,0.69,"-0,0",0.00,0.69,17.12,16.43,10.75,1
999,1000,17.12,"-0,0",0.00,17.12,5.44,-11.68,-5.76,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,16942.12,"-5825,0",5491.42,16608.54,16673.87,65.33,187.29,0
1,2,16673.87,"-5825,0",6897.10,17745.97,17875.86,129.89,237.48,0
2,3,17875.86,"-5965,0",6950.25,18861.11,18894.66,33.55,253.19,0
3,4,18894.66,"-5970,0",7962.56,20887.22,20937.92,50.70,387.03,0
4,5,20937.92,"-6135,0",5924.27,20727.19,20818.82,91.63,502.42,0
...,...,...,...,...,...,...,...,...,...
995,996,19.68,"-0,0",0.00,19.68,8.25,-11.43,0.72,1
996,997,8.25,"-0,0",0.00,8.25,3.65,-4.60,-8.36,1
997,998,3.65,"-0,0",0.00,3.65,8.40,4.75,4.92,1
998,999,8.40,"-0,0",0.00,8.40,23.49,15.09,16.35,1
999,1000,23.49,"-0,0",0.00,23.49,4.13,-19.36,0.10,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,18248.42,"-5890,0",7012.33,19370.75,19378.62,7.87,-61.10,0
1,2,19378.62,"-5950,0",6942.62,20371.24,20411.72,40.48,-16.90,0
2,3,20411.72,"-6070,0",6945.78,21287.50,21339.70,52.20,125.63,0
3,4,21339.70,"-5970,0",7011.03,22380.73,22385.01,4.28,200.94,0
4,5,22385.01,"-5705,0",5155.21,21835.22,21881.27,46.05,298.92,0
...,...,...,...,...,...,...,...,...,...
995,996,12.16,"-0,0",0.00,12.16,1.45,-10.71,-7.61,1
996,997,1.45,"-0,0",0.00,1.45,5.94,4.49,3.09,1
997,998,5.94,"-0,0",0.00,5.94,8.70,2.76,-1.52,1
998,999,8.70,"-0,0",0.00,8.70,4.53,-4.17,-1.27,1
999,1000,4.53,"-0,0",0.00,4.53,12.66,8.13,8.71,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,23056.29,"-5975,0",3639.31,20720.60,20716.68,-3.92,334.01,0
1,2,20716.68,"-6150,0",7008.88,21575.56,21681.55,105.99,352.59,0
2,3,21681.55,"-6030,0",6463.74,22115.29,22138.84,23.55,354.54,0
3,4,22138.84,"-6330,0",4019.40,19828.24,19807.63,-20.61,339.90,0
4,5,19807.63,"-6315,0",10039.40,23532.03,23487.69,-44.34,121.91,0
...,...,...,...,...,...,...,...,...,...
995,996,1.75,"-0,0",0.00,1.75,13.26,11.51,10.31,1
996,997,13.26,"-0,0",0.00,13.26,4.60,-8.66,-5.13,1
997,998,4.60,"-0,0",0.00,4.60,9.65,5.05,6.75,1
998,999,9.65,"-0,0",0.00,9.65,6.10,-3.55,-3.36,1
999,1000,6.10,"-0,0",0.00,6.10,1.30,-4.80,-29.68,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,17698.38,"-5710,0",4618.64,16607.02,16580.51,-26.51,35.66,0
1,2,16580.51,"-5875,0",6004.30,16709.81,16702.31,-7.50,58.61,0
2,3,16702.31,"-6250,0",8001.28,18453.59,18456.14,2.55,-9.07,0
3,4,18456.14,"-5870,0",6931.83,19517.97,19595.08,77.11,-16.24,0
4,5,19595.08,"-6330,0",7449.42,20714.50,20644.03,-70.47,-108.89,0
...,...,...,...,...,...,...,...,...,...
995,996,1.11,"-0,0",0.00,1.11,1.53,0.42,-12.95,1
996,997,1.53,"-0,0",0.00,1.53,5.18,3.65,0.97,1
997,998,5.18,"-0,0",0.00,5.18,9.61,4.43,9.40,1
998,999,9.61,"-0,0",0.00,9.61,13.39,3.78,3.06,1
999,1000,13.39,"-0,0",0.00,13.39,11.13,-2.26,6.95,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,22883.35,"-6050,0",5453.86,22287.21,22230.52,-56.69,249.29,0
1,2,22230.52,"-6275,0",3883.29,19838.81,19981.10,142.29,345.12,0
2,3,19981.10,"-6150,0",7525.49,21356.59,21346.06,-10.53,273.17,0
3,4,21346.06,"-6130,0",6948.29,22164.35,22227.30,62.95,280.51,0
4,5,22227.30,"-5815,0",5639.50,22051.80,22112.87,61.07,286.84,0
...,...,...,...,...,...,...,...,...,...
995,996,1.47,"-0,0",0.00,1.47,15.25,13.78,10.81,1
996,997,15.25,"-0,0",0.00,15.25,6.77,-8.48,-2.84,1
997,998,6.77,"-0,0",0.00,6.77,1.04,-5.73,-11.61,1
998,999,1.04,"-0,0",0.00,1.04,22.11,21.07,14.93,1
999,1000,22.11,"-0,0",0.00,22.11,3.17,-18.94,-8.99,1

### Conjunto de datos de prueba

In [89]:
for case in data_dict:
    display(data_dict[case]['test_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21060.76,-5585,6958.22,22433.98,22364.70,-69.28,-213.88,0
1,2,22364.70,-6145,7053.56,23273.26,23332.72,59.46,-182.83,0
2,3,23332.72,-6165,7874.67,25042.39,24963.57,-78.82,-130.94,0
3,4,24963.57,-5855,3650.70,22759.27,22775.54,16.27,-94.01,0
4,5,22775.54,-6020,6527.31,23282.85,23235.80,-47.05,-104.34,0
...,...,...,...,...,...,...,...,...,...
995,996,15390.86,-6025,7062.64,16428.50,16374.81,-53.69,-246.44,1
996,997,16374.81,-6400,5748.32,15723.13,15677.62,-45.51,-353.89,1
997,998,15677.62,-6125,4719.72,14272.34,14356.39,84.05,-267.06,1
998,999,14356.39,-6120,5031.76,13268.15,13320.37,52.22,-190.72,1
999,1000,13320.37,-5950,6856.56,14226.93,14255.32,28.39,-128.96,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,12858.53,"-6005,0",6028.71,12882.24,12839.43,-42.81,67.14,0
1,2,12839.43,"-5925,0",7060.68,13975.11,13920.05,-55.06,3.95,0
2,3,13920.05,"-6450,0",11910.17,19380.22,19446.63,66.41,-28.04,0
3,4,19446.63,"-6495,0",7059.14,20010.77,19951.08,-59.69,-92.41,0
4,5,19951.08,"-6300,0",7021.46,20672.54,20708.94,36.40,-130.33,0
...,...,...,...,...,...,...,...,...,...
995,996,3854.50,"-5960,0",5534.05,3428.55,3355.21,-73.34,-305.54,1
996,997,3355.21,"-6370,0",6329.75,3314.96,3330.31,15.35,-300.52,1
997,998,3330.31,"-5760,0",2905.72,476.03,483.45,7.42,-273.07,1
998,999,483.45,"-5412,11",8221.51,3292.85,3340.43,47.58,-195.76,1
999,1000,3340.43,"-5924,65",6281.89,3697.67,3770.53,72.86,-28.71,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,22143.22,"-5810,0",7001.20,23334.42,23347.02,12.60,-90.27,0
1,2,23347.02,"-6240,0",7270.93,24377.95,24283.54,-94.41,-105.27,0
2,3,24283.54,"-6430,0",3650.03,21503.57,21510.13,6.56,-17.70,0
3,4,21510.13,"-5850,0",6940.97,22601.10,22644.04,42.94,27.91,0
4,5,22644.04,"-6025,0",5910.84,22529.88,22565.92,36.04,80.35,0
...,...,...,...,...,...,...,...,...,...
995,996,20.99,"-0,0",0.00,20.99,7.38,-13.61,5.70,1
996,997,7.38,"-0,0",0.00,7.38,2.99,-4.39,-5.43,1
997,998,2.99,"-0,0",0.00,2.99,14.37,11.38,9.91,1
998,999,14.37,"-0,0",0.00,14.37,23.46,9.09,10.89,1
999,1000,23.46,"-0,0",0.00,23.46,11.74,-11.72,4.31,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,17445.18,"-5905,0",6012.94,17553.12,17533.44,-19.68,16.06,0
1,2,17533.44,"-6110,0",8506.70,19930.14,20021.08,90.94,102.33,0
2,3,20021.08,"-5930,0",4407.28,18498.36,18474.61,-23.75,162.19,0
3,4,18474.61,"-6080,0",8762.80,21157.41,21038.06,-119.35,-12.14,0
4,5,21038.06,"-6210,0",8428.75,23256.81,23192.92,-63.89,-100.60,0
...,...,...,...,...,...,...,...,...,...
995,996,8.86,"-0,0",0.00,8.86,9.40,0.54,3.90,1
996,997,9.40,"-0,0",0.00,9.40,12.79,3.39,2.60,1
997,998,12.79,"-0,0",0.00,12.79,14.69,1.90,-0.82,1
998,999,14.69,"-0,0",0.00,14.69,9.11,-5.58,-12.74,1
999,1000,9.11,"-0,0",0.00,9.11,10.64,1.53,10.39,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20535.61,"-5940,0",8641.12,23236.73,23294.75,58.02,265.22,0
1,2,23294.75,"-6575,0",6455.26,23175.01,23296.05,121.04,387.15,0
2,3,23296.05,"-5630,0",6600.92,24266.97,24325.70,58.73,366.14,0
3,4,24325.70,"-6015,0",3190.31,21501.01,21523.46,22.45,375.09,0
4,5,21523.46,"-5695,0",7376.83,23205.29,23238.07,32.78,376.68,0
...,...,...,...,...,...,...,...,...,...
995,996,3.69,"-0,0",0.00,3.69,23.80,20.11,18.39,1
996,997,23.80,"-0,0",0.00,23.80,15.45,-8.35,12.43,1
997,998,15.45,"-0,0",0.00,15.45,10.85,-4.60,-0.60,1
998,999,10.85,"-0,0",0.00,10.85,3.49,-7.36,-0.14,1
999,1000,3.49,"-0,0",0.00,3.49,3.33,-0.16,3.11,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19135.24,"-6080,0",4856.82,17912.06,17932.53,20.47,46.88,0
1,2,17932.53,"-6125,0",5021.72,16829.25,16928.49,99.24,199.92,0
2,3,16928.49,"-5955,0",5972.53,16946.02,16951.13,5.11,186.83,0
3,4,16951.13,"-6190,0",6887.91,17649.04,17681.42,32.38,209.10,0
4,5,17681.42,"-6340,0",4566.61,15908.03,15977.96,69.93,237.46,0
...,...,...,...,...,...,...,...,...,...
995,996,7.10,"-0,0",0.00,7.10,3.53,-3.57,-12.95,1
996,997,3.53,"-0,0",0.00,3.53,20.64,17.11,10.14,1
997,998,20.64,"-0,0",0.00,20.64,0.62,-20.02,-13.66,1
998,999,0.62,"-0,0",0.00,0.62,10.69,10.07,7.64,1
999,1000,10.69,"-0,0",0.00,10.69,17.63,6.94,14.51,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,18314.68,"-6260,0",8063.56,20118.24,20038.25,-79.99,513.51,0
1,2,20038.25,"-6220,0",7971.11,21789.36,21835.68,46.32,584.43,0
2,3,21835.68,"-6015,0",6930.57,22751.25,22777.51,26.26,444.01,0
3,4,22777.51,"-6350,0",7057.14,23484.65,23463.71,-20.94,418.39,0
4,5,23463.71,"-6020,0",3038.59,20482.30,20488.43,6.13,370.07,0
...,...,...,...,...,...,...,...,...,...
995,996,8.72,"-0,0",0.00,8.72,5.98,-2.74,-1.90,1
996,997,5.98,"-0,0",0.00,5.98,1.84,-4.14,-13.72,1
997,998,1.84,"-0,0",0.00,1.84,26.50,24.66,14.70,1
998,999,26.50,"-0,0",0.00,26.50,4.10,-22.40,0.14,1
999,1000,4.10,"-0,0",0.00,4.10,0.31,-3.79,-8.96,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,23369.53,"-6150,0",4012.96,21232.49,21263.01,30.52,264.45,0
1,2,21263.01,"-5865,0",6439.82,21837.83,21837.57,-0.26,204.51,0
2,3,21837.57,"-5895,0",5946.30,21888.87,21925.55,36.68,273.91,0
3,4,21925.55,"-5970,0",7122.88,23078.43,23121.11,42.68,280.54,0
4,5,23121.11,"-6035,0",6817.47,23903.58,24029.90,126.32,512.85,0
...,...,...,...,...,...,...,...,...,...
995,996,13.57,"-0,0",0.00,13.57,6.42,-7.15,-8.60,1
996,997,6.42,"-0,0",0.00,6.42,4.13,-2.29,3.23,1
997,998,4.13,"-0,0",0.00,4.13,5.50,1.37,-2.82,1
998,999,5.50,"-0,0",0.00,5.50,5.12,-0.38,-1.79,1
999,1000,5.12,"-0,0",0.00,5.12,15.23,10.11,14.60,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19151.05,"-6045,0",8896.55,22002.60,21974.50,-28.10,120.43,0
1,2,21974.50,"-5930,0",6101.08,22145.58,22156.07,10.49,149.98,0
2,3,22156.07,"-6135,0",6928.27,22949.34,23027.33,77.99,287.24,0
3,4,23027.33,"-6425,0",6577.84,23180.17,23134.57,-45.60,218.43,0
4,5,23134.57,"-6145,0",3432.57,20422.14,20397.11,-25.03,265.81,0
...,...,...,...,...,...,...,...,...,...
995,996,0.27,"-0,0",0.00,0.27,9.29,9.02,-1.34,1
996,997,9.29,"-0,0",0.00,9.29,8.73,-0.56,-7.47,1
997,998,8.73,"-0,0",0.00,8.73,13.92,5.19,9.26,1
998,999,13.92,"-0,0",0.00,13.92,24.99,11.07,18.55,1
999,1000,24.99,"-0,0",0.00,24.99,16.14,-8.85,2.67,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21923.75,"-6020,0",7708.03,23611.78,23649.61,37.83,153.53,0
1,2,23649.61,"-6170,0",4031.77,21511.38,21528.85,17.47,132.34,0
2,3,21528.85,"-5715,0",5915.38,21729.23,21618.54,-110.69,18.97,0
3,4,21618.54,"-5945,0",7178.07,22851.61,22847.61,-4.00,-69.80,0
4,5,22847.61,"-5815,0",6070.18,23102.79,23046.27,-56.52,-88.54,0
...,...,...,...,...,...,...,...,...,...
995,996,0.69,"-0,0",0.00,0.69,8.60,7.91,1.27,1
996,997,8.60,"-0,0",0.00,8.60,8.47,-0.13,7.40,1
997,998,8.47,"-0,0",0.00,8.47,1.56,-6.91,-9.34,1
998,999,1.56,"-0,0",0.00,1.56,9.73,8.17,-0.44,1
999,1000,9.73,"-0,0",0.00,9.73,3.29,-6.44,0.03,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,22143.65,"-6055,0",6215.36,22304.01,22242.32,-61.69,34.11,0
1,2,22242.32,"-5940,0",6691.65,22993.97,22983.66,-10.31,42.41,0
2,3,22983.66,"-5885,0",6130.98,23229.64,23301.88,72.24,58.48,0
3,4,23301.88,"-6030,0",5035.77,22307.65,22270.88,-36.77,25.47,0
4,5,22270.88,"-6005,0",6518.15,22784.03,22794.42,10.39,13.96,0
...,...,...,...,...,...,...,...,...,...
995,996,2.74,"-0,0",0.00,2.74,3.88,1.14,3.00,1
996,997,3.88,"-0,0",0.00,3.88,0.72,-3.16,-2.72,1
997,998,0.72,"-0,0",0.00,0.72,1.13,0.41,-11.02,1
998,999,1.13,"-0,0",0.00,1.13,2.14,1.01,-19.34,1
999,1000,2.14,"-0,0",0.00,2.14,6.18,4.04,-4.02,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,18109.75,"-5940,0",6999.66,19169.41,19140.47,-28.94,290.50,0
1,2,19140.47,"-6320,0",7014.09,19834.56,19825.75,-8.81,346.46,0
2,3,19825.75,"-6145,0",7026.85,20707.60,20677.99,-29.61,326.59,0
3,4,20677.99,"-5805,0",4783.79,19656.78,19702.96,46.18,340.89,0
4,5,19702.96,"-6195,0",6592.28,20100.24,20021.69,-78.55,117.34,0
...,...,...,...,...,...,...,...,...,...
995,996,3.39,"-0,0",0.00,3.39,8.94,5.55,-9.07,1
996,997,8.94,"-0,0",0.00,8.94,13.46,4.52,1.87,1
997,998,13.46,"-0,0",0.00,13.46,5.20,-8.26,4.92,1
998,999,5.20,"-0,0",0.00,5.20,13.18,7.98,-1.52,1
999,1000,13.18,"-0,0",0.00,13.18,3.72,-9.46,-2.74,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,22465.51,"-6080,0",7789.55,24175.06,24208.87,33.81,-175.32,0
1,2,24208.87,"-6045,0",4948.93,23112.80,23139.14,26.34,-178.39,0
2,3,23139.14,"-5935,0",7036.17,24240.31,24285.57,45.26,-129.43,0
3,4,24285.57,"-5950,0",4812.44,23148.01,23215.86,67.85,74.70,0
4,5,23215.86,"-6310,0",5513.33,22419.19,22370.85,-48.34,67.20,0
...,...,...,...,...,...,...,...,...,...
995,996,13.88,"-0,0",0.00,13.88,5.95,-7.93,1.78,1
996,997,5.95,"-0,0",0.00,5.95,12.10,6.15,10.02,1
997,998,12.10,"-0,0",0.00,12.10,5.06,-7.04,-9.98,1
998,999,5.06,"-0,0",0.00,5.06,4.17,-0.89,-3.22,1
999,1000,4.17,"-0,0",0.00,4.17,17.00,12.83,15.43,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,13606.56,"-6135,0",6078.24,13549.80,13604.57,54.77,189.82,0
1,2,13604.57,"-6180,0",7816.29,15240.86,15298.64,57.78,140.18,0
2,3,15298.64,"-6540,0",8066.41,16825.05,16766.16,-58.89,114.81,0
3,4,16766.16,"-5950,0",2994.85,13811.01,13832.37,21.36,118.61,0
4,5,13832.37,"-6225,0",8046.40,15653.77,15600.11,-53.66,107.30,0
...,...,...,...,...,...,...,...,...,...
995,996,3.77,"-0,0",0.00,3.77,5.54,1.77,-2.21,1
996,997,5.54,"-0,0",0.00,5.54,0.83,-4.71,-9.32,1
997,998,0.83,"-0,0",0.00,0.83,13.25,12.42,1.59,1
998,999,13.25,"-0,0",0.00,13.25,10.31,-2.94,6.54,1
999,1000,10.31,"-0,0",0.00,10.31,6.71,-3.60,-5.30,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,16880.67,"-6340,0",9520.82,20061.49,20089.20,27.71,239.98,0
1,2,20089.20,"-5965,0",8981.18,23105.38,23114.65,9.27,236.52,0
2,3,23114.65,"-6350,0",6284.23,23048.88,23080.01,31.13,96.76,0
3,4,23080.01,"-5495,0",3705.04,21290.05,21253.69,-36.36,173.15,0
4,5,21253.69,"-6010,0",6906.80,22150.49,22243.33,92.84,144.00,0
...,...,...,...,...,...,...,...,...,...
995,996,2.33,"-0,0",0.00,2.33,8.66,6.33,4.22,1
996,997,8.66,"-0,0",0.00,8.66,8.69,0.03,3.50,1
997,998,8.69,"-0,0",0.00,8.69,21.02,12.33,20.09,1
998,999,21.02,"-0,0",0.00,21.02,5.64,-15.38,3.39,1
999,1000,5.64,"-0,0",0.00,5.64,1.83,-3.81,0.17,1

<!-- TODO -->

## Selección de características

In [90]:
for case in data_dict:
    for dataset in ['train_dataframe', 'test_dataframe']:
        data_dict[case][dataset] = data_dict[case][dataset].filter(items=['Variacion', 'Fugando combustible'])

### Conjunto de datos de entrenamiento

In [91]:
for case in data_dict:
    display(data_dict[case]['train_dataframe'])

     Variacion  Fugando combustible
0       -39.49                    0
1        76.95                    0
2       -43.75                    0
3        58.10                    0
4       199.52                    0
..         ...                  ...
995      39.00                    1
996      50.33                    1
997     -75.25                    1
998       8.52                    1
999     -95.51                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -20.04                    0
1        -6.75                    0
2        18.31                    0
3        21.89                    0
4       -34.36                    0
..         ...                  ...
995      65.18                    1
996     -39.54                    1
997      29.97                    1
998      61.03                    1
999     -70.38                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -32.11                    0
1        68.48                    0
2         6.03                    0
3        -7.75                    0
4        48.25                    0
..         ...                  ...
995       0.85                    1
996       9.50                    1
997      -4.87                    1
998      -0.66                    1
999      -2.49                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -19.98                    0
1         3.06                    0
2       -17.23                    0
3       153.68                    0
4        36.46                    0
..         ...                  ...
995      16.62                    1
996      -4.36                    1
997      -5.51                    1
998      -5.48                    1
999      -1.71                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        38.57                    0
1        -3.80                    0
2       121.94                    0
3       -36.52                    0
4       -49.86                    0
..         ...                  ...
995       9.58                    1
996     -15.22                    1
997     -10.10                    1
998       6.75                    1
999      -8.02                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -69.54                    0
1       -39.17                    0
2        51.48                    0
3        48.89                    0
4        -6.25                    0
..         ...                  ...
995       3.35                    1
996      13.06                    1
997     -11.61                    1
998      -4.18                    1
999       3.75                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        51.07                    0
1         4.71                    0
2        44.88                    0
3        36.86                    0
4        26.57                    0
..         ...                  ...
995      -0.94                    1
996      -8.26                    1
997       5.51                    1
998      12.81                    1
999     -17.03                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -42.81                    0
1        27.98                    0
2       152.44                    0
3        19.72                    0
4       -22.62                    0
..         ...                  ...
995      -7.85                    1
996       1.02                    1
997      10.19                    1
998      -6.43                    1
999      -4.59                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        36.06                    0
1       -69.32                    0
2        64.09                    0
3       113.79                    0
4       -22.47                    0
..         ...                  ...
995      -4.83                    1
996      -1.78                    1
997       5.43                    1
998      -4.48                    1
999      14.13                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0      -171.50                    0
1        24.16                    0
2       -92.77                    0
3        -2.26                    0
4       -48.57                    0
..         ...                  ...
995      -5.07                    1
996      26.24                    1
997     -29.83                    1
998      16.43                    1
999     -11.68                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        65.33                    0
1       129.89                    0
2        33.55                    0
3        50.70                    0
4        91.63                    0
..         ...                  ...
995     -11.43                    1
996      -4.60                    1
997       4.75                    1
998      15.09                    1
999     -19.36                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0         7.87                    0
1        40.48                    0
2        52.20                    0
3         4.28                    0
4        46.05                    0
..         ...                  ...
995     -10.71                    1
996       4.49                    1
997       2.76                    1
998      -4.17                    1
999       8.13                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        -3.92                    0
1       105.99                    0
2        23.55                    0
3       -20.61                    0
4       -44.34                    0
..         ...                  ...
995      11.51                    1
996      -8.66                    1
997       5.05                    1
998      -3.55                    1
999      -4.80                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -26.51                    0
1        -7.50                    0
2         2.55                    0
3        77.11                    0
4       -70.47                    0
..         ...                  ...
995       0.42                    1
996       3.65                    1
997       4.43                    1
998       3.78                    1
999      -2.26                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -56.69                    0
1       142.29                    0
2       -10.53                    0
3        62.95                    0
4        61.07                    0
..         ...                  ...
995      13.78                    1
996      -8.48                    1
997      -5.73                    1
998      21.07                    1
999     -18.94                    1

[1000 rows x 2 columns]

### Conjunto de datos de prueba

In [92]:
for case in data_dict:
    display(data_dict[case]['test_dataframe'])

     Variacion  Fugando combustible
0       -69.28                    0
1        59.46                    0
2       -78.82                    0
3        16.27                    0
4       -47.05                    0
..         ...                  ...
995     -53.69                    1
996     -45.51                    1
997      84.05                    1
998      52.22                    1
999      28.39                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -42.81                    0
1       -55.06                    0
2        66.41                    0
3       -59.69                    0
4        36.40                    0
..         ...                  ...
995     -73.34                    1
996      15.35                    1
997       7.42                    1
998      47.58                    1
999      72.86                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        12.60                    0
1       -94.41                    0
2         6.56                    0
3        42.94                    0
4        36.04                    0
..         ...                  ...
995     -13.61                    1
996      -4.39                    1
997      11.38                    1
998       9.09                    1
999     -11.72                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -19.68                    0
1        90.94                    0
2       -23.75                    0
3      -119.35                    0
4       -63.89                    0
..         ...                  ...
995       0.54                    1
996       3.39                    1
997       1.90                    1
998      -5.58                    1
999       1.53                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        58.02                    0
1       121.04                    0
2        58.73                    0
3        22.45                    0
4        32.78                    0
..         ...                  ...
995      20.11                    1
996      -8.35                    1
997      -4.60                    1
998      -7.36                    1
999      -0.16                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        20.47                    0
1        99.24                    0
2         5.11                    0
3        32.38                    0
4        69.93                    0
..         ...                  ...
995      -3.57                    1
996      17.11                    1
997     -20.02                    1
998      10.07                    1
999       6.94                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -79.99                    0
1        46.32                    0
2        26.26                    0
3       -20.94                    0
4         6.13                    0
..         ...                  ...
995      -2.74                    1
996      -4.14                    1
997      24.66                    1
998     -22.40                    1
999      -3.79                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        30.52                    0
1        -0.26                    0
2        36.68                    0
3        42.68                    0
4       126.32                    0
..         ...                  ...
995      -7.15                    1
996      -2.29                    1
997       1.37                    1
998      -0.38                    1
999      10.11                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -28.10                    0
1        10.49                    0
2        77.99                    0
3       -45.60                    0
4       -25.03                    0
..         ...                  ...
995       9.02                    1
996      -0.56                    1
997       5.19                    1
998      11.07                    1
999      -8.85                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        37.83                    0
1        17.47                    0
2      -110.69                    0
3        -4.00                    0
4       -56.52                    0
..         ...                  ...
995       7.91                    1
996      -0.13                    1
997      -6.91                    1
998       8.17                    1
999      -6.44                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -61.69                    0
1       -10.31                    0
2        72.24                    0
3       -36.77                    0
4        10.39                    0
..         ...                  ...
995       1.14                    1
996      -3.16                    1
997       0.41                    1
998       1.01                    1
999       4.04                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -28.94                    0
1        -8.81                    0
2       -29.61                    0
3        46.18                    0
4       -78.55                    0
..         ...                  ...
995       5.55                    1
996       4.52                    1
997      -8.26                    1
998       7.98                    1
999      -9.46                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        33.81                    0
1        26.34                    0
2        45.26                    0
3        67.85                    0
4       -48.34                    0
..         ...                  ...
995      -7.93                    1
996       6.15                    1
997      -7.04                    1
998      -0.89                    1
999      12.83                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        54.77                    0
1        57.78                    0
2       -58.89                    0
3        21.36                    0
4       -53.66                    0
..         ...                  ...
995       1.77                    1
996      -4.71                    1
997      12.42                    1
998      -2.94                    1
999      -3.60                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        27.71                    0
1         9.27                    0
2        31.13                    0
3       -36.36                    0
4        92.84                    0
..         ...                  ...
995       6.33                    1
996       0.03                    1
997      12.33                    1
998     -15.38                    1
999      -3.81                    1

[1000 rows x 2 columns]

<!-- TODO -->

## Unificación de conjunto de datos

In [93]:
complete_train_data = pd.concat([element['train_dataframe'] for element in data_dict.values()])

train_data = (
    complete_train_data.drop(columns='Fugando combustible'), 
    complete_train_data['Fugando combustible']
)

In [94]:
segmented_test_data = [
    (element['leak_value'], element['test_dataframe']) for element in data_dict.values()
]

test_data = [(
    'general',
    pd.concat([element['test_dataframe'] for element in data_dict.values()], ignore_index=True)
)]

## Implementación de modelos

### Definición de métricas

In [95]:
def leak_detection_delay(y_true: np.array, y_pred: np.array) -> int:
    real_first_leak_day = 0
    while y_true[real_first_leak_day] != 1: real_first_leak_day += 1

    pred_first_leak_day = real_first_leak_day
    while y_pred[pred_first_leak_day] != 1: pred_first_leak_day += 1

    return (pred_first_leak_day - real_first_leak_day)

### Modelos clásicos

In [96]:
from sklearn.model_selection import GridSearchCV
import pickle as pkl

param_grids_path = '../../pkl/param_grids'

def train_classic_model(classifier_class, param_grid, train_data, cv = 5):
    param_pkl_path = f'{param_grids_path}/{classifier_class.__name__}.pkl'

    classifier = None

    X_train, y_train = train_data

    if os.path.exists(param_pkl_path):  # Param grid already known
        param_grid = pkl.load(open(param_pkl_path, 'rb'))
        classifier = classifier_class(**param_grid)
        classifier.fit(X_train, y_train)
    else:
        grid_search = GridSearchCV(
            estimator = classifier_class(),
            param_grid = param_grid,
            cv = cv
        )
        grid_search.fit(X_train, y_train)
        classifier = grid_search.best_estimator_
        pkl.dump(
            obj = grid_search.best_params_,
            file = open(param_pkl_path, 'wb')
        )
    
    return classifier

In [97]:
def test_classic_model(classifier, test_list):
    results = list()

    for (leak_value, test_data) in test_list:

        X_test = test_data.drop(columns='Fugando combustible')
        y_test = test_data['Fugando combustible']

        y_pred = classifier.predict(X_test)

        results.append((
            leak_value, 
            accuracy_score(y_test, y_pred),
            f1_score(y_test, y_pred),
            leak_detection_delay(y_test, y_pred),
            (leak_value * 60 * 24) * leak_detection_delay(y_test, y_pred) if type(leak_value) == float else 0
        ))
    
    return pd.DataFrame.from_records(
        data = results,
        columns = [
            'leak value',
            'accuracy',
            'f1 score',
            'leak detection delay (days)',
            'leak loss (liters)'
        ]
    )

##### Random Forest Classifier

In [98]:
from sklearn.ensemble import RandomForestClassifier

rf_param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20, 30],
    'max_features': ['auto', 'sqrt', 'log2'],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

model = train_classic_model(RandomForestClassifier, rf_param_grid, train_data)
results = test_classic_model(model, segmented_test_data)

display(results)

Loading pickle

,leak value,accuracy,f1 score,leak detection delay (days),leak loss (liters)
0,0.013000,0.525,0.379085,1,18.720000
1,0.054929,0.534,0.423267,2,158.194286
2,0.096857,0.656,0.616071,1,139.474286
3,0.138786,0.717,0.713273,0,0.000000
4,0.180714,0.757,0.755287,1,260.228571
5,0.222643,0.802,0.811429,0,0.000000
6,0.264571,0.801,0.810296,0,0.000000
7,0.306500,0.809,0.822656,0,0.000000
8,0.348429,0.811,0.823858,0,0.000000
9,0.390357,0.817,0.831336,0,0.000000
10,0.432286,0.823,0.833176,0,0.000000
11,0.474214,0.834,0.844569,0,0.000000
12,0.516143,0.801,0.819255,0,0.000000
13,0.558071,0.821,0.836828,0,0.000000
14,0.600000,0.840,0.853480,0,0.000000

##### Naive Bayes Classifier

In [99]:
from sklearn.naive_bayes import GaussianNB

gnb_param_grid = {
    'var_smoothing': [1e-11, 1e-10, 1e-9, 1e-8, 1e-7, 1e-6, 1e-5]
}

model = train_classic_model(GaussianNB, gnb_param_grid, train_data)
results = test_classic_model(model, segmented_test_data)

display(results)

Loading pickle

,leak value,accuracy,f1 score,leak detection delay (days),leak loss (liters)
0,0.013000,0.500,0.277457,1,18.720000
1,0.054929,0.608,0.503797,3,237.291429
2,0.096857,0.607,0.500635,0,0.000000
3,0.138786,0.589,0.458498,0,0.000000
4,0.180714,0.555,0.399460,0,0.000000
5,0.222643,0.523,0.352782,0,0.000000
6,0.264571,0.523,0.317597,0,0.000000
7,0.306500,0.514,0.295652,0,0.000000
8,0.348429,0.508,0.276471,0,0.000000
9,0.390357,0.492,0.255132,0,0.000000
10,0.432286,0.500,0.246988,0,0.000000
11,0.474214,0.496,0.236364,0,0.000000
12,0.516143,0.497,0.229709,0,0.000000
13,0.558071,0.471,0.194825,0,0.000000
14,0.600000,0.478,0.186916,0,0.000000

##### KNN Classifier

In [100]:
from sklearn.neighbors import KNeighborsClassifier

knn_param_grid = {
    'n_neighbors': [3, 5, 7, 9, 11],
    'weights': ['uniform', 'distance'],
    'metric': ['euclidean', 'manhattan', 'minkowski']
}

model = train_classic_model(KNeighborsClassifier, knn_param_grid, train_data)
results = test_classic_model(model, segmented_test_data)

display(results)

Loading pickle

,leak value,accuracy,f1 score,leak detection delay (days),leak loss (liters)
0,0.013000,0.526,0.395408,1,18.720000
1,0.054929,0.534,0.438554,2,158.194286
2,0.096857,0.658,0.622517,1,139.474286
3,0.138786,0.717,0.717846,0,0.000000
4,0.180714,0.756,0.756972,1,260.228571
5,0.222643,0.787,0.796949,0,0.000000
6,0.264571,0.778,0.790566,0,0.000000
7,0.306500,0.788,0.801869,0,0.000000
8,0.348429,0.789,0.802619,0,0.000000
9,0.390357,0.797,0.813932,0,0.000000
10,0.432286,0.809,0.821994,0,0.000000
11,0.474214,0.820,0.834254,0,0.000000
12,0.516143,0.793,0.811304,0,0.000000
13,0.558071,0.797,0.815287,0,0.000000
14,0.600000,0.810,0.825046,0,0.000000

In [101]:
model = train_classic_model(KNeighborsClassifier, knn_param_grid, train_data)
results = test_classic_model(model, test_data)

display(results)

Loading pickle

,leak value,accuracy,f1 score,leak detection delay (days),leak loss (liters)
0,general,0.743933,0.749069,1,0

##### XGBoost Classifier

In [102]:
from xgboost import XGBClassifier

xgb_param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [3, 5, 7, 9],
    'learning_rate': [0.01, 0.1, 0.2, 0.3],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0]
}

model = train_classic_model(XGBClassifier, xgb_param_grid, train_data)
results = test_classic_model(model, segmented_test_data)

display(results)

Loading pickle

,leak value,accuracy,f1 score,leak detection delay (days),leak loss (liters)
0,0.013000,0.515,0.357616,1,18.720000
1,0.054929,0.541,0.435424,6,474.582857
2,0.096857,0.670,0.634146,1,139.474286
3,0.138786,0.728,0.725253,0,0.000000
4,0.180714,0.765,0.764765,1,260.228571
5,0.222643,0.805,0.814462,0,0.000000
6,0.264571,0.809,0.819300,0,0.000000
7,0.306500,0.824,0.836735,0,0.000000
8,0.348429,0.814,0.827138,0,0.000000
9,0.390357,0.820,0.835466,0,0.000000
10,0.432286,0.833,0.842304,0,0.000000
11,0.474214,0.834,0.845438,0,0.000000
12,0.516143,0.822,0.839928,0,0.000000
13,0.558071,0.829,0.843550,0,0.000000
14,0.600000,0.844,0.857923,0,0.000000

##### _Ensemble Classifier_

In [103]:
from sklearn.ensemble import VotingClassifier

voting_clf = VotingClassifier(
    estimators=[
        ('rf', RandomForestClassifier()),
        ('nb', GaussianNB()),
        ('knn', KNeighborsClassifier()),
        ('XGB', XGBClassifier())
    ],
    voting='hard'
)

voting_clf.fit(train_data[0], train_data[1])

results = test_classic_model(voting_clf, segmented_test_data)

display(results)

,leak value,accuracy,f1 score,leak detection delay (days),leak loss (liters)
0,0.013000,0.515,0.314003,1,18.720000
1,0.054929,0.549,0.408912,2,158.194286
2,0.096857,0.654,0.584135,1,139.474286
3,0.138786,0.727,0.706767,0,0.000000
4,0.180714,0.723,0.703108,1,260.228571
5,0.222643,0.770,0.759414,0,0.000000
6,0.264571,0.762,0.752599,0,0.000000
7,0.306500,0.762,0.757143,0,0.000000
8,0.348429,0.754,0.747951,0,0.000000
9,0.390357,0.763,0.761329,0,0.000000
10,0.432286,0.780,0.773663,0,0.000000
11,0.474214,0.795,0.793970,0,0.000000
12,0.516143,0.755,0.750255,0,0.000000
13,0.558071,0.770,0.768145,0,0.000000
14,0.600000,0.784,0.782258,0,0.000000

### Modelos _Deep Learning_

In [ ]:
def eval_dl_model(model, test_list):
    result_dict = {}
    for leak_value, test_dataframe in test_list:
        X_test = test_dataframe.drop(columns='Fugando combustible')
        y_test = test_dataframe['Fugando combustible']
        
        y_pred = (model.predict(X_test, verbose=0) > 0.5).astype(int)

        accuracy = accuracy_score(y_test, y_pred)
        leak_delay = leak_detection_delay(y_test, y_pred)
        f1 = f1_score(y_test, y_pred)
        leak_loss = (leak_value * 60 * 24) * leak_delay

        result_dict[leak_value] = (accuracy, f1, leak_delay, leak_loss)

    return pd.DataFrame.from_dict(
        data = result_dict,
        orient = 'index',
        columns = ['accuracy_score', 'f1_score', 'leak_detection_delay', 'leak_loss']
    )

#### Único modelo de _Deep Learning_

In [ ]:
X_train, y_train = train_data

##### Modelo unicapa

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(X_train.shape[1], 1)),
    tf.keras.layers.LSTM(15, dropout=0.2),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
    loss='binary_crossentropy',
    metrics=['accuracy']
)

history = model.fit(
    x = X_train,
    y = y_train,
    epochs = 50,
    batch_size = 8192,
    verbose = 0
)

display(eval_dl_model(model, segmented_test_data))

##### Modelo multicapa

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(X_train.shape[1], 1)),
    tf.keras.layers.LSTM(25, return_sequences=True, dropout=0.2),
    tf.keras.layers.LSTM(40, return_sequences=True, dropout=0.2),
    tf.keras.layers.LSTM(60, dropout=0.2),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
    loss='binary_crossentropy',
    metrics=['accuracy']
)

history = model.fit(
    x = X_train,
    y = y_train,
    epochs = 50,
    batch_size = 8192,
    verbose = 0
)

display(eval_dl_model(model, segmented_test_data))

#### Múltiples modelos de _Deep Learning_

In [ ]:
results = {}
for case in data_dict:
    X_train = data_dict[case]['train_dataframe'].drop(columns='Fugando combustible')
    y_train = data_dict[case]['train_dataframe']['Fugando combustible']
    
    model = tf.keras.Sequential([
        tf.keras.layers.Input(shape=(X_train.shape[1], 1)),
        tf.keras.layers.LSTM(15, dropout=0.2),
        tf.keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(
        optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
        loss='binary_crossentropy',
        metrics=['accuracy']
    )

    history = model.fit(
        x = X_train,
        y = y_train,
        epochs = 50,
        batch_size = 8192,
        verbose = 0
    )

    leak_value = data_dict[case]['leak_value']

    X_test = data_dict[case]['test_dataframe'].drop(columns='Fugando combustible')
    y_test = data_dict[case]['test_dataframe']['Fugando combustible']
    
    y_pred = (model.predict(X_test, verbose=0) > 0.5).astype(int)

    accuracy = accuracy_score(y_test, y_pred)
    leak_delay = leak_detection_delay(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)

    results[leak_value] = (accuracy, f1, leak_delay)
    # model.save(f'../../pkl/models/{case}.keras')

display(pd.DataFrame.from_dict(
    data = results,
    orient = 'index',
    columns = ['accuracy_score', 'f1_score', 'leak_detection_delay']
))