# TFM

## Importación de librerías

In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import toml
import random
import tensorflow as tf
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

## Ejecución de código en GPU

In [104]:
import tensorflow as tf

# Comprobar la versión de TensorFlow
print("TensorFlow version:", tf.__version__)

# Listar todos los dispositivos físicos disponibles
physical_devices = tf.config.list_physical_devices('GPU')

if physical_devices:
    print("🟢 TensorFlow ha detectado la(s) siguiente(s) GPU(s):")
    for gpu in physical_devices:
        print(f'\t{gpu}')
else:
    print("🔴 No se ha detectado ninguna GPU. TensorFlow está utilizando la CPU.")

TensorFlow version: 2.10.0
🟢 TensorFlow ha detectado la(s) siguiente(s) GPU(s):
	PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')

## Lectura de fichero

In [105]:
data_dict = {}
DATA_DIR = '../../data/'

for data_folder in os.listdir(DATA_DIR):
    *data_files, config_file = os.listdir(f'{DATA_DIR}/{data_folder}')

    leak_value = toml.load(f'{DATA_DIR}/{data_folder}/{config_file}')['tanks']['flow_value']

    train_dataframe, test_dataframe = random.sample(data_files, 2)

    data_dict[data_folder] = {
        'leak_value': leak_value,
        'train_dataframe': pd.read_csv(f'{DATA_DIR}/{data_folder}/{train_dataframe}').drop(columns=['Unnamed: 0']),
        'test_dataframe': pd.read_csv(f'{DATA_DIR}/{data_folder}/{test_dataframe}').drop(columns=['Unnamed: 0'])
    }

### Conjuntos de datos de entrenamiento

In [106]:
for case in data_dict:
    display(data_dict[case]['train_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21950,34",-6035,"7006,85","22922,19","22962,99","40,8","172,2",0
1,2,"22962,99",-6105,"6515,76","23373,75","23300,26","-73,49","125,79",0
2,3,"23300,26",-5770,"6438,69","23968,95","24020,7","51,75","97,38",0
3,4,"24020,7",-5915,"5427,88","23533,58","23536,74","3,16","79,51",0
4,5,"23536,74",-6415,"4351,1","21472,84","21473,49","0,65","87,66",0
...,...,...,...,...,...,...,...,...,...
995,996,"15927,66",-6095,"6450,17","16282,83","16239,24","-43,59","114,14",1
996,997,"16239,24",-5855,"6019,11","16403,35","16385,84","-17,51","38,4",1
997,998,"16385,84",-6120,"3750,83","14016,67","13979,49","-37,18","-21,93",1
998,999,"13979,49",-5845,"6725,82","14860,31","14857,03","-3,28","10,77",1
999,1000,"14857,03",-5745,"3959,55","13071,58","13115,73","44,15","-36,0",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"22430,06","-6075,0","5976,32","22331,38","22376,0","44,62","-116,83",0
1,2,"22376,0","-6065,0","3965,07","20276,07","20290,81","14,74","-45,27",0
2,3,"20290,81","-5775,0","6982,55","21498,36","21513,87","15,51","-60,91",0
3,4,"21513,87","-6035,0","6956,14","22435,01","22426,74","-8,27","5,59",0
4,5,"22426,74","-6030,0","6377,94","22774,68","22817,15","42,47","36,97",0
...,...,...,...,...,...,...,...,...,...
995,996,"2107,2","-5828,98","6463,64","2741,86","2620,44","-121,42","-167,54",1
996,997,"2620,44","-5955,0","6142,6","2808,04","2771,02","-37,02","-143,07",1
997,998,"2771,02","-5896,0","3108,82","-16,16","25,62","41,78","-150,11",1
998,999,"25,62","-5592,26","6421,37","854,73","896,61","41,88","-83,97",1
999,1000,"896,61","-5810,0","6088,25","1174,86","1204,71","29,85","-37,77",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20423,93","-5590,0","5813,6","20647,53","20665,41","17,88","31,64",0
1,2,"20665,41","-5970,0","5997,78","20693,19","20680,86","-12,33","79,51",0
2,3,"20680,86","-5930,0","7951,68","22702,54","22757,13","54,59","150,95",0
3,4,"22757,13","-6260,0","6680,1","23177,23","23197,64","20,41","107,33",0
4,5,"23197,64","-6075,0","5816,09","22938,73","22983,34","44,61","181,99",0
...,...,...,...,...,...,...,...,...,...
995,996,"2,36","-0,0","0,0","2,36","14,55","12,19","2,84",1
996,997,"14,55","-0,0","0,0","14,55","4,86","-9,69","-1,12",1
997,998,"4,86","-0,0","0,0","4,86","0,46","-4,4","0,26",1
998,999,"0,46","-0,0","0,0","0,46","11,22","10,76","-9,79",1
999,1000,"11,22","-0,0","0,0","11,22","12,2","0,98","0,44",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19850,01","-6190,0","3007,83","16667,84","16649,01","-18,83","101,86",0
1,2,"16649,01","-6075,0","7996,41","18570,42","18569,16","-1,26","38,55",0
2,3,"18569,16","-6040,0","7973,61","20502,77","20544,29","41,52","126,92",0
3,4,"20544,29","-6335,0","5734,95","19944,24","19952,92","8,68","69,48",0
4,5,"19952,92","-6275,0","6590,42","20268,34","20302,97","34,63","41,44",0
...,...,...,...,...,...,...,...,...,...
995,996,"1,57","-0,0","0,0","1,57","3,03","1,46","2,57",1
996,997,"3,03","-0,0","0,0","3,03","1,28","-1,75","-6,25",1
997,998,"1,28","-0,0","0,0","1,28","16,88","15,6","5,54",1
998,999,"16,88","-0,0","0,0","16,88","2,92","-13,96","-7,19",1
999,1000,"2,92","-0,0","0,0","2,92","2,08","-0,84","-1,06",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19617,1","-5720,0","6040,65","19937,75","19908,69","-29,06","287,97",0
1,2,"19908,69","-6040,0","9876,76","23745,45","23727,8","-17,65","238,88",0
2,3,"23727,8","-6040,0","6042,62","23730,42","23778,29","47,87","259,99",0
3,4,"23778,29","-5985,0","4048,45","21841,74","21813,92","-27,82","123,38",0
4,5,"21813,92","-6055,0","6875,76","22634,68","22664,82","30,14","231,15",0
...,...,...,...,...,...,...,...,...,...
995,996,"10,5","-0,0","0,0","10,5","23,41","12,91","9,18",1
996,997,"23,41","-0,0","0,0","23,41","0,69","-22,72","-2,91",1
997,998,"0,69","-0,0","0,0","0,69","6,88","6,19","3,32",1
998,999,"6,88","-0,0","0,0","6,88","7,0","0,12","0,49",1
999,1000,"7,0","-0,0","0,0","7,0","16,75","9,75","10,94",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20926,01","-6330,0","7936,74","22532,75","22555,94","23,19","305,48",0
1,2,"22555,94","-5905,0","3348,49","19999,43","20111,82","112,39","503,47",0
2,3,"20111,82","-6245,0","6923,21","20790,03","20855,37","65,34","514,15",0
3,4,"20855,37","-5905,0","7053,86","22004,23","21964,05","-40,18","343,39",0
4,5,"21964,05","-6135,0","3675,69","19504,74","19539,13","34,39","420,04",0
...,...,...,...,...,...,...,...,...,...
995,996,"12,08","-0,0","0,0","12,08","4,19","-7,89","-15,43",1
996,997,"4,19","-0,0","0,0","4,19","5,77","1,58","-4,71",1
997,998,"5,77","-0,0","0,0","5,77","10,56","4,79","9,99",1
998,999,"10,56","-0,0","0,0","10,56","2,91","-7,65","-3,23",1
999,1000,"2,91","-0,0","0,0","2,91","3,57","0,66","3,51",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"16456,74","-6135,0","5716,3","16038,04","16047,94","9,9","143,08",0
1,2,"16047,94","-5965,0","6882,78","16965,72","17080,63","114,91","233,37",0
2,3,"17080,63","-6000,0","9101,26","20181,89","20160,53","-21,36","209,95",0
3,4,"20160,53","-5955,0","4950,57","19156,1","19147,89","-8,21","223,69",0
4,5,"19147,89","-6145,0","8216,24","21219,13","21270,33","51,2","321,6",0
...,...,...,...,...,...,...,...,...,...
995,996,"1,46","-0,0","0,0","1,46","5,59","4,13","-8,62",1
996,997,"5,59","-0,0","0,0","5,59","21,53","15,94","16,29",1
997,998,"21,53","-0,0","0,0","21,53","11,16","-10,37","9,67",1
998,999,"11,16","-0,0","0,0","11,16","10,56","-0,6","-2,0",1
999,1000,"10,56","-0,0","0,0","10,56","9,11","-1,45","-8,44",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"23369,53","-6150,0","4012,96","21232,49","21263,01","30,52","264,45",0
1,2,"21263,01","-5865,0","6439,82","21837,83","21837,57","-0,26","204,51",0
2,3,"21837,57","-5895,0","5946,3","21888,87","21925,55","36,68","273,91",0
3,4,"21925,55","-5970,0","7122,88","23078,43","23121,11","42,68","280,54",0
4,5,"23121,11","-6035,0","6817,47","23903,58","24029,9","126,32","512,85",0
...,...,...,...,...,...,...,...,...,...
995,996,"13,57","-0,0","0,0","13,57","6,42","-7,15","-8,6",1
996,997,"6,42","-0,0","0,0","6,42","4,13","-2,29","3,23",1
997,998,"4,13","-0,0","0,0","4,13","5,5","1,37","-2,82",1
998,999,"5,5","-0,0","0,0","5,5","5,12","-0,38","-1,79",1
999,1000,"5,12","-0,0","0,0","5,12","15,23","10,11","14,6",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19322,64","-6195,0","9878,01","23005,65","23077,84","72,19","307,23",0
1,2,"23077,84","-6235,0","5073,39","21916,23","21906,18","-10,05","387,94",0
2,3,"21906,18","-5785,0","6427,45","22548,63","22677,71","129,08","444,17",0
3,4,"22677,71","-5855,0","5779,43","22602,14","22594,65","-7,49","382,09",0
4,5,"22594,65","-5840,0","7826,3","24580,95","24608,16","27,21","419,31",0
...,...,...,...,...,...,...,...,...,...
995,996,"5,66","-0,0","0,0","5,66","7,47","1,81","-0,91",1
996,997,"7,47","-0,0","0,0","7,47","6,8","-0,67","-2,24",1
997,998,"6,8","-0,0","0,0","6,8","13,35","6,55","10,75",1
998,999,"13,35","-0,0","0,0","13,35","6,79","-6,56","-12,13",1
999,1000,"6,79","-0,0","0,0","6,79","0,44","-6,35","-11,06",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20883,57","-6090,0","5235,88","20029,45","20091,97","62,52","466,98",0
1,2,"20091,97","-5700,0","7679,54","22071,51","22100,09","28,58","493,72",0
2,3,"22100,09","-6025,0","8386,81","24461,9","24424,54","-37,36","413,04",0
3,4,"24424,54","-5920,0","6459,08","24963,62","24947,48","-16,14","431,6",0
4,5,"24947,48","-6245,0","3911,32","22613,8","22599,34","-14,46","420,22",0
...,...,...,...,...,...,...,...,...,...
995,996,"5,55","-0,0","0,0","5,55","2,64","-2,91","-15,2",1
996,997,"2,64","-0,0","0,0","2,64","9,87","7,23","6,53",1
997,998,"9,87","-0,0","0,0","9,87","3,25","-6,62","-5,97",1
998,999,"3,25","-0,0","0,0","3,25","28,01","24,76","17,93",1
999,1000,"28,01","-0,0","0,0","28,01","15,13","-12,88","-0,39",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21317,46","-5990,0","2968,12","18295,58","18323,64","28,06","-82,57",0
1,2,"18323,64","-6255,0","6219,19","18287,83","18284,2","-3,63","-120,57",0
2,3,"18284,2","-5830,0","5794,24","18248,44","18235,2","-13,24","18,69",0
3,4,"18235,2","-5855,0","6994,57","19374,77","19380,49","5,72","13,79",0
4,5,"19380,49","-6320,0","6978,26","20038,75","20051,59","12,84","35,39",0
...,...,...,...,...,...,...,...,...,...
995,996,"4,53","-0,0","0,0","4,53","4,38","-0,15","-0,18",1
996,997,"4,38","-0,0","0,0","4,38","21,36","16,98","10,55",1
997,998,"21,36","-0,0","0,0","21,36","15,47","-5,89","6,24",1
998,999,"15,47","-0,0","0,0","15,47","11,43","-4,04","11,26",1
999,1000,"11,43","-0,0","0,0","11,43","5,28","-6,15","3,36",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"17649,13","-6265,0","12861,14","24245,27","24390,14","144,87","59,32",0
1,2,"24390,14","-6490,0","4415,47","22315,61","22333,73","18,12","59,55",0
2,3,"22333,73","-6055,0","7892,33","24171,06","24129,01","-42,05","78,36",0
3,4,"24129,01","-6280,0","2744,76","20593,77","20587,03","-6,74","119,29",0
4,5,"20587,03","-6115,0","7715,2","22187,23","22232,0","44,77","161,75",0
...,...,...,...,...,...,...,...,...,...
995,996,"20,23","-0,0","0,0","20,23","0,26","-19,97","-14,2",1
996,997,"0,26","-0,0","0,0","0,26","24,53","24,27","2,86",1
997,998,"24,53","-0,0","0,0","24,53","1,94","-22,59","1,24",1
998,999,"1,94","-0,0","0,0","1,94","0,57","-1,37","-1,17",1
999,1000,"0,57","-0,0","0,0","0,57","4,82","4,25","1,79",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19999,39","-5905,0","6970,79","21065,18","21102,9","37,72","109,13",0
1,2,"21102,9","-6155,0","6060,28","21008,18","20966,69","-41,49","59,33",0
2,3,"20966,69","-5975,0","2934,69","17926,38","17990,19","63,81","85,1",0
3,4,"17990,19","-6305,0","6950,94","18636,13","18679,74","43,61","127,56",0
4,5,"18679,74","-5940,0","7943,2","20682,94","20731,84","48,9","178,79",0
...,...,...,...,...,...,...,...,...,...
995,996,"5,73","-0,0","0,0","5,73","3,13","-2,6","-19,24",1
996,997,"3,13","-0,0","0,0","3,13","3,87","0,74","-3,1",1
997,998,"3,87","-0,0","0,0","3,87","5,88","2,01","5,53",1
998,999,"5,88","-0,0","0,0","5,88","2,22","-3,66","-1,13",1
999,1000,"2,22","-0,0","0,0","2,22","9,98","7,76","-2,71",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"23299,15","-5900,0","4046,57","21445,72","21419,26","-26,46","496,31",0
1,2,"21419,26","-6310,0","8439,67","23548,93","23527,4","-21,53","356,96",0
2,3,"23527,4","-6055,0","7093,15","24565,55","24485,13","-80,42","233,55",0
3,4,"24485,13","-5925,0","2956,05","21516,18","21525,33","9,15","216,75",0
4,5,"21525,33","-6095,0","6018,92","21449,25","21425,77","-23,48","121,03",0
...,...,...,...,...,...,...,...,...,...
995,996,"3,16","-0,0","0,0","3,16","2,82","-0,34","-5,42",1
996,997,"2,82","-0,0","0,0","2,82","2,05","-0,77","1,14",1
997,998,"2,05","-0,0","0,0","2,05","1,39","-0,66","-3,8",1
998,999,"1,39","-0,0","0,0","1,39","10,38","8,99","-2,67",1
999,1000,"10,38","-0,0","0,0","10,38","0,42","-9,96","-14,23",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"16880,67","-6340,0","9520,82","20061,49","20089,2","27,71","239,98",0
1,2,"20089,2","-5965,0","8981,18","23105,38","23114,65","9,27","236,52",0
2,3,"23114,65","-6350,0","6284,23","23048,88","23080,01","31,13","96,76",0
3,4,"23080,01","-5495,0","3705,04","21290,05","21253,69","-36,36","173,15",0
4,5,"21253,69","-6010,0","6906,8","22150,49","22243,33","92,84","144,0",0
...,...,...,...,...,...,...,...,...,...
995,996,"2,33","-0,0","0,0","2,33","8,66","6,33","4,22",1
996,997,"8,66","-0,0","0,0","8,66","8,69","0,03","3,5",1
997,998,"8,69","-0,0","0,0","8,69","21,02","12,33","20,09",1
998,999,"21,02","-0,0","0,0","21,02","5,64","-15,38","3,39",1
999,1000,"5,64","-0,0","0,0","5,64","1,83","-3,81","0,17",1

### Conjunto de datos de prueba

In [107]:
for case in data_dict:
    display(data_dict[case]['test_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20247,25",-5580,"6051,35","20718,6","20679,11","-39,49","-2,21",0
1,2,"20679,11",-6195,"7936,54","22420,65","22497,6","76,95","164,76",0
2,3,"22497,6",-6165,"5995,68","22328,28","22284,53","-43,75","73,79",0
3,4,"22284,53",-5720,"5031,76","21596,29","21654,39","58,1","181,92",0
4,5,"21654,39",-6075,"9124,56","24703,95","24903,47","199,52","323,61",0
...,...,...,...,...,...,...,...,...,...
995,996,"14567,32",-5990,"6995,54","15572,86","15611,86","39,0","-8,11",1
996,997,"15611,86",-6405,"6226,8","15433,66","15483,99","50,33","14,33",1
997,998,"15483,99",-5670,"5799,07","15613,06","15537,81","-75,25","6,19",1
998,999,"15537,81",-6130,"5099,01","14506,82","14515,34","8,52","84,27",1
999,1000,"14515,34",-6130,"8868,5","17253,84","17158,33","-95,51","-78,56",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21149,68","-5960,0","5940,46","21130,14","21204,78","74,64","255,0",0
1,2,"21204,78","-6315,0","7021,73","21911,51","21862,93","-48,58","164,23",0
2,3,"21862,93","-5890,0","3218,08","19191,01","19194,42","3,41","149,26",0
3,4,"19194,42","-6160,0","6739,31","19773,73","19802,52","28,79","127,48",0
4,5,"19802,52","-5960,0","6979,79","20822,31","20853,99","31,68","148,24",0
...,...,...,...,...,...,...,...,...,...
995,996,"2228,36","-5465,58","4141,29","904,07","873,35","-30,72","-173,3",1
996,997,"873,35","-6090,0","6592,68","1376,03","1220,09","-155,94","-308,8",1
997,998,"1220,09","-5980,0","7181,83","2421,92","2463,95","42,03","-206,86",1
998,999,"2463,95","-5850,0","5758,71","2372,66","2400,72","28,06","-176,26",1
999,1000,"2400,72","-6000,0","6221,82","2622,54","2514,26","-108,28","-259,63",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"17445,49","-6140,0","8023,3","19328,79","19296,68","-32,11","150,41",0
1,2,"19296,68","-6010,0","5934,11","19220,79","19289,27","68,48","262,39",0
2,3,"19289,27","-5600,0","9215,39","22904,66","22910,69","6,03","227,65",0
3,4,"22910,69","-6070,0","6617,77","23458,46","23450,71","-7,75","172,64",0
4,5,"23450,71","-5685,0","3400,23","21165,94","21214,19","48,25","159,64",0
...,...,...,...,...,...,...,...,...,...
995,996,"0,72","-0,0","0,0","0,72","1,57","0,85","-3,08",1
996,997,"1,57","-0,0","0,0","1,57","11,07","9,5","1,17",1
997,998,"11,07","-0,0","0,0","11,07","6,2","-4,87","3,13",1
998,999,"6,2","-0,0","0,0","6,2","5,54","-0,66","-9,25",1
999,1000,"5,54","-0,0","0,0","5,54","3,05","-2,49","-13,9",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"17445,18","-5905,0","6012,94","17553,12","17533,44","-19,68","16,06",0
1,2,"17533,44","-6110,0","8506,7","19930,14","20021,08","90,94","102,33",0
2,3,"20021,08","-5930,0","4407,28","18498,36","18474,61","-23,75","162,19",0
3,4,"18474,61","-6080,0","8762,8","21157,41","21038,06","-119,35","-12,14",0
4,5,"21038,06","-6210,0","8428,75","23256,81","23192,92","-63,89","-100,6",0
...,...,...,...,...,...,...,...,...,...
995,996,"8,86","-0,0","0,0","8,86","9,4","0,54","3,9",1
996,997,"9,4","-0,0","0,0","9,4","12,79","3,39","2,6",1
997,998,"12,79","-0,0","0,0","12,79","14,69","1,9","-0,82",1
998,999,"14,69","-0,0","0,0","14,69","9,11","-5,58","-12,74",1
999,1000,"9,11","-0,0","0,0","9,11","10,64","1,53","10,39",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"18449,36","-6030,0","6911,24","19330,6","19460,91","130,31","181,93",0
1,2,"19460,91","-6125,0","8022,82","21358,73","21278,01","-80,72","73,05",0
2,3,"21278,01","-6065,0","6947,29","22160,3","22222,18","61,88","147,32",0
3,4,"22222,18","-5980,0","7979,31","24221,49","24182,24","-39,25","-32,62",0
4,5,"24182,24","-6245,0","2862,55","20799,79","20848,11","48,32","85,87",0
...,...,...,...,...,...,...,...,...,...
995,996,"5,66","-0,0","0,0","5,66","7,3","1,64","-9,82",1
996,997,"7,3","-0,0","0,0","7,3","10,34","3,04","-0,58",1
997,998,"10,34","-0,0","0,0","10,34","12,28","1,94","-5,24",1
998,999,"12,28","-0,0","0,0","12,28","8,88","-3,4","2,08",1
999,1000,"8,88","-0,0","0,0","8,88","12,9","4,02","6,42",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"15362,61","-6205,0","4348,17","13505,78","13436,24","-69,54","259,9",0
1,2,"13436,24","-6255,0","8032,58","15213,82","15174,65","-39,17","233,42",0
2,3,"15174,65","-6115,0","7934,11","16993,76","17045,24","51,48","300,07",0
3,4,"17045,24","-6230,0","5962,78","16778,02","16826,91","48,89","330,23",0
4,5,"16826,91","-6165,0","8008,51","18670,42","18664,17","-6,25","293,53",0
...,...,...,...,...,...,...,...,...,...
995,996,"1,33","-0,0","0,0","1,33","4,68","3,35","0,91",1
996,997,"4,68","-0,0","0,0","4,68","17,74","13,06","9,68",1
997,998,"17,74","-0,0","0,0","17,74","6,13","-11,61","5,23",1
998,999,"6,13","-0,0","0,0","6,13","1,95","-4,18","-10,78",1
999,1000,"1,95","-0,0","0,0","1,95","5,7","3,75","-4,08",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19740,03","-5920,0","10305,52","24125,55","24176,62","51,07","306,45",0
1,2,"24176,62","-6015,0","3018,53","21180,15","21184,86","4,71","273,95",0
2,3,"21184,86","-5815,0","6534,34","21904,2","21949,08","44,88","293,49",0
3,4,"21949,08","-5725,0","7502,0","23726,08","23762,94","36,86","298,66",0
4,5,"23762,94","-6060,0","4710,68","22413,62","22440,19","26,57","297,24",0
...,...,...,...,...,...,...,...,...,...
995,996,"9,35","-0,0","0,0","9,35","8,41","-0,94","6,29",1
996,997,"8,41","-0,0","0,0","8,41","0,15","-8,26","-0,48",1
997,998,"0,15","-0,0","0,0","0,15","5,66","5,51","2,92",1
998,999,"5,66","-0,0","0,0","5,66","18,47","12,81","1,72",1
999,1000,"18,47","-0,0","0,0","18,47","1,44","-17,03","-4,71",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20243,13","-5965,0","7985,87","22264,0","22278,4","14,4","181,64",0
1,2,"22278,4","-6175,0","6863,82","22967,22","22984,84","17,62","158,55",0
2,3,"22984,84","-6185,0","6517,27","23317,11","23354,87","37,76","255,01",0
3,4,"23354,87","-5855,0","5209,27","22709,14","22651,18","-57,96","184,76",0
4,5,"22651,18","-5890,0","6124,91","22886,09","22981,27","95,18","194,59",0
...,...,...,...,...,...,...,...,...,...
995,996,"1,77","-0,0","0,0","1,77","2,07","0,3","-2,85",1
996,997,"2,07","-0,0","0,0","2,07","10,87","8,8","-1,72",1
997,998,"10,87","-0,0","0,0","10,87","7,09","-3,78","-0,4",1
998,999,"7,09","-0,0","0,0","7,09","19,21","12,12","14,47",1
999,1000,"19,21","-0,0","0,0","19,21","3,36","-15,85","1,85",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"18375,49","-5955,0","8014,32","20434,81","20553,39","118,58","468,67",0
1,2,"20553,39","-5980,0","8130,08","22703,47","22791,19","87,72","570,59",0
2,3,"22791,19","-6035,0","6589,31","23345,5","23363,27","17,77","520,58",0
3,4,"23363,27","-6460,0","6100,17","23003,44","22912,6","-90,84","394,26",0
4,5,"22912,6","-5760,0","6362,96","23515,56","23550,02","34,46","358,38",0
...,...,...,...,...,...,...,...,...,...
995,996,"10,85","-0,0","0,0","10,85","3,87","-6,98","0,1",1
996,997,"3,87","-0,0","0,0","3,87","5,65","1,78","5,48",1
997,998,"5,65","-0,0","0,0","5,65","3,01","-2,64","0,29",1
998,999,"3,01","-0,0","0,0","3,01","4,98","1,97","1,79",1
999,1000,"4,98","-0,0","0,0","4,98","6,61","1,63","3,66",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21913,89","-5945,0","7515,72","23484,61","23445,77","-38,84","316,53",0
1,2,"23445,77","-6015,0","6155,06","23585,83","23611,02","25,19","367,02",0
2,3,"23611,02","-6270,0","5967,41","23308,43","23317,8","9,37","340,51",0
3,4,"23317,8","-5930,0","6661,08","24048,88","24071,63","22,75","432,97",0
4,5,"24071,63","-5995,0","6288,14","24364,77","24288,65","-76,12","261,87",0
...,...,...,...,...,...,...,...,...,...
995,996,"2,8","-0,0","0,0","2,8","6,51","3,71","-6,47",1
996,997,"6,51","-0,0","0,0","6,51","2,55","-3,96","-1,8",1
997,998,"2,55","-0,0","0,0","2,55","14,83","12,28","12,92",1
998,999,"14,83","-0,0","0,0","14,83","1,26","-13,57","-0,92",1
999,1000,"1,26","-0,0","0,0","1,26","12,58","11,32","12,4",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"22143,65","-6055,0","6215,36","22304,01","22242,32","-61,69","34,11",0
1,2,"22242,32","-5940,0","6691,65","22993,97","22983,66","-10,31","42,41",0
2,3,"22983,66","-5885,0","6130,98","23229,64","23301,88","72,24","58,48",0
3,4,"23301,88","-6030,0","5035,77","22307,65","22270,88","-36,77","25,47",0
4,5,"22270,88","-6005,0","6518,15","22784,03","22794,42","10,39","13,96",0
...,...,...,...,...,...,...,...,...,...
995,996,"2,74","-0,0","0,0","2,74","3,88","1,14","3,0",1
996,997,"3,88","-0,0","0,0","3,88","0,72","-3,16","-2,72",1
997,998,"0,72","-0,0","0,0","0,72","1,13","0,41","-11,02",1
998,999,"1,13","-0,0","0,0","1,13","2,14","1,01","-19,34",1
999,1000,"2,14","-0,0","0,0","2,14","6,18","4,04","-4,02",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"14736,59","-6295,0","7061,03","15502,62","15459,79","-42,83","88,42",0
1,2,"15459,79","-6260,0","5970,18","15169,97","15193,08","23,11","120,97",0
2,3,"15193,08","-5900,0","5999,44","15292,52","15281,39","-11,13","89,96",0
3,4,"15281,39","-5980,0","6939,21","16240,6","16288,43","47,83","131,63",0
4,5,"16288,43","-6175,0","7029,8","17143,23","17115,65","-27,58","96,75",0
...,...,...,...,...,...,...,...,...,...
995,996,"15,82","-0,0","0,0","15,82","6,25","-9,57","-9,53",1
996,997,"6,25","-0,0","0,0","6,25","7,02","0,77","2,84",1
997,998,"7,02","-0,0","0,0","7,02","1,57","-5,45","-7,61",1
998,999,"1,57","-0,0","0,0","1,57","0,12","-1,45","-4,11",1
999,1000,"0,12","-0,0","0,0","0,12","7,9","7,78","3,04",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"15272,5","-6010,0","10030,29","19292,79","19280,8","-11,99","292,48",0
1,2,"19280,8","-6205,0","3984,78","17060,58","17094,5","33,92","305,91",0
2,3,"17094,5","-5995,0","7951,55","19051,05","19091,82","40,77","164,52",0
3,4,"19091,82","-6255,0","3983,16","16819,98","16872,08","52,1","215,19",0
4,5,"16872,08","-5965,0","8512,19","19419,27","19433,93","14,66","140,65",0
...,...,...,...,...,...,...,...,...,...
995,996,"16,81","-0,0","0,0","16,81","4,18","-12,63","-0,89",1
996,997,"4,18","-0,0","0,0","4,18","10,01","5,83","5,26",1
997,998,"10,01","-0,0","0,0","10,01","6,14","-3,87","-0,29",1
998,999,"6,14","-0,0","0,0","6,14","14,1","7,96","2,67",1
999,1000,"14,1","-0,0","0,0","14,1","2,07","-12,03","0,29",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"22682,46","-5995,0","5831,75","22519,21","22535,33","16,12","459,1",0
1,2,"22535,33","-5975,0","3507,95","20068,28","20135,89","67,61","514,24",0
2,3,"20135,89","-6250,0","8020,71","21906,6","21854,08","-52,52","421,71",0
3,4,"21854,08","-5985,0","8129,34","23998,42","23900,39","-98,03","282,93",0
4,5,"23900,39","-6030,0","5690,89","23561,28","23581,5","20,22","287,66",0
...,...,...,...,...,...,...,...,...,...
995,996,"6,96","-0,0","0,0","6,96","3,42","-3,54","-0,25",1
996,997,"3,42","-0,0","0,0","3,42","18,91","15,49","16,44",1
997,998,"18,91","-0,0","0,0","18,91","16,72","-2,19","9,09",1
998,999,"16,72","-0,0","0,0","16,72","1,44","-15,28","-0,25",1
999,1000,"1,44","-0,0","0,0","1,44","4,59","3,15","-0,04",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"11373,11","-5975,0","6995,25","12393,36","12436,56","43,2","4,09",0
1,2,"12436,56","-6120,0","7067,55","13384,11","13284,95","-99,16","-89,11",0
2,3,"13284,95","-5925,0","7087,68","14447,63","14371,67","-75,96","-172,46",0
3,4,"14371,67","-5840,0","11960,98","20492,65","20550,77","58,12","-132,89",0
4,5,"20550,77","-6070,0","7059,92","21540,69","21530,27","-10,42","-122,12",0
...,...,...,...,...,...,...,...,...,...
995,996,"11,82","-0,0","0,0","11,82","11,43","-0,39","-5,83",1
996,997,"11,43","-0,0","0,0","11,43","13,08","1,65","10,37",1
997,998,"13,08","-0,0","0,0","13,08","1,18","-11,9","-5,79",1
998,999,"1,18","-0,0","0,0","1,18","20,33","19,15","11,23",1
999,1000,"20,33","-0,0","0,0","20,33","11,29","-9,04","7,59",1

## Limpieza de datos

In [108]:
bad_formatted_fields = [
    'Volumen dep. almacenam. ini. (L)',
    'Llenado dep. almacenam. (L)',
    'Volumen dep. almacenam. fin. teor. (L)',
    'Volumen dep. almacenam. fin. (L)',
    'Variacion',
    'Variacion Acum.',
]

for case in data_dict:
    for dataset in ['train_dataframe', 'test_dataframe']:
        for field in bad_formatted_fields:
            data_dict[case][dataset][field] = data_dict[case][dataset][field].str.replace(',', '.')
            data_dict[case][dataset][field] = pd.to_numeric(data_dict[case][dataset][field])

### Conjunto de datos de entrenamiento

In [109]:
for case in data_dict:
    display(data_dict[case]['train_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21950.34,-6035,7006.85,22922.19,22962.99,40.80,172.20,0
1,2,22962.99,-6105,6515.76,23373.75,23300.26,-73.49,125.79,0
2,3,23300.26,-5770,6438.69,23968.95,24020.70,51.75,97.38,0
3,4,24020.70,-5915,5427.88,23533.58,23536.74,3.16,79.51,0
4,5,23536.74,-6415,4351.10,21472.84,21473.49,0.65,87.66,0
...,...,...,...,...,...,...,...,...,...
995,996,15927.66,-6095,6450.17,16282.83,16239.24,-43.59,114.14,1
996,997,16239.24,-5855,6019.11,16403.35,16385.84,-17.51,38.40,1
997,998,16385.84,-6120,3750.83,14016.67,13979.49,-37.18,-21.93,1
998,999,13979.49,-5845,6725.82,14860.31,14857.03,-3.28,10.77,1
999,1000,14857.03,-5745,3959.55,13071.58,13115.73,44.15,-36.00,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,22430.06,"-6075,0",5976.32,22331.38,22376.00,44.62,-116.83,0
1,2,22376.00,"-6065,0",3965.07,20276.07,20290.81,14.74,-45.27,0
2,3,20290.81,"-5775,0",6982.55,21498.36,21513.87,15.51,-60.91,0
3,4,21513.87,"-6035,0",6956.14,22435.01,22426.74,-8.27,5.59,0
4,5,22426.74,"-6030,0",6377.94,22774.68,22817.15,42.47,36.97,0
...,...,...,...,...,...,...,...,...,...
995,996,2107.20,"-5828,98",6463.64,2741.86,2620.44,-121.42,-167.54,1
996,997,2620.44,"-5955,0",6142.60,2808.04,2771.02,-37.02,-143.07,1
997,998,2771.02,"-5896,0",3108.82,-16.16,25.62,41.78,-150.11,1
998,999,25.62,"-5592,26",6421.37,854.73,896.61,41.88,-83.97,1
999,1000,896.61,"-5810,0",6088.25,1174.86,1204.71,29.85,-37.77,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20423.93,"-5590,0",5813.60,20647.53,20665.41,17.88,31.64,0
1,2,20665.41,"-5970,0",5997.78,20693.19,20680.86,-12.33,79.51,0
2,3,20680.86,"-5930,0",7951.68,22702.54,22757.13,54.59,150.95,0
3,4,22757.13,"-6260,0",6680.10,23177.23,23197.64,20.41,107.33,0
4,5,23197.64,"-6075,0",5816.09,22938.73,22983.34,44.61,181.99,0
...,...,...,...,...,...,...,...,...,...
995,996,2.36,"-0,0",0.00,2.36,14.55,12.19,2.84,1
996,997,14.55,"-0,0",0.00,14.55,4.86,-9.69,-1.12,1
997,998,4.86,"-0,0",0.00,4.86,0.46,-4.40,0.26,1
998,999,0.46,"-0,0",0.00,0.46,11.22,10.76,-9.79,1
999,1000,11.22,"-0,0",0.00,11.22,12.20,0.98,0.44,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19850.01,"-6190,0",3007.83,16667.84,16649.01,-18.83,101.86,0
1,2,16649.01,"-6075,0",7996.41,18570.42,18569.16,-1.26,38.55,0
2,3,18569.16,"-6040,0",7973.61,20502.77,20544.29,41.52,126.92,0
3,4,20544.29,"-6335,0",5734.95,19944.24,19952.92,8.68,69.48,0
4,5,19952.92,"-6275,0",6590.42,20268.34,20302.97,34.63,41.44,0
...,...,...,...,...,...,...,...,...,...
995,996,1.57,"-0,0",0.00,1.57,3.03,1.46,2.57,1
996,997,3.03,"-0,0",0.00,3.03,1.28,-1.75,-6.25,1
997,998,1.28,"-0,0",0.00,1.28,16.88,15.60,5.54,1
998,999,16.88,"-0,0",0.00,16.88,2.92,-13.96,-7.19,1
999,1000,2.92,"-0,0",0.00,2.92,2.08,-0.84,-1.06,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19617.10,"-5720,0",6040.65,19937.75,19908.69,-29.06,287.97,0
1,2,19908.69,"-6040,0",9876.76,23745.45,23727.80,-17.65,238.88,0
2,3,23727.80,"-6040,0",6042.62,23730.42,23778.29,47.87,259.99,0
3,4,23778.29,"-5985,0",4048.45,21841.74,21813.92,-27.82,123.38,0
4,5,21813.92,"-6055,0",6875.76,22634.68,22664.82,30.14,231.15,0
...,...,...,...,...,...,...,...,...,...
995,996,10.50,"-0,0",0.00,10.50,23.41,12.91,9.18,1
996,997,23.41,"-0,0",0.00,23.41,0.69,-22.72,-2.91,1
997,998,0.69,"-0,0",0.00,0.69,6.88,6.19,3.32,1
998,999,6.88,"-0,0",0.00,6.88,7.00,0.12,0.49,1
999,1000,7.00,"-0,0",0.00,7.00,16.75,9.75,10.94,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20926.01,"-6330,0",7936.74,22532.75,22555.94,23.19,305.48,0
1,2,22555.94,"-5905,0",3348.49,19999.43,20111.82,112.39,503.47,0
2,3,20111.82,"-6245,0",6923.21,20790.03,20855.37,65.34,514.15,0
3,4,20855.37,"-5905,0",7053.86,22004.23,21964.05,-40.18,343.39,0
4,5,21964.05,"-6135,0",3675.69,19504.74,19539.13,34.39,420.04,0
...,...,...,...,...,...,...,...,...,...
995,996,12.08,"-0,0",0.00,12.08,4.19,-7.89,-15.43,1
996,997,4.19,"-0,0",0.00,4.19,5.77,1.58,-4.71,1
997,998,5.77,"-0,0",0.00,5.77,10.56,4.79,9.99,1
998,999,10.56,"-0,0",0.00,10.56,2.91,-7.65,-3.23,1
999,1000,2.91,"-0,0",0.00,2.91,3.57,0.66,3.51,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,16456.74,"-6135,0",5716.30,16038.04,16047.94,9.90,143.08,0
1,2,16047.94,"-5965,0",6882.78,16965.72,17080.63,114.91,233.37,0
2,3,17080.63,"-6000,0",9101.26,20181.89,20160.53,-21.36,209.95,0
3,4,20160.53,"-5955,0",4950.57,19156.10,19147.89,-8.21,223.69,0
4,5,19147.89,"-6145,0",8216.24,21219.13,21270.33,51.20,321.60,0
...,...,...,...,...,...,...,...,...,...
995,996,1.46,"-0,0",0.00,1.46,5.59,4.13,-8.62,1
996,997,5.59,"-0,0",0.00,5.59,21.53,15.94,16.29,1
997,998,21.53,"-0,0",0.00,21.53,11.16,-10.37,9.67,1
998,999,11.16,"-0,0",0.00,11.16,10.56,-0.60,-2.00,1
999,1000,10.56,"-0,0",0.00,10.56,9.11,-1.45,-8.44,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,23369.53,"-6150,0",4012.96,21232.49,21263.01,30.52,264.45,0
1,2,21263.01,"-5865,0",6439.82,21837.83,21837.57,-0.26,204.51,0
2,3,21837.57,"-5895,0",5946.30,21888.87,21925.55,36.68,273.91,0
3,4,21925.55,"-5970,0",7122.88,23078.43,23121.11,42.68,280.54,0
4,5,23121.11,"-6035,0",6817.47,23903.58,24029.90,126.32,512.85,0
...,...,...,...,...,...,...,...,...,...
995,996,13.57,"-0,0",0.00,13.57,6.42,-7.15,-8.60,1
996,997,6.42,"-0,0",0.00,6.42,4.13,-2.29,3.23,1
997,998,4.13,"-0,0",0.00,4.13,5.50,1.37,-2.82,1
998,999,5.50,"-0,0",0.00,5.50,5.12,-0.38,-1.79,1
999,1000,5.12,"-0,0",0.00,5.12,15.23,10.11,14.60,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19322.64,"-6195,0",9878.01,23005.65,23077.84,72.19,307.23,0
1,2,23077.84,"-6235,0",5073.39,21916.23,21906.18,-10.05,387.94,0
2,3,21906.18,"-5785,0",6427.45,22548.63,22677.71,129.08,444.17,0
3,4,22677.71,"-5855,0",5779.43,22602.14,22594.65,-7.49,382.09,0
4,5,22594.65,"-5840,0",7826.30,24580.95,24608.16,27.21,419.31,0
...,...,...,...,...,...,...,...,...,...
995,996,5.66,"-0,0",0.00,5.66,7.47,1.81,-0.91,1
996,997,7.47,"-0,0",0.00,7.47,6.80,-0.67,-2.24,1
997,998,6.80,"-0,0",0.00,6.80,13.35,6.55,10.75,1
998,999,13.35,"-0,0",0.00,13.35,6.79,-6.56,-12.13,1
999,1000,6.79,"-0,0",0.00,6.79,0.44,-6.35,-11.06,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20883.57,"-6090,0",5235.88,20029.45,20091.97,62.52,466.98,0
1,2,20091.97,"-5700,0",7679.54,22071.51,22100.09,28.58,493.72,0
2,3,22100.09,"-6025,0",8386.81,24461.90,24424.54,-37.36,413.04,0
3,4,24424.54,"-5920,0",6459.08,24963.62,24947.48,-16.14,431.60,0
4,5,24947.48,"-6245,0",3911.32,22613.80,22599.34,-14.46,420.22,0
...,...,...,...,...,...,...,...,...,...
995,996,5.55,"-0,0",0.00,5.55,2.64,-2.91,-15.20,1
996,997,2.64,"-0,0",0.00,2.64,9.87,7.23,6.53,1
997,998,9.87,"-0,0",0.00,9.87,3.25,-6.62,-5.97,1
998,999,3.25,"-0,0",0.00,3.25,28.01,24.76,17.93,1
999,1000,28.01,"-0,0",0.00,28.01,15.13,-12.88,-0.39,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21317.46,"-5990,0",2968.12,18295.58,18323.64,28.06,-82.57,0
1,2,18323.64,"-6255,0",6219.19,18287.83,18284.20,-3.63,-120.57,0
2,3,18284.20,"-5830,0",5794.24,18248.44,18235.20,-13.24,18.69,0
3,4,18235.20,"-5855,0",6994.57,19374.77,19380.49,5.72,13.79,0
4,5,19380.49,"-6320,0",6978.26,20038.75,20051.59,12.84,35.39,0
...,...,...,...,...,...,...,...,...,...
995,996,4.53,"-0,0",0.00,4.53,4.38,-0.15,-0.18,1
996,997,4.38,"-0,0",0.00,4.38,21.36,16.98,10.55,1
997,998,21.36,"-0,0",0.00,21.36,15.47,-5.89,6.24,1
998,999,15.47,"-0,0",0.00,15.47,11.43,-4.04,11.26,1
999,1000,11.43,"-0,0",0.00,11.43,5.28,-6.15,3.36,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,17649.13,"-6265,0",12861.14,24245.27,24390.14,144.87,59.32,0
1,2,24390.14,"-6490,0",4415.47,22315.61,22333.73,18.12,59.55,0
2,3,22333.73,"-6055,0",7892.33,24171.06,24129.01,-42.05,78.36,0
3,4,24129.01,"-6280,0",2744.76,20593.77,20587.03,-6.74,119.29,0
4,5,20587.03,"-6115,0",7715.20,22187.23,22232.00,44.77,161.75,0
...,...,...,...,...,...,...,...,...,...
995,996,20.23,"-0,0",0.00,20.23,0.26,-19.97,-14.20,1
996,997,0.26,"-0,0",0.00,0.26,24.53,24.27,2.86,1
997,998,24.53,"-0,0",0.00,24.53,1.94,-22.59,1.24,1
998,999,1.94,"-0,0",0.00,1.94,0.57,-1.37,-1.17,1
999,1000,0.57,"-0,0",0.00,0.57,4.82,4.25,1.79,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19999.39,"-5905,0",6970.79,21065.18,21102.90,37.72,109.13,0
1,2,21102.90,"-6155,0",6060.28,21008.18,20966.69,-41.49,59.33,0
2,3,20966.69,"-5975,0",2934.69,17926.38,17990.19,63.81,85.10,0
3,4,17990.19,"-6305,0",6950.94,18636.13,18679.74,43.61,127.56,0
4,5,18679.74,"-5940,0",7943.20,20682.94,20731.84,48.90,178.79,0
...,...,...,...,...,...,...,...,...,...
995,996,5.73,"-0,0",0.00,5.73,3.13,-2.60,-19.24,1
996,997,3.13,"-0,0",0.00,3.13,3.87,0.74,-3.10,1
997,998,3.87,"-0,0",0.00,3.87,5.88,2.01,5.53,1
998,999,5.88,"-0,0",0.00,5.88,2.22,-3.66,-1.13,1
999,1000,2.22,"-0,0",0.00,2.22,9.98,7.76,-2.71,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,23299.15,"-5900,0",4046.57,21445.72,21419.26,-26.46,496.31,0
1,2,21419.26,"-6310,0",8439.67,23548.93,23527.40,-21.53,356.96,0
2,3,23527.40,"-6055,0",7093.15,24565.55,24485.13,-80.42,233.55,0
3,4,24485.13,"-5925,0",2956.05,21516.18,21525.33,9.15,216.75,0
4,5,21525.33,"-6095,0",6018.92,21449.25,21425.77,-23.48,121.03,0
...,...,...,...,...,...,...,...,...,...
995,996,3.16,"-0,0",0.00,3.16,2.82,-0.34,-5.42,1
996,997,2.82,"-0,0",0.00,2.82,2.05,-0.77,1.14,1
997,998,2.05,"-0,0",0.00,2.05,1.39,-0.66,-3.80,1
998,999,1.39,"-0,0",0.00,1.39,10.38,8.99,-2.67,1
999,1000,10.38,"-0,0",0.00,10.38,0.42,-9.96,-14.23,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,16880.67,"-6340,0",9520.82,20061.49,20089.20,27.71,239.98,0
1,2,20089.20,"-5965,0",8981.18,23105.38,23114.65,9.27,236.52,0
2,3,23114.65,"-6350,0",6284.23,23048.88,23080.01,31.13,96.76,0
3,4,23080.01,"-5495,0",3705.04,21290.05,21253.69,-36.36,173.15,0
4,5,21253.69,"-6010,0",6906.80,22150.49,22243.33,92.84,144.00,0
...,...,...,...,...,...,...,...,...,...
995,996,2.33,"-0,0",0.00,2.33,8.66,6.33,4.22,1
996,997,8.66,"-0,0",0.00,8.66,8.69,0.03,3.50,1
997,998,8.69,"-0,0",0.00,8.69,21.02,12.33,20.09,1
998,999,21.02,"-0,0",0.00,21.02,5.64,-15.38,3.39,1
999,1000,5.64,"-0,0",0.00,5.64,1.83,-3.81,0.17,1

### Conjunto de datos de prueba

In [110]:
for case in data_dict:
    display(data_dict[case]['test_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20247.25,-5580,6051.35,20718.60,20679.11,-39.49,-2.21,0
1,2,20679.11,-6195,7936.54,22420.65,22497.60,76.95,164.76,0
2,3,22497.60,-6165,5995.68,22328.28,22284.53,-43.75,73.79,0
3,4,22284.53,-5720,5031.76,21596.29,21654.39,58.10,181.92,0
4,5,21654.39,-6075,9124.56,24703.95,24903.47,199.52,323.61,0
...,...,...,...,...,...,...,...,...,...
995,996,14567.32,-5990,6995.54,15572.86,15611.86,39.00,-8.11,1
996,997,15611.86,-6405,6226.80,15433.66,15483.99,50.33,14.33,1
997,998,15483.99,-5670,5799.07,15613.06,15537.81,-75.25,6.19,1
998,999,15537.81,-6130,5099.01,14506.82,14515.34,8.52,84.27,1
999,1000,14515.34,-6130,8868.50,17253.84,17158.33,-95.51,-78.56,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21149.68,"-5960,0",5940.46,21130.14,21204.78,74.64,255.00,0
1,2,21204.78,"-6315,0",7021.73,21911.51,21862.93,-48.58,164.23,0
2,3,21862.93,"-5890,0",3218.08,19191.01,19194.42,3.41,149.26,0
3,4,19194.42,"-6160,0",6739.31,19773.73,19802.52,28.79,127.48,0
4,5,19802.52,"-5960,0",6979.79,20822.31,20853.99,31.68,148.24,0
...,...,...,...,...,...,...,...,...,...
995,996,2228.36,"-5465,58",4141.29,904.07,873.35,-30.72,-173.30,1
996,997,873.35,"-6090,0",6592.68,1376.03,1220.09,-155.94,-308.80,1
997,998,1220.09,"-5980,0",7181.83,2421.92,2463.95,42.03,-206.86,1
998,999,2463.95,"-5850,0",5758.71,2372.66,2400.72,28.06,-176.26,1
999,1000,2400.72,"-6000,0",6221.82,2622.54,2514.26,-108.28,-259.63,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,17445.49,"-6140,0",8023.30,19328.79,19296.68,-32.11,150.41,0
1,2,19296.68,"-6010,0",5934.11,19220.79,19289.27,68.48,262.39,0
2,3,19289.27,"-5600,0",9215.39,22904.66,22910.69,6.03,227.65,0
3,4,22910.69,"-6070,0",6617.77,23458.46,23450.71,-7.75,172.64,0
4,5,23450.71,"-5685,0",3400.23,21165.94,21214.19,48.25,159.64,0
...,...,...,...,...,...,...,...,...,...
995,996,0.72,"-0,0",0.00,0.72,1.57,0.85,-3.08,1
996,997,1.57,"-0,0",0.00,1.57,11.07,9.50,1.17,1
997,998,11.07,"-0,0",0.00,11.07,6.20,-4.87,3.13,1
998,999,6.20,"-0,0",0.00,6.20,5.54,-0.66,-9.25,1
999,1000,5.54,"-0,0",0.00,5.54,3.05,-2.49,-13.90,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,17445.18,"-5905,0",6012.94,17553.12,17533.44,-19.68,16.06,0
1,2,17533.44,"-6110,0",8506.70,19930.14,20021.08,90.94,102.33,0
2,3,20021.08,"-5930,0",4407.28,18498.36,18474.61,-23.75,162.19,0
3,4,18474.61,"-6080,0",8762.80,21157.41,21038.06,-119.35,-12.14,0
4,5,21038.06,"-6210,0",8428.75,23256.81,23192.92,-63.89,-100.60,0
...,...,...,...,...,...,...,...,...,...
995,996,8.86,"-0,0",0.00,8.86,9.40,0.54,3.90,1
996,997,9.40,"-0,0",0.00,9.40,12.79,3.39,2.60,1
997,998,12.79,"-0,0",0.00,12.79,14.69,1.90,-0.82,1
998,999,14.69,"-0,0",0.00,14.69,9.11,-5.58,-12.74,1
999,1000,9.11,"-0,0",0.00,9.11,10.64,1.53,10.39,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,18449.36,"-6030,0",6911.24,19330.60,19460.91,130.31,181.93,0
1,2,19460.91,"-6125,0",8022.82,21358.73,21278.01,-80.72,73.05,0
2,3,21278.01,"-6065,0",6947.29,22160.30,22222.18,61.88,147.32,0
3,4,22222.18,"-5980,0",7979.31,24221.49,24182.24,-39.25,-32.62,0
4,5,24182.24,"-6245,0",2862.55,20799.79,20848.11,48.32,85.87,0
...,...,...,...,...,...,...,...,...,...
995,996,5.66,"-0,0",0.00,5.66,7.30,1.64,-9.82,1
996,997,7.30,"-0,0",0.00,7.30,10.34,3.04,-0.58,1
997,998,10.34,"-0,0",0.00,10.34,12.28,1.94,-5.24,1
998,999,12.28,"-0,0",0.00,12.28,8.88,-3.40,2.08,1
999,1000,8.88,"-0,0",0.00,8.88,12.90,4.02,6.42,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,15362.61,"-6205,0",4348.17,13505.78,13436.24,-69.54,259.90,0
1,2,13436.24,"-6255,0",8032.58,15213.82,15174.65,-39.17,233.42,0
2,3,15174.65,"-6115,0",7934.11,16993.76,17045.24,51.48,300.07,0
3,4,17045.24,"-6230,0",5962.78,16778.02,16826.91,48.89,330.23,0
4,5,16826.91,"-6165,0",8008.51,18670.42,18664.17,-6.25,293.53,0
...,...,...,...,...,...,...,...,...,...
995,996,1.33,"-0,0",0.00,1.33,4.68,3.35,0.91,1
996,997,4.68,"-0,0",0.00,4.68,17.74,13.06,9.68,1
997,998,17.74,"-0,0",0.00,17.74,6.13,-11.61,5.23,1
998,999,6.13,"-0,0",0.00,6.13,1.95,-4.18,-10.78,1
999,1000,1.95,"-0,0",0.00,1.95,5.70,3.75,-4.08,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19740.03,"-5920,0",10305.52,24125.55,24176.62,51.07,306.45,0
1,2,24176.62,"-6015,0",3018.53,21180.15,21184.86,4.71,273.95,0
2,3,21184.86,"-5815,0",6534.34,21904.20,21949.08,44.88,293.49,0
3,4,21949.08,"-5725,0",7502.00,23726.08,23762.94,36.86,298.66,0
4,5,23762.94,"-6060,0",4710.68,22413.62,22440.19,26.57,297.24,0
...,...,...,...,...,...,...,...,...,...
995,996,9.35,"-0,0",0.00,9.35,8.41,-0.94,6.29,1
996,997,8.41,"-0,0",0.00,8.41,0.15,-8.26,-0.48,1
997,998,0.15,"-0,0",0.00,0.15,5.66,5.51,2.92,1
998,999,5.66,"-0,0",0.00,5.66,18.47,12.81,1.72,1
999,1000,18.47,"-0,0",0.00,18.47,1.44,-17.03,-4.71,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20243.13,"-5965,0",7985.87,22264.00,22278.40,14.40,181.64,0
1,2,22278.40,"-6175,0",6863.82,22967.22,22984.84,17.62,158.55,0
2,3,22984.84,"-6185,0",6517.27,23317.11,23354.87,37.76,255.01,0
3,4,23354.87,"-5855,0",5209.27,22709.14,22651.18,-57.96,184.76,0
4,5,22651.18,"-5890,0",6124.91,22886.09,22981.27,95.18,194.59,0
...,...,...,...,...,...,...,...,...,...
995,996,1.77,"-0,0",0.00,1.77,2.07,0.30,-2.85,1
996,997,2.07,"-0,0",0.00,2.07,10.87,8.80,-1.72,1
997,998,10.87,"-0,0",0.00,10.87,7.09,-3.78,-0.40,1
998,999,7.09,"-0,0",0.00,7.09,19.21,12.12,14.47,1
999,1000,19.21,"-0,0",0.00,19.21,3.36,-15.85,1.85,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,18375.49,"-5955,0",8014.32,20434.81,20553.39,118.58,468.67,0
1,2,20553.39,"-5980,0",8130.08,22703.47,22791.19,87.72,570.59,0
2,3,22791.19,"-6035,0",6589.31,23345.50,23363.27,17.77,520.58,0
3,4,23363.27,"-6460,0",6100.17,23003.44,22912.60,-90.84,394.26,0
4,5,22912.60,"-5760,0",6362.96,23515.56,23550.02,34.46,358.38,0
...,...,...,...,...,...,...,...,...,...
995,996,10.85,"-0,0",0.00,10.85,3.87,-6.98,0.10,1
996,997,3.87,"-0,0",0.00,3.87,5.65,1.78,5.48,1
997,998,5.65,"-0,0",0.00,5.65,3.01,-2.64,0.29,1
998,999,3.01,"-0,0",0.00,3.01,4.98,1.97,1.79,1
999,1000,4.98,"-0,0",0.00,4.98,6.61,1.63,3.66,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21913.89,"-5945,0",7515.72,23484.61,23445.77,-38.84,316.53,0
1,2,23445.77,"-6015,0",6155.06,23585.83,23611.02,25.19,367.02,0
2,3,23611.02,"-6270,0",5967.41,23308.43,23317.80,9.37,340.51,0
3,4,23317.80,"-5930,0",6661.08,24048.88,24071.63,22.75,432.97,0
4,5,24071.63,"-5995,0",6288.14,24364.77,24288.65,-76.12,261.87,0
...,...,...,...,...,...,...,...,...,...
995,996,2.80,"-0,0",0.00,2.80,6.51,3.71,-6.47,1
996,997,6.51,"-0,0",0.00,6.51,2.55,-3.96,-1.80,1
997,998,2.55,"-0,0",0.00,2.55,14.83,12.28,12.92,1
998,999,14.83,"-0,0",0.00,14.83,1.26,-13.57,-0.92,1
999,1000,1.26,"-0,0",0.00,1.26,12.58,11.32,12.40,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,22143.65,"-6055,0",6215.36,22304.01,22242.32,-61.69,34.11,0
1,2,22242.32,"-5940,0",6691.65,22993.97,22983.66,-10.31,42.41,0
2,3,22983.66,"-5885,0",6130.98,23229.64,23301.88,72.24,58.48,0
3,4,23301.88,"-6030,0",5035.77,22307.65,22270.88,-36.77,25.47,0
4,5,22270.88,"-6005,0",6518.15,22784.03,22794.42,10.39,13.96,0
...,...,...,...,...,...,...,...,...,...
995,996,2.74,"-0,0",0.00,2.74,3.88,1.14,3.00,1
996,997,3.88,"-0,0",0.00,3.88,0.72,-3.16,-2.72,1
997,998,0.72,"-0,0",0.00,0.72,1.13,0.41,-11.02,1
998,999,1.13,"-0,0",0.00,1.13,2.14,1.01,-19.34,1
999,1000,2.14,"-0,0",0.00,2.14,6.18,4.04,-4.02,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,14736.59,"-6295,0",7061.03,15502.62,15459.79,-42.83,88.42,0
1,2,15459.79,"-6260,0",5970.18,15169.97,15193.08,23.11,120.97,0
2,3,15193.08,"-5900,0",5999.44,15292.52,15281.39,-11.13,89.96,0
3,4,15281.39,"-5980,0",6939.21,16240.60,16288.43,47.83,131.63,0
4,5,16288.43,"-6175,0",7029.80,17143.23,17115.65,-27.58,96.75,0
...,...,...,...,...,...,...,...,...,...
995,996,15.82,"-0,0",0.00,15.82,6.25,-9.57,-9.53,1
996,997,6.25,"-0,0",0.00,6.25,7.02,0.77,2.84,1
997,998,7.02,"-0,0",0.00,7.02,1.57,-5.45,-7.61,1
998,999,1.57,"-0,0",0.00,1.57,0.12,-1.45,-4.11,1
999,1000,0.12,"-0,0",0.00,0.12,7.90,7.78,3.04,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,15272.50,"-6010,0",10030.29,19292.79,19280.80,-11.99,292.48,0
1,2,19280.80,"-6205,0",3984.78,17060.58,17094.50,33.92,305.91,0
2,3,17094.50,"-5995,0",7951.55,19051.05,19091.82,40.77,164.52,0
3,4,19091.82,"-6255,0",3983.16,16819.98,16872.08,52.10,215.19,0
4,5,16872.08,"-5965,0",8512.19,19419.27,19433.93,14.66,140.65,0
...,...,...,...,...,...,...,...,...,...
995,996,16.81,"-0,0",0.00,16.81,4.18,-12.63,-0.89,1
996,997,4.18,"-0,0",0.00,4.18,10.01,5.83,5.26,1
997,998,10.01,"-0,0",0.00,10.01,6.14,-3.87,-0.29,1
998,999,6.14,"-0,0",0.00,6.14,14.10,7.96,2.67,1
999,1000,14.10,"-0,0",0.00,14.10,2.07,-12.03,0.29,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,22682.46,"-5995,0",5831.75,22519.21,22535.33,16.12,459.10,0
1,2,22535.33,"-5975,0",3507.95,20068.28,20135.89,67.61,514.24,0
2,3,20135.89,"-6250,0",8020.71,21906.60,21854.08,-52.52,421.71,0
3,4,21854.08,"-5985,0",8129.34,23998.42,23900.39,-98.03,282.93,0
4,5,23900.39,"-6030,0",5690.89,23561.28,23581.50,20.22,287.66,0
...,...,...,...,...,...,...,...,...,...
995,996,6.96,"-0,0",0.00,6.96,3.42,-3.54,-0.25,1
996,997,3.42,"-0,0",0.00,3.42,18.91,15.49,16.44,1
997,998,18.91,"-0,0",0.00,18.91,16.72,-2.19,9.09,1
998,999,16.72,"-0,0",0.00,16.72,1.44,-15.28,-0.25,1
999,1000,1.44,"-0,0",0.00,1.44,4.59,3.15,-0.04,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,11373.11,"-5975,0",6995.25,12393.36,12436.56,43.20,4.09,0
1,2,12436.56,"-6120,0",7067.55,13384.11,13284.95,-99.16,-89.11,0
2,3,13284.95,"-5925,0",7087.68,14447.63,14371.67,-75.96,-172.46,0
3,4,14371.67,"-5840,0",11960.98,20492.65,20550.77,58.12,-132.89,0
4,5,20550.77,"-6070,0",7059.92,21540.69,21530.27,-10.42,-122.12,0
...,...,...,...,...,...,...,...,...,...
995,996,11.82,"-0,0",0.00,11.82,11.43,-0.39,-5.83,1
996,997,11.43,"-0,0",0.00,11.43,13.08,1.65,10.37,1
997,998,13.08,"-0,0",0.00,13.08,1.18,-11.90,-5.79,1
998,999,1.18,"-0,0",0.00,1.18,20.33,19.15,11.23,1
999,1000,20.33,"-0,0",0.00,20.33,11.29,-9.04,7.59,1

<!-- TODO -->

## Selección de características

In [111]:
for case in data_dict:
    for dataset in ['train_dataframe', 'test_dataframe']:
        data_dict[case][dataset] = data_dict[case][dataset].filter(items=['Variacion', 'Fugando combustible'])

### Conjunto de datos de entrenamiento

In [112]:
for case in data_dict:
    display(data_dict[case]['train_dataframe'])

     Variacion  Fugando combustible
0        40.80                    0
1       -73.49                    0
2        51.75                    0
3         3.16                    0
4         0.65                    0
..         ...                  ...
995     -43.59                    1
996     -17.51                    1
997     -37.18                    1
998      -3.28                    1
999      44.15                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        44.62                    0
1        14.74                    0
2        15.51                    0
3        -8.27                    0
4        42.47                    0
..         ...                  ...
995    -121.42                    1
996     -37.02                    1
997      41.78                    1
998      41.88                    1
999      29.85                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        17.88                    0
1       -12.33                    0
2        54.59                    0
3        20.41                    0
4        44.61                    0
..         ...                  ...
995      12.19                    1
996      -9.69                    1
997      -4.40                    1
998      10.76                    1
999       0.98                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -18.83                    0
1        -1.26                    0
2        41.52                    0
3         8.68                    0
4        34.63                    0
..         ...                  ...
995       1.46                    1
996      -1.75                    1
997      15.60                    1
998     -13.96                    1
999      -0.84                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -29.06                    0
1       -17.65                    0
2        47.87                    0
3       -27.82                    0
4        30.14                    0
..         ...                  ...
995      12.91                    1
996     -22.72                    1
997       6.19                    1
998       0.12                    1
999       9.75                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        23.19                    0
1       112.39                    0
2        65.34                    0
3       -40.18                    0
4        34.39                    0
..         ...                  ...
995      -7.89                    1
996       1.58                    1
997       4.79                    1
998      -7.65                    1
999       0.66                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0         9.90                    0
1       114.91                    0
2       -21.36                    0
3        -8.21                    0
4        51.20                    0
..         ...                  ...
995       4.13                    1
996      15.94                    1
997     -10.37                    1
998      -0.60                    1
999      -1.45                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        30.52                    0
1        -0.26                    0
2        36.68                    0
3        42.68                    0
4       126.32                    0
..         ...                  ...
995      -7.15                    1
996      -2.29                    1
997       1.37                    1
998      -0.38                    1
999      10.11                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        72.19                    0
1       -10.05                    0
2       129.08                    0
3        -7.49                    0
4        27.21                    0
..         ...                  ...
995       1.81                    1
996      -0.67                    1
997       6.55                    1
998      -6.56                    1
999      -6.35                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        62.52                    0
1        28.58                    0
2       -37.36                    0
3       -16.14                    0
4       -14.46                    0
..         ...                  ...
995      -2.91                    1
996       7.23                    1
997      -6.62                    1
998      24.76                    1
999     -12.88                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        28.06                    0
1        -3.63                    0
2       -13.24                    0
3         5.72                    0
4        12.84                    0
..         ...                  ...
995      -0.15                    1
996      16.98                    1
997      -5.89                    1
998      -4.04                    1
999      -6.15                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       144.87                    0
1        18.12                    0
2       -42.05                    0
3        -6.74                    0
4        44.77                    0
..         ...                  ...
995     -19.97                    1
996      24.27                    1
997     -22.59                    1
998      -1.37                    1
999       4.25                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        37.72                    0
1       -41.49                    0
2        63.81                    0
3        43.61                    0
4        48.90                    0
..         ...                  ...
995      -2.60                    1
996       0.74                    1
997       2.01                    1
998      -3.66                    1
999       7.76                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -26.46                    0
1       -21.53                    0
2       -80.42                    0
3         9.15                    0
4       -23.48                    0
..         ...                  ...
995      -0.34                    1
996      -0.77                    1
997      -0.66                    1
998       8.99                    1
999      -9.96                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        27.71                    0
1         9.27                    0
2        31.13                    0
3       -36.36                    0
4        92.84                    0
..         ...                  ...
995       6.33                    1
996       0.03                    1
997      12.33                    1
998     -15.38                    1
999      -3.81                    1

[1000 rows x 2 columns]

### Conjunto de datos de prueba

In [113]:
for case in data_dict:
    display(data_dict[case]['test_dataframe'])

     Variacion  Fugando combustible
0       -39.49                    0
1        76.95                    0
2       -43.75                    0
3        58.10                    0
4       199.52                    0
..         ...                  ...
995      39.00                    1
996      50.33                    1
997     -75.25                    1
998       8.52                    1
999     -95.51                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        74.64                    0
1       -48.58                    0
2         3.41                    0
3        28.79                    0
4        31.68                    0
..         ...                  ...
995     -30.72                    1
996    -155.94                    1
997      42.03                    1
998      28.06                    1
999    -108.28                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -32.11                    0
1        68.48                    0
2         6.03                    0
3        -7.75                    0
4        48.25                    0
..         ...                  ...
995       0.85                    1
996       9.50                    1
997      -4.87                    1
998      -0.66                    1
999      -2.49                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -19.68                    0
1        90.94                    0
2       -23.75                    0
3      -119.35                    0
4       -63.89                    0
..         ...                  ...
995       0.54                    1
996       3.39                    1
997       1.90                    1
998      -5.58                    1
999       1.53                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       130.31                    0
1       -80.72                    0
2        61.88                    0
3       -39.25                    0
4        48.32                    0
..         ...                  ...
995       1.64                    1
996       3.04                    1
997       1.94                    1
998      -3.40                    1
999       4.02                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -69.54                    0
1       -39.17                    0
2        51.48                    0
3        48.89                    0
4        -6.25                    0
..         ...                  ...
995       3.35                    1
996      13.06                    1
997     -11.61                    1
998      -4.18                    1
999       3.75                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        51.07                    0
1         4.71                    0
2        44.88                    0
3        36.86                    0
4        26.57                    0
..         ...                  ...
995      -0.94                    1
996      -8.26                    1
997       5.51                    1
998      12.81                    1
999     -17.03                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        14.40                    0
1        17.62                    0
2        37.76                    0
3       -57.96                    0
4        95.18                    0
..         ...                  ...
995       0.30                    1
996       8.80                    1
997      -3.78                    1
998      12.12                    1
999     -15.85                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       118.58                    0
1        87.72                    0
2        17.77                    0
3       -90.84                    0
4        34.46                    0
..         ...                  ...
995      -6.98                    1
996       1.78                    1
997      -2.64                    1
998       1.97                    1
999       1.63                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -38.84                    0
1        25.19                    0
2         9.37                    0
3        22.75                    0
4       -76.12                    0
..         ...                  ...
995       3.71                    1
996      -3.96                    1
997      12.28                    1
998     -13.57                    1
999      11.32                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -61.69                    0
1       -10.31                    0
2        72.24                    0
3       -36.77                    0
4        10.39                    0
..         ...                  ...
995       1.14                    1
996      -3.16                    1
997       0.41                    1
998       1.01                    1
999       4.04                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -42.83                    0
1        23.11                    0
2       -11.13                    0
3        47.83                    0
4       -27.58                    0
..         ...                  ...
995      -9.57                    1
996       0.77                    1
997      -5.45                    1
998      -1.45                    1
999       7.78                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -11.99                    0
1        33.92                    0
2        40.77                    0
3        52.10                    0
4        14.66                    0
..         ...                  ...
995     -12.63                    1
996       5.83                    1
997      -3.87                    1
998       7.96                    1
999     -12.03                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        16.12                    0
1        67.61                    0
2       -52.52                    0
3       -98.03                    0
4        20.22                    0
..         ...                  ...
995      -3.54                    1
996      15.49                    1
997      -2.19                    1
998     -15.28                    1
999       3.15                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        43.20                    0
1       -99.16                    0
2       -75.96                    0
3        58.12                    0
4       -10.42                    0
..         ...                  ...
995      -0.39                    1
996       1.65                    1
997     -11.90                    1
998      19.15                    1
999      -9.04                    1

[1000 rows x 2 columns]

<!-- TODO -->

## Unificación de conjunto de datos

In [114]:
complete_train_dataframe = pd.concat([data_dict[key]['train_dataframe'] for key in data_dict])

X_train_complete = complete_train_dataframe.drop(columns='Fugando combustible')
y_train_complete = complete_train_dataframe['Fugando combustible']

## Implementación de modelos

### Definición de métricas

In [115]:
def leak_detection_delay(y_true: np.array, y_pred: np.array) -> int:
    real_first_leak_day = 0
    while y_true[real_first_leak_day] != 1: real_first_leak_day += 1

    pred_first_leak_day = 0
    while y_pred[pred_first_leak_day] != 1: pred_first_leak_day += 1

    return (pred_first_leak_day - real_first_leak_day)

### Aplicación de `GridSearch` a modelos

In [116]:
from sklearn.model_selection import GridSearchCV

def eval_classic_model(base_classifier, param_grid, cv = 5) -> None:
    grid_search = GridSearchCV(
        estimator = base_classifier,
        param_grid = param_grid,
        cv = cv
    )

    grid_search.fit(X_train_complete, y_train_complete)

    print(f"Best parameters found: {grid_search.best_params_}")

    result_dict = {}

    best_classifier = grid_search.best_estimator_
    for case in data_dict:
        leak_value = data_dict[case]['leak_value']
        test_dataframe = data_dict[case]['test_dataframe']

        X_test = test_dataframe.drop(columns='Fugando combustible')
        y_test = test_dataframe['Fugando combustible']

        best_classifier = grid_search.best_estimator_
        y_pred = best_classifier.predict(X_test)

        accuracy = accuracy_score(y_test, y_pred)
        leak_delay = leak_detection_delay(y_test, y_pred)

        result_dict[leak_value] = [accuracy, leak_delay]
    
    display(pd.DataFrame.from_dict(
        data = result_dict,
        orient = 'index',
        columns = ['accuracy_score', 'leak_detection_delay']
    ))

### Modelos clásicos

#### Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf_classifier = RandomForestClassifier()

rf_param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20, 30],
    'max_features': ['auto', 'sqrt', 'log2'],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

eval_classic_model(rf_classifier, rf_param_grid)

#### Naive Bayes Classifier

In [91]:
from sklearn.naive_bayes import GaussianNB

gnb_classifier = GaussianNB()

gnb_param_grid = {
    'var_smoothing': [1e-11, 1e-10, 1e-9, 1e-8, 1e-7, 1e-6, 1e-5]
}

eval_classic_model(gnb_classifier, gnb_param_grid)

Best parameters found: {'var_smoothing': 1e-05}

          accuracy_score  leak_detection_delay
0.013000           0.500                  -495
0.054929           0.596                  -493
0.096857           0.613                  -494
0.138786           0.582                  -492
0.180714           0.573                  -483
0.222643           0.546                  -493
0.264571           0.544                  -483
0.306500           0.519                  -492
0.348429           0.502                  -494
0.390357           0.494                  -495
0.432286           0.485                  -492
0.474214           0.489                  -486
0.516143           0.477                  -488
0.558071           0.475                  -493
0.600000           0.467                  -480

#### KNN Classifier

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn_classifier = KNeighborsClassifier()

knn_param_grid = {
    'n_neighbors': [3, 5, 7, 9, 11],
    'weights': ['uniform', 'distance'],
    'metric': ['euclidean', 'manhattan', 'minkowski']
}

eval_classic_model(knn_classifier, knn_param_grid)

#### XGBoost Classifier

In [ ]:
from xgboost import XGBClassifier

xgb_classifier = XGBClassifier()

xgb_param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [3, 5, 7, 9],
    'learning_rate': [0.01, 0.1, 0.2, 0.3],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0]
}

eval_classic_model(xgb_classifier, xgb_param_grid)

### Múltiples modelos de _Deep Learning_

In [119]:
result_dict = {}
for case in data_dict:
    X_train = data_dict[case]['train_dataframe'].drop(columns='Fugando combustible')
    y_train = data_dict[case]['train_dataframe']['Fugando combustible']
    
    model = tf.keras.Sequential([
        tf.keras.layers.Input(shape=(X_train.shape[1], 1)),
        tf.keras.layers.LSTM(15, dropout=0.2),
        tf.keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(
        optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
        loss='binary_crossentropy',
        metrics=['accuracy']
    )

    history = model.fit(
        x = X_train,
        y = y_train,
        epochs = 50,
        batch_size = 8192,
        verbose = 0
    )

    leak_value = data_dict[case]['leak_value']

    X_test = data_dict[case]['test_dataframe'].drop(columns='Fugando combustible')
    y_test = data_dict[case]['test_dataframe']['Fugando combustible']
    
    y_pred = (model.predict(X_test, verbose=0) > 0.5).astype(int)

    test_accuracy = accuracy_score(y_test, y_pred)

    test_leak_delay = leak_detection_delay(y_test, y_pred)

    result_dict[leak_value] = (test_accuracy, test_leak_delay)

display(pd.DataFrame.from_dict(
    data = result_dict,
    orient = 'index',
    columns = ['accuracy_score', 'leak_detection_delay']
))

          accuracy_score  leak_detection_delay
0.013000           0.565                  -495
0.054929           0.656                  -494
0.096857           0.685                  -495
0.138786           0.655                  -492
0.180714           0.691                  -494
0.222643           0.715                  -495
0.264571           0.774                  -494
0.306500           0.788                  -495
0.348429           0.644                  -483
0.390357           0.594                  -494
0.432286           0.592                  -495
0.474214           0.720                  -495
0.516143           0.630                  -495
0.558071           0.601                  -493
0.600000           0.781                  -491

### Único modelo

In [117]:
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(X_train_complete.shape[1], 1)),
    tf.keras.layers.LSTM(15, dropout=0.2),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
    loss='binary_crossentropy',
    metrics=['accuracy']
)

history = model.fit(
    x = X_train_complete,
    y = y_train_complete,
    epochs = 50,
    batch_size = 8192,
    verbose = 0
)

result_dict = {}
for case in data_dict:
    leak_value = data_dict[case]['leak_value']
    X_test = data_dict[case]['test_dataframe'].drop(columns='Fugando combustible')
    y_test = data_dict[case]['test_dataframe']['Fugando combustible']
    
    y_pred = (model.predict(X_test, verbose=0) > 0.5).astype(int)

    test_accuracy = accuracy_score(y_test, y_pred)

    test_leak_delay = leak_detection_delay(y_test, y_pred)

    result_dict[leak_value] = (test_accuracy, test_leak_delay)

display(pd.DataFrame.from_dict(
    data = result_dict,
    orient = 'index',
    columns = ['accuracy_score', 'leak_detection_delay']
))

          accuracy_score  leak_detection_delay
0.013000           0.515                  -487
0.054929           0.474                  -493
0.096857           0.556                  -493
0.138786           0.599                  -495
0.180714           0.667                  -489
0.222643           0.692                  -491
0.264571           0.707                  -494
0.306500           0.735                  -495
0.348429           0.742                  -493
0.390357           0.734                  -493
0.432286           0.751                  -494
0.474214           0.776                  -493
0.516143           0.765                  -495
0.558071           0.774                  -495
0.600000           0.768                  -491