# TFM

## Importación de librerías

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import toml
import random
import tensorflow as tf
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

## Lectura de fichero

In [2]:
data_dict = {}
DATA_DIR = '../../data/'

for data_folder in os.listdir(DATA_DIR):
    *data_files, config_file = os.listdir(f'{DATA_DIR}/{data_folder}')

    leak_value = toml.load(f'{DATA_DIR}/{data_folder}/{config_file}')['tanks']['flow_value']

    train_dataframe, test_dataframe = random.sample(data_files, 2)

    data_dict[data_folder] = {
        'leak_value': leak_value,
        'train_dataframe': pd.read_csv(f'{DATA_DIR}/{data_folder}/{train_dataframe}').drop(columns=['Unnamed: 0']),
        'test_dataframe': pd.read_csv(f'{DATA_DIR}/{data_folder}/{test_dataframe}').drop(columns=['Unnamed: 0'])
    }

### Conjuntos de datos de entrenamiento

In [3]:
for case in data_dict:
    display(data_dict[case]['train_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21950,34",-6035,"7006,85","22922,19","22962,99","40,8","172,2",0
1,2,"22962,99",-6105,"6515,76","23373,75","23300,26","-73,49","125,79",0
2,3,"23300,26",-5770,"6438,69","23968,95","24020,7","51,75","97,38",0
3,4,"24020,7",-5915,"5427,88","23533,58","23536,74","3,16","79,51",0
4,5,"23536,74",-6415,"4351,1","21472,84","21473,49","0,65","87,66",0
...,...,...,...,...,...,...,...,...,...
995,996,"15927,66",-6095,"6450,17","16282,83","16239,24","-43,59","114,14",1
996,997,"16239,24",-5855,"6019,11","16403,35","16385,84","-17,51","38,4",1
997,998,"16385,84",-6120,"3750,83","14016,67","13979,49","-37,18","-21,93",1
998,999,"13979,49",-5845,"6725,82","14860,31","14857,03","-3,28","10,77",1
999,1000,"14857,03",-5745,"3959,55","13071,58","13115,73","44,15","-36,0",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"22430,06","-6075,0","5976,32","22331,38","22376,0","44,62","-116,83",0
1,2,"22376,0","-6065,0","3965,07","20276,07","20290,81","14,74","-45,27",0
2,3,"20290,81","-5775,0","6982,55","21498,36","21513,87","15,51","-60,91",0
3,4,"21513,87","-6035,0","6956,14","22435,01","22426,74","-8,27","5,59",0
4,5,"22426,74","-6030,0","6377,94","22774,68","22817,15","42,47","36,97",0
...,...,...,...,...,...,...,...,...,...
995,996,"2107,2","-5828,98","6463,64","2741,86","2620,44","-121,42","-167,54",1
996,997,"2620,44","-5955,0","6142,6","2808,04","2771,02","-37,02","-143,07",1
997,998,"2771,02","-5896,0","3108,82","-16,16","25,62","41,78","-150,11",1
998,999,"25,62","-5592,26","6421,37","854,73","896,61","41,88","-83,97",1
999,1000,"896,61","-5810,0","6088,25","1174,86","1204,71","29,85","-37,77",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"10484,66","-5975,0","7217,79","11727,45","11882,71","155,26","381,21",0
1,2,"11882,71","-5850,0","7035,09","13067,8","13045,34","-22,46","344,85",0
2,3,"13045,34","-6140,0","3567,08","10472,42","10500,66","28,24","325,67",0
3,4,"10500,66","-6085,0","7441,43","11857,09","11819,52","-37,57","344,23",0
4,5,"11819,52","-6005,0","8124,72","13939,24","13815,32","-123,92","200,7",0
...,...,...,...,...,...,...,...,...,...
995,996,"3,4","-0,0","0,0","3,4","2,76","-0,64","-20,06",1
996,997,"2,76","-0,0","0,0","2,76","9,57","6,81","-7,51",1
997,998,"9,57","-0,0","0,0","9,57","11,33","1,76","6,47",1
998,999,"11,33","-0,0","0,0","11,33","17,02","5,69","9,31",1
999,1000,"17,02","-0,0","0,0","17,02","14,39","-2,63","-3,51",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21287,51","-6070,0","7042,91","22260,42","22216,71","-43,71","188,2",0
1,2,"22216,71","-6065,0","4682,57","20834,28","20856,74","22,46","259,79",0
2,3,"20856,74","-6035,0","7234,09","22055,83","22134,3","78,47","272,27",0
3,4,"22134,3","-6120,0","5847,84","21862,14","22001,79","139,65","380,74",0
4,5,"22001,79","-5605,0","3757,23","20154,02","20186,77","32,75","279,92",0
...,...,...,...,...,...,...,...,...,...
995,996,"3,31","-0,0","0,0","3,31","4,22","0,91","-5,75",1
996,997,"4,22","-0,0","0,0","4,22","14,3","10,08","7,99",1
997,998,"14,3","-0,0","0,0","14,3","12,66","-1,64","10,33",1
998,999,"12,66","-0,0","0,0","12,66","2,96","-9,7","-1,54",1
999,1000,"2,96","-0,0","0,0","2,96","6,11","3,15","5,86",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19617,1","-5720,0","6040,65","19937,75","19908,69","-29,06","287,97",0
1,2,"19908,69","-6040,0","9876,76","23745,45","23727,8","-17,65","238,88",0
2,3,"23727,8","-6040,0","6042,62","23730,42","23778,29","47,87","259,99",0
3,4,"23778,29","-5985,0","4048,45","21841,74","21813,92","-27,82","123,38",0
4,5,"21813,92","-6055,0","6875,76","22634,68","22664,82","30,14","231,15",0
...,...,...,...,...,...,...,...,...,...
995,996,"10,5","-0,0","0,0","10,5","23,41","12,91","9,18",1
996,997,"23,41","-0,0","0,0","23,41","0,69","-22,72","-2,91",1
997,998,"0,69","-0,0","0,0","0,69","6,88","6,19","3,32",1
998,999,"6,88","-0,0","0,0","6,88","7,0","0,12","0,49",1
999,1000,"7,0","-0,0","0,0","7,0","16,75","9,75","10,94",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"15362,61","-6205,0","4348,17","13505,78","13436,24","-69,54","259,9",0
1,2,"13436,24","-6255,0","8032,58","15213,82","15174,65","-39,17","233,42",0
2,3,"15174,65","-6115,0","7934,11","16993,76","17045,24","51,48","300,07",0
3,4,"17045,24","-6230,0","5962,78","16778,02","16826,91","48,89","330,23",0
4,5,"16826,91","-6165,0","8008,51","18670,42","18664,17","-6,25","293,53",0
...,...,...,...,...,...,...,...,...,...
995,996,"1,33","-0,0","0,0","1,33","4,68","3,35","0,91",1
996,997,"4,68","-0,0","0,0","4,68","17,74","13,06","9,68",1
997,998,"17,74","-0,0","0,0","17,74","6,13","-11,61","5,23",1
998,999,"6,13","-0,0","0,0","6,13","1,95","-4,18","-10,78",1
999,1000,"1,95","-0,0","0,0","1,95","5,7","3,75","-4,08",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19740,03","-5920,0","10305,52","24125,55","24176,62","51,07","306,45",0
1,2,"24176,62","-6015,0","3018,53","21180,15","21184,86","4,71","273,95",0
2,3,"21184,86","-5815,0","6534,34","21904,2","21949,08","44,88","293,49",0
3,4,"21949,08","-5725,0","7502,0","23726,08","23762,94","36,86","298,66",0
4,5,"23762,94","-6060,0","4710,68","22413,62","22440,19","26,57","297,24",0
...,...,...,...,...,...,...,...,...,...
995,996,"9,35","-0,0","0,0","9,35","8,41","-0,94","6,29",1
996,997,"8,41","-0,0","0,0","8,41","0,15","-8,26","-0,48",1
997,998,"0,15","-0,0","0,0","0,15","5,66","5,51","2,92",1
998,999,"5,66","-0,0","0,0","5,66","18,47","12,81","1,72",1
999,1000,"18,47","-0,0","0,0","18,47","1,44","-17,03","-4,71",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"22346,15","-6290,0","6198,63","22254,78","22228,05","-26,73","261,79",0
1,2,"22228,05","-6060,0","6145,31","22313,36","22365,14","51,78","219,45",0
2,3,"22365,14","-6010,0","6925,01","23280,15","23376,91","96,76","268,96",0
3,4,"23376,91","-6115,0","6575,39","23837,3","23908,35","71,05","380,65",0
4,5,"23908,35","-5990,0","5163,72","23082,07","23139,9","57,83","395,93",0
...,...,...,...,...,...,...,...,...,...
995,996,"14,34","-0,0","0,0","14,34","8,07","-6,27","-4,93",1
996,997,"8,07","-0,0","0,0","8,07","1,01","-7,06","-0,31",1
997,998,"1,01","-0,0","0,0","1,01","0,52","-0,49","-13,79",1
998,999,"0,52","-0,0","0,0","0,52","1,03","0,51","-5,26",1
999,1000,"1,03","-0,0","0,0","1,03","2,46","1,43","0,4",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19151,05","-6045,0","8896,55","22002,6","21974,5","-28,1","120,43",0
1,2,"21974,5","-5930,0","6101,08","22145,58","22156,07","10,49","149,98",0
2,3,"22156,07","-6135,0","6928,27","22949,34","23027,33","77,99","287,24",0
3,4,"23027,33","-6425,0","6577,84","23180,17","23134,57","-45,6","218,43",0
4,5,"23134,57","-6145,0","3432,57","20422,14","20397,11","-25,03","265,81",0
...,...,...,...,...,...,...,...,...,...
995,996,"0,27","-0,0","0,0","0,27","9,29","9,02","-1,34",1
996,997,"9,29","-0,0","0,0","9,29","8,73","-0,56","-7,47",1
997,998,"8,73","-0,0","0,0","8,73","13,92","5,19","9,26",1
998,999,"13,92","-0,0","0,0","13,92","24,99","11,07","18,55",1
999,1000,"24,99","-0,0","0,0","24,99","16,14","-8,85","2,67",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20883,57","-6090,0","5235,88","20029,45","20091,97","62,52","466,98",0
1,2,"20091,97","-5700,0","7679,54","22071,51","22100,09","28,58","493,72",0
2,3,"22100,09","-6025,0","8386,81","24461,9","24424,54","-37,36","413,04",0
3,4,"24424,54","-5920,0","6459,08","24963,62","24947,48","-16,14","431,6",0
4,5,"24947,48","-6245,0","3911,32","22613,8","22599,34","-14,46","420,22",0
...,...,...,...,...,...,...,...,...,...
995,996,"5,55","-0,0","0,0","5,55","2,64","-2,91","-15,2",1
996,997,"2,64","-0,0","0,0","2,64","9,87","7,23","6,53",1
997,998,"9,87","-0,0","0,0","9,87","3,25","-6,62","-5,97",1
998,999,"3,25","-0,0","0,0","3,25","28,01","24,76","17,93",1
999,1000,"28,01","-0,0","0,0","28,01","15,13","-12,88","-0,39",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"16942,12","-5825,0","5491,42","16608,54","16673,87","65,33","187,29",0
1,2,"16673,87","-5825,0","6897,1","17745,97","17875,86","129,89","237,48",0
2,3,"17875,86","-5965,0","6950,25","18861,11","18894,66","33,55","253,19",0
3,4,"18894,66","-5970,0","7962,56","20887,22","20937,92","50,7","387,03",0
4,5,"20937,92","-6135,0","5924,27","20727,19","20818,82","91,63","502,42",0
...,...,...,...,...,...,...,...,...,...
995,996,"19,68","-0,0","0,0","19,68","8,25","-11,43","0,72",1
996,997,"8,25","-0,0","0,0","8,25","3,65","-4,6","-8,36",1
997,998,"3,65","-0,0","0,0","3,65","8,4","4,75","4,92",1
998,999,"8,4","-0,0","0,0","8,4","23,49","15,09","16,35",1
999,1000,"23,49","-0,0","0,0","23,49","4,13","-19,36","0,1",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"18109,75","-5940,0","6999,66","19169,41","19140,47","-28,94","290,5",0
1,2,"19140,47","-6320,0","7014,09","19834,56","19825,75","-8,81","346,46",0
2,3,"19825,75","-6145,0","7026,85","20707,6","20677,99","-29,61","326,59",0
3,4,"20677,99","-5805,0","4783,79","19656,78","19702,96","46,18","340,89",0
4,5,"19702,96","-6195,0","6592,28","20100,24","20021,69","-78,55","117,34",0
...,...,...,...,...,...,...,...,...,...
995,996,"3,39","-0,0","0,0","3,39","8,94","5,55","-9,07",1
996,997,"8,94","-0,0","0,0","8,94","13,46","4,52","1,87",1
997,998,"13,46","-0,0","0,0","13,46","5,2","-8,26","4,92",1
998,999,"5,2","-0,0","0,0","5,2","13,18","7,98","-1,52",1
999,1000,"13,18","-0,0","0,0","13,18","3,72","-9,46","-2,74",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"23056,29","-5975,0","3639,31","20720,6","20716,68","-3,92","334,01",0
1,2,"20716,68","-6150,0","7008,88","21575,56","21681,55","105,99","352,59",0
2,3,"21681,55","-6030,0","6463,74","22115,29","22138,84","23,55","354,54",0
3,4,"22138,84","-6330,0","4019,4","19828,24","19807,63","-20,61","339,9",0
4,5,"19807,63","-6315,0","10039,4","23532,03","23487,69","-44,34","121,91",0
...,...,...,...,...,...,...,...,...,...
995,996,"1,75","-0,0","0,0","1,75","13,26","11,51","10,31",1
996,997,"13,26","-0,0","0,0","13,26","4,6","-8,66","-5,13",1
997,998,"4,6","-0,0","0,0","4,6","9,65","5,05","6,75",1
998,999,"9,65","-0,0","0,0","9,65","6,1","-3,55","-3,36",1
999,1000,"6,1","-0,0","0,0","6,1","1,3","-4,8","-29,68",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"22682,46","-5995,0","5831,75","22519,21","22535,33","16,12","459,1",0
1,2,"22535,33","-5975,0","3507,95","20068,28","20135,89","67,61","514,24",0
2,3,"20135,89","-6250,0","8020,71","21906,6","21854,08","-52,52","421,71",0
3,4,"21854,08","-5985,0","8129,34","23998,42","23900,39","-98,03","282,93",0
4,5,"23900,39","-6030,0","5690,89","23561,28","23581,5","20,22","287,66",0
...,...,...,...,...,...,...,...,...,...
995,996,"6,96","-0,0","0,0","6,96","3,42","-3,54","-0,25",1
996,997,"3,42","-0,0","0,0","3,42","18,91","15,49","16,44",1
997,998,"18,91","-0,0","0,0","18,91","16,72","-2,19","9,09",1
998,999,"16,72","-0,0","0,0","16,72","1,44","-15,28","-0,25",1
999,1000,"1,44","-0,0","0,0","1,44","4,59","3,15","-0,04",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"11544,4","-5565,0","7069,47","13048,87","12982,38","-66,49","118,8",0
1,2,"12982,38","-6155,0","6953,56","13780,94","13840,48","59,54","124,42",0
2,3,"13840,48","-6005,0","8211,32","16046,8","15937,63","-109,17","-18,99",0
3,4,"15937,63","-5915,0","8550,06","18572,69","18595,78","23,09","76,99",0
4,5,"18595,78","-5830,0","6389,87","19155,65","19072,47","-83,18","-24,06",0
...,...,...,...,...,...,...,...,...,...
995,996,"16,15","-0,0","0,0","16,15","6,29","-9,86","-11,87",1
996,997,"6,29","-0,0","0,0","6,29","14,36","8,07","4,38",1
997,998,"14,36","-0,0","0,0","14,36","2,38","-11,98","-20,25",1
998,999,"2,38","-0,0","0,0","2,38","4,75","2,37","-6,32",1
999,1000,"4,75","-0,0","0,0","4,75","5,65","0,9","-9,98",1

### Conjunto de datos de prueba

In [4]:
for case in data_dict:
    display(data_dict[case]['test_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"20247,25",-5580,"6051,35","20718,6","20679,11","-39,49","-2,21",0
1,2,"20679,11",-6195,"7936,54","22420,65","22497,6","76,95","164,76",0
2,3,"22497,6",-6165,"5995,68","22328,28","22284,53","-43,75","73,79",0
3,4,"22284,53",-5720,"5031,76","21596,29","21654,39","58,1","181,92",0
4,5,"21654,39",-6075,"9124,56","24703,95","24903,47","199,52","323,61",0
...,...,...,...,...,...,...,...,...,...
995,996,"14567,32",-5990,"6995,54","15572,86","15611,86","39,0","-8,11",1
996,997,"15611,86",-6405,"6226,8","15433,66","15483,99","50,33","14,33",1
997,998,"15483,99",-5670,"5799,07","15613,06","15537,81","-75,25","6,19",1
998,999,"15537,81",-6130,"5099,01","14506,82","14515,34","8,52","84,27",1
999,1000,"14515,34",-6130,"8868,5","17253,84","17158,33","-95,51","-78,56",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"14034,89","-5705,0","7013,6","15343,49","15323,45","-20,04","228,67",0
1,2,"15323,45","-5970,0","7633,39","16986,84","16980,09","-6,75","138,05",0
2,3,"16980,09","-6250,0","4594,55","15324,64","15342,95","18,31","91,74",0
3,4,"15342,95","-6375,0","7716,89","16684,84","16706,73","21,89","36,45",0
4,5,"16706,73","-6020,0","7060,35","17747,08","17712,72","-34,36","101,33",0
...,...,...,...,...,...,...,...,...,...
995,996,"2480,65","-5740,0","5618,89","2359,54","2424,72","65,18","115,61",1
996,997,"2424,72","-5725,0","6292,34","2992,06","2952,52","-39,54","66,08",1
997,998,"2952,52","-5377,62","2403,34","-21,76","8,21","29,97","58,91",1
998,999,"8,21","-5756,65","6559,47","811,03","872,06","61,03","81,69",1
999,1000,"872,06","-4297,88","4862,58","1436,76","1366,38","-70,38","-15,06",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"17445,49","-6140,0","8023,3","19328,79","19296,68","-32,11","150,41",0
1,2,"19296,68","-6010,0","5934,11","19220,79","19289,27","68,48","262,39",0
2,3,"19289,27","-5600,0","9215,39","22904,66","22910,69","6,03","227,65",0
3,4,"22910,69","-6070,0","6617,77","23458,46","23450,71","-7,75","172,64",0
4,5,"23450,71","-5685,0","3400,23","21165,94","21214,19","48,25","159,64",0
...,...,...,...,...,...,...,...,...,...
995,996,"0,72","-0,0","0,0","0,72","1,57","0,85","-3,08",1
996,997,"1,57","-0,0","0,0","1,57","11,07","9,5","1,17",1
997,998,"11,07","-0,0","0,0","11,07","6,2","-4,87","3,13",1
998,999,"6,2","-0,0","0,0","6,2","5,54","-0,66","-9,25",1
999,1000,"5,54","-0,0","0,0","5,54","3,05","-2,49","-13,9",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19850,01","-6190,0","3007,83","16667,84","16649,01","-18,83","101,86",0
1,2,"16649,01","-6075,0","7996,41","18570,42","18569,16","-1,26","38,55",0
2,3,"18569,16","-6040,0","7973,61","20502,77","20544,29","41,52","126,92",0
3,4,"20544,29","-6335,0","5734,95","19944,24","19952,92","8,68","69,48",0
4,5,"19952,92","-6275,0","6590,42","20268,34","20302,97","34,63","41,44",0
...,...,...,...,...,...,...,...,...,...
995,996,"1,57","-0,0","0,0","1,57","3,03","1,46","2,57",1
996,997,"3,03","-0,0","0,0","3,03","1,28","-1,75","-6,25",1
997,998,"1,28","-0,0","0,0","1,28","16,88","15,6","5,54",1
998,999,"16,88","-0,0","0,0","16,88","2,92","-13,96","-7,19",1
999,1000,"2,92","-0,0","0,0","2,92","2,08","-0,84","-1,06",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"21372,17","-5985,0","7788,9","23176,07","23214,64","38,57","19,95",0
1,2,"23214,64","-5765,0","2969,27","20418,91","20415,11","-3,8","61,14",0
2,3,"20415,11","-6325,0","7390,24","21480,35","21602,29","121,94","144,09",0
3,4,"21602,29","-6190,0","7315,88","22728,17","22691,65","-36,52","217,46",0
4,5,"22691,65","-5690,0","6031,24","23032,89","22983,03","-49,86","170,15",0
...,...,...,...,...,...,...,...,...,...
995,996,"17,19","-0,0","0,0","17,19","26,77","9,58","23,15",1
996,997,"26,77","-0,0","0,0","26,77","11,55","-15,22","10,12",1
997,998,"11,55","-0,0","0,0","11,55","1,45","-10,1","-1,74",1
998,999,"1,45","-0,0","0,0","1,45","8,2","6,75","5,73",1
999,1000,"8,2","-0,0","0,0","8,2","0,18","-8,02","-8,06",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"18283,0","-5740,0","5871,72","18414,72","18396,89","-17,83","131,0",0
1,2,"18396,89","-5840,0","9160,46","21717,35","21705,02","-12,33","136,48",0
2,3,"21705,02","-5970,0","7545,21","23280,23","23195,67","-84,56","-10,11",0
3,4,"23195,67","-6095,0","5478,44","22579,11","22659,31","80,2","33,42",0
4,5,"22659,31","-5655,0","7369,23","24373,54","24372,52","-1,02","121,38",0
...,...,...,...,...,...,...,...,...,...
995,996,"0,56","-0,0","0,0","0,56","6,56","6,0","2,39",1
996,997,"6,56","-0,0","0,0","6,56","0,68","-5,88","-1,13",1
997,998,"0,68","-0,0","0,0","0,68","3,16","2,48","-5,51",1
998,999,"3,16","-0,0","0,0","3,16","8,1","4,94","2,05",1
999,1000,"8,1","-0,0","0,0","8,1","12,6","4,5","-2,58",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"18494,78","-5950,0","5851,14","18395,92","18412,17","16,25","-84,69",0
1,2,"18412,17","-5865,0","7995,46","20542,63","20528,85","-13,78","-47,21",0
2,3,"20528,85","-5790,0","4036,02","18774,87","18860,58","85,71","88,97",0
3,4,"18860,58","-5940,0","6598,52","19519,1","19574,23","55,13","90,85",0
4,5,"19574,23","-6155,0","6263,71","19682,94","19663,56","-19,38","86,63",0
...,...,...,...,...,...,...,...,...,...
995,996,"2,01","-0,0","0,0","2,01","16,22","14,21","7,36",1
996,997,"16,22","-0,0","0,0","16,22","10,86","-5,36","3,14",1
997,998,"10,86","-0,0","0,0","10,86","19,86","9,0","8,27",1
998,999,"19,86","-0,0","0,0","19,86","12,29","-7,57","12,21",1
999,1000,"12,29","-0,0","0,0","12,29","4,85","-7,44","-4,91",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"23369,53","-6150,0","4012,96","21232,49","21263,01","30,52","264,45",0
1,2,"21263,01","-5865,0","6439,82","21837,83","21837,57","-0,26","204,51",0
2,3,"21837,57","-5895,0","5946,3","21888,87","21925,55","36,68","273,91",0
3,4,"21925,55","-5970,0","7122,88","23078,43","23121,11","42,68","280,54",0
4,5,"23121,11","-6035,0","6817,47","23903,58","24029,9","126,32","512,85",0
...,...,...,...,...,...,...,...,...,...
995,996,"13,57","-0,0","0,0","13,57","6,42","-7,15","-8,6",1
996,997,"6,42","-0,0","0,0","6,42","4,13","-2,29","3,23",1
997,998,"4,13","-0,0","0,0","4,13","5,5","1,37","-2,82",1
998,999,"5,5","-0,0","0,0","5,5","5,12","-0,38","-1,79",1
999,1000,"5,12","-0,0","0,0","5,12","15,23","10,11","14,6",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"19322,64","-6195,0","9878,01","23005,65","23077,84","72,19","307,23",0
1,2,"23077,84","-6235,0","5073,39","21916,23","21906,18","-10,05","387,94",0
2,3,"21906,18","-5785,0","6427,45","22548,63","22677,71","129,08","444,17",0
3,4,"22677,71","-5855,0","5779,43","22602,14","22594,65","-7,49","382,09",0
4,5,"22594,65","-5840,0","7826,3","24580,95","24608,16","27,21","419,31",0
...,...,...,...,...,...,...,...,...,...
995,996,"5,66","-0,0","0,0","5,66","7,47","1,81","-0,91",1
996,997,"7,47","-0,0","0,0","7,47","6,8","-0,67","-2,24",1
997,998,"6,8","-0,0","0,0","6,8","13,35","6,55","10,75",1
998,999,"13,35","-0,0","0,0","13,35","6,79","-6,56","-12,13",1
999,1000,"6,79","-0,0","0,0","6,79","0,44","-6,35","-11,06",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"13655,46","-5935,0","11512,72","19233,18","19405,51","172,33","211,57",0
1,2,"19405,51","-6650,0","3678,03","16433,54","16467,1","33,56","204,34",0
2,3,"16467,1","-5720,0","6534,91","17282,01","17291,27","9,26","129,4",0
3,4,"17291,27","-5745,0","10564,38","22110,65","22124,69","14,04","148,18",0
4,5,"22124,69","-5625,0","5116,68","21616,37","21597,77","-18,6","203,65",0
...,...,...,...,...,...,...,...,...,...
995,996,"16,76","-0,0","0,0","16,76","6,56","-10,2","-7,83",1
996,997,"6,56","-0,0","0,0","6,56","14,31","7,75","6,8",1
997,998,"14,31","-0,0","0,0","14,31","0,04","-14,27","-1,67",1
998,999,"0,04","-0,0","0,0","0,04","2,45","2,41","-4,63",1
999,1000,"2,45","-0,0","0,0","2,45","3,89","1,44","-12,66",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"18831,51","-6090,0","9010,27","21751,78","21727,77","-24,01","508,18",0
1,2,"21727,77","-6140,0","6929,71","22517,48","22587,42","69,94","545,28",0
2,3,"22587,42","-5725,0","4063,87","20926,29","20857,51","-68,78","449,32",0
3,4,"20857,51","-5745,0","7781,23","22893,74","22875,13","-18,61","389,62",0
4,5,"22875,13","-6250,0","3912,99","20538,12","20614,24","76,12","355,02",0
...,...,...,...,...,...,...,...,...,...
995,996,"4,46","-0,0","0,0","4,46","14,41","9,95","12,69",1
996,997,"14,41","-0,0","0,0","14,41","9,76","-4,65","6,04",1
997,998,"9,76","-0,0","0,0","9,76","2,55","-7,21","-16,74",1
998,999,"2,55","-0,0","0,0","2,55","9,52","6,97","6,9",1
999,1000,"9,52","-0,0","0,0","9,52","11,04","1,52","4,73",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"14736,59","-6295,0","7061,03","15502,62","15459,79","-42,83","88,42",0
1,2,"15459,79","-6260,0","5970,18","15169,97","15193,08","23,11","120,97",0
2,3,"15193,08","-5900,0","5999,44","15292,52","15281,39","-11,13","89,96",0
3,4,"15281,39","-5980,0","6939,21","16240,6","16288,43","47,83","131,63",0
4,5,"16288,43","-6175,0","7029,8","17143,23","17115,65","-27,58","96,75",0
...,...,...,...,...,...,...,...,...,...
995,996,"15,82","-0,0","0,0","15,82","6,25","-9,57","-9,53",1
996,997,"6,25","-0,0","0,0","6,25","7,02","0,77","2,84",1
997,998,"7,02","-0,0","0,0","7,02","1,57","-5,45","-7,61",1
998,999,"1,57","-0,0","0,0","1,57","0,12","-1,45","-4,11",1
999,1000,"0,12","-0,0","0,0","0,12","7,9","7,78","3,04",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"22465,51","-6080,0","7789,55","24175,06","24208,87","33,81","-175,32",0
1,2,"24208,87","-6045,0","4948,93","23112,8","23139,14","26,34","-178,39",0
2,3,"23139,14","-5935,0","7036,17","24240,31","24285,57","45,26","-129,43",0
3,4,"24285,57","-5950,0","4812,44","23148,01","23215,86","67,85","74,7",0
4,5,"23215,86","-6310,0","5513,33","22419,19","22370,85","-48,34","67,2",0
...,...,...,...,...,...,...,...,...,...
995,996,"13,88","-0,0","0,0","13,88","5,95","-7,93","1,78",1
996,997,"5,95","-0,0","0,0","5,95","12,1","6,15","10,02",1
997,998,"12,1","-0,0","0,0","12,1","5,06","-7,04","-9,98",1
998,999,"5,06","-0,0","0,0","5,06","4,17","-0,89","-3,22",1
999,1000,"4,17","-0,0","0,0","4,17","17,0","12,83","15,43",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"14556,63","-6100,0","7672,4","16129,03","16156,68","27,65","-66,83",0
1,2,"16156,68","-5970,0","3517,74","13704,42","13714,85","10,43","-97,98",0
2,3,"13714,85","-5975,0","8581,27","16321,12","16261,92","-59,2","-126,01",0
3,4,"16261,92","-6155,0","6603,2","16710,12","16773,23","63,11","-59,66",0
4,5,"16773,23","-6065,0","5252,68","15960,91","15952,4","-8,51","20,37",0
...,...,...,...,...,...,...,...,...,...
995,996,"0,48","-0,0","0,0","0,48","5,26","4,78","-4,23",1
996,997,"5,26","-0,0","0,0","5,26","14,41","9,15","9,68",1
997,998,"14,41","-0,0","0,0","14,41","16,94","2,53","14,11",1
998,999,"16,94","-0,0","0,0","16,94","5,52","-11,42","-3,93",1
999,1000,"5,52","-0,0","0,0","5,52","0,75","-4,77","-8,4",1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,"11373,11","-5975,0","6995,25","12393,36","12436,56","43,2","4,09",0
1,2,"12436,56","-6120,0","7067,55","13384,11","13284,95","-99,16","-89,11",0
2,3,"13284,95","-5925,0","7087,68","14447,63","14371,67","-75,96","-172,46",0
3,4,"14371,67","-5840,0","11960,98","20492,65","20550,77","58,12","-132,89",0
4,5,"20550,77","-6070,0","7059,92","21540,69","21530,27","-10,42","-122,12",0
...,...,...,...,...,...,...,...,...,...
995,996,"11,82","-0,0","0,0","11,82","11,43","-0,39","-5,83",1
996,997,"11,43","-0,0","0,0","11,43","13,08","1,65","10,37",1
997,998,"13,08","-0,0","0,0","13,08","1,18","-11,9","-5,79",1
998,999,"1,18","-0,0","0,0","1,18","20,33","19,15","11,23",1
999,1000,"20,33","-0,0","0,0","20,33","11,29","-9,04","7,59",1

# Limpieza de datos

In [5]:
bad_formatted_fields = [
    'Volumen dep. almacenam. ini. (L)',
    'Llenado dep. almacenam. (L)',
    'Volumen dep. almacenam. fin. teor. (L)',
    'Volumen dep. almacenam. fin. (L)',
    'Variacion',
    'Variacion Acum.',
]

for case in data_dict:
    for dataset in ['train_dataframe', 'test_dataframe']:
        for field in bad_formatted_fields:
            data_dict[case][dataset][field] = data_dict[case][dataset][field].str.replace(',', '.')
            data_dict[case][dataset][field] = pd.to_numeric(data_dict[case][dataset][field])

### Conjunto de datos de entrenamiento

In [6]:
for case in data_dict:
    display(data_dict[case]['train_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21950.34,-6035,7006.85,22922.19,22962.99,40.80,172.20,0
1,2,22962.99,-6105,6515.76,23373.75,23300.26,-73.49,125.79,0
2,3,23300.26,-5770,6438.69,23968.95,24020.70,51.75,97.38,0
3,4,24020.70,-5915,5427.88,23533.58,23536.74,3.16,79.51,0
4,5,23536.74,-6415,4351.10,21472.84,21473.49,0.65,87.66,0
...,...,...,...,...,...,...,...,...,...
995,996,15927.66,-6095,6450.17,16282.83,16239.24,-43.59,114.14,1
996,997,16239.24,-5855,6019.11,16403.35,16385.84,-17.51,38.40,1
997,998,16385.84,-6120,3750.83,14016.67,13979.49,-37.18,-21.93,1
998,999,13979.49,-5845,6725.82,14860.31,14857.03,-3.28,10.77,1
999,1000,14857.03,-5745,3959.55,13071.58,13115.73,44.15,-36.00,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,22430.06,"-6075,0",5976.32,22331.38,22376.00,44.62,-116.83,0
1,2,22376.00,"-6065,0",3965.07,20276.07,20290.81,14.74,-45.27,0
2,3,20290.81,"-5775,0",6982.55,21498.36,21513.87,15.51,-60.91,0
3,4,21513.87,"-6035,0",6956.14,22435.01,22426.74,-8.27,5.59,0
4,5,22426.74,"-6030,0",6377.94,22774.68,22817.15,42.47,36.97,0
...,...,...,...,...,...,...,...,...,...
995,996,2107.20,"-5828,98",6463.64,2741.86,2620.44,-121.42,-167.54,1
996,997,2620.44,"-5955,0",6142.60,2808.04,2771.02,-37.02,-143.07,1
997,998,2771.02,"-5896,0",3108.82,-16.16,25.62,41.78,-150.11,1
998,999,25.62,"-5592,26",6421.37,854.73,896.61,41.88,-83.97,1
999,1000,896.61,"-5810,0",6088.25,1174.86,1204.71,29.85,-37.77,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,10484.66,"-5975,0",7217.79,11727.45,11882.71,155.26,381.21,0
1,2,11882.71,"-5850,0",7035.09,13067.80,13045.34,-22.46,344.85,0
2,3,13045.34,"-6140,0",3567.08,10472.42,10500.66,28.24,325.67,0
3,4,10500.66,"-6085,0",7441.43,11857.09,11819.52,-37.57,344.23,0
4,5,11819.52,"-6005,0",8124.72,13939.24,13815.32,-123.92,200.70,0
...,...,...,...,...,...,...,...,...,...
995,996,3.40,"-0,0",0.00,3.40,2.76,-0.64,-20.06,1
996,997,2.76,"-0,0",0.00,2.76,9.57,6.81,-7.51,1
997,998,9.57,"-0,0",0.00,9.57,11.33,1.76,6.47,1
998,999,11.33,"-0,0",0.00,11.33,17.02,5.69,9.31,1
999,1000,17.02,"-0,0",0.00,17.02,14.39,-2.63,-3.51,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21287.51,"-6070,0",7042.91,22260.42,22216.71,-43.71,188.20,0
1,2,22216.71,"-6065,0",4682.57,20834.28,20856.74,22.46,259.79,0
2,3,20856.74,"-6035,0",7234.09,22055.83,22134.30,78.47,272.27,0
3,4,22134.30,"-6120,0",5847.84,21862.14,22001.79,139.65,380.74,0
4,5,22001.79,"-5605,0",3757.23,20154.02,20186.77,32.75,279.92,0
...,...,...,...,...,...,...,...,...,...
995,996,3.31,"-0,0",0.00,3.31,4.22,0.91,-5.75,1
996,997,4.22,"-0,0",0.00,4.22,14.30,10.08,7.99,1
997,998,14.30,"-0,0",0.00,14.30,12.66,-1.64,10.33,1
998,999,12.66,"-0,0",0.00,12.66,2.96,-9.70,-1.54,1
999,1000,2.96,"-0,0",0.00,2.96,6.11,3.15,5.86,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19617.10,"-5720,0",6040.65,19937.75,19908.69,-29.06,287.97,0
1,2,19908.69,"-6040,0",9876.76,23745.45,23727.80,-17.65,238.88,0
2,3,23727.80,"-6040,0",6042.62,23730.42,23778.29,47.87,259.99,0
3,4,23778.29,"-5985,0",4048.45,21841.74,21813.92,-27.82,123.38,0
4,5,21813.92,"-6055,0",6875.76,22634.68,22664.82,30.14,231.15,0
...,...,...,...,...,...,...,...,...,...
995,996,10.50,"-0,0",0.00,10.50,23.41,12.91,9.18,1
996,997,23.41,"-0,0",0.00,23.41,0.69,-22.72,-2.91,1
997,998,0.69,"-0,0",0.00,0.69,6.88,6.19,3.32,1
998,999,6.88,"-0,0",0.00,6.88,7.00,0.12,0.49,1
999,1000,7.00,"-0,0",0.00,7.00,16.75,9.75,10.94,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,15362.61,"-6205,0",4348.17,13505.78,13436.24,-69.54,259.90,0
1,2,13436.24,"-6255,0",8032.58,15213.82,15174.65,-39.17,233.42,0
2,3,15174.65,"-6115,0",7934.11,16993.76,17045.24,51.48,300.07,0
3,4,17045.24,"-6230,0",5962.78,16778.02,16826.91,48.89,330.23,0
4,5,16826.91,"-6165,0",8008.51,18670.42,18664.17,-6.25,293.53,0
...,...,...,...,...,...,...,...,...,...
995,996,1.33,"-0,0",0.00,1.33,4.68,3.35,0.91,1
996,997,4.68,"-0,0",0.00,4.68,17.74,13.06,9.68,1
997,998,17.74,"-0,0",0.00,17.74,6.13,-11.61,5.23,1
998,999,6.13,"-0,0",0.00,6.13,1.95,-4.18,-10.78,1
999,1000,1.95,"-0,0",0.00,1.95,5.70,3.75,-4.08,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19740.03,"-5920,0",10305.52,24125.55,24176.62,51.07,306.45,0
1,2,24176.62,"-6015,0",3018.53,21180.15,21184.86,4.71,273.95,0
2,3,21184.86,"-5815,0",6534.34,21904.20,21949.08,44.88,293.49,0
3,4,21949.08,"-5725,0",7502.00,23726.08,23762.94,36.86,298.66,0
4,5,23762.94,"-6060,0",4710.68,22413.62,22440.19,26.57,297.24,0
...,...,...,...,...,...,...,...,...,...
995,996,9.35,"-0,0",0.00,9.35,8.41,-0.94,6.29,1
996,997,8.41,"-0,0",0.00,8.41,0.15,-8.26,-0.48,1
997,998,0.15,"-0,0",0.00,0.15,5.66,5.51,2.92,1
998,999,5.66,"-0,0",0.00,5.66,18.47,12.81,1.72,1
999,1000,18.47,"-0,0",0.00,18.47,1.44,-17.03,-4.71,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,22346.15,"-6290,0",6198.63,22254.78,22228.05,-26.73,261.79,0
1,2,22228.05,"-6060,0",6145.31,22313.36,22365.14,51.78,219.45,0
2,3,22365.14,"-6010,0",6925.01,23280.15,23376.91,96.76,268.96,0
3,4,23376.91,"-6115,0",6575.39,23837.30,23908.35,71.05,380.65,0
4,5,23908.35,"-5990,0",5163.72,23082.07,23139.90,57.83,395.93,0
...,...,...,...,...,...,...,...,...,...
995,996,14.34,"-0,0",0.00,14.34,8.07,-6.27,-4.93,1
996,997,8.07,"-0,0",0.00,8.07,1.01,-7.06,-0.31,1
997,998,1.01,"-0,0",0.00,1.01,0.52,-0.49,-13.79,1
998,999,0.52,"-0,0",0.00,0.52,1.03,0.51,-5.26,1
999,1000,1.03,"-0,0",0.00,1.03,2.46,1.43,0.40,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19151.05,"-6045,0",8896.55,22002.60,21974.50,-28.10,120.43,0
1,2,21974.50,"-5930,0",6101.08,22145.58,22156.07,10.49,149.98,0
2,3,22156.07,"-6135,0",6928.27,22949.34,23027.33,77.99,287.24,0
3,4,23027.33,"-6425,0",6577.84,23180.17,23134.57,-45.60,218.43,0
4,5,23134.57,"-6145,0",3432.57,20422.14,20397.11,-25.03,265.81,0
...,...,...,...,...,...,...,...,...,...
995,996,0.27,"-0,0",0.00,0.27,9.29,9.02,-1.34,1
996,997,9.29,"-0,0",0.00,9.29,8.73,-0.56,-7.47,1
997,998,8.73,"-0,0",0.00,8.73,13.92,5.19,9.26,1
998,999,13.92,"-0,0",0.00,13.92,24.99,11.07,18.55,1
999,1000,24.99,"-0,0",0.00,24.99,16.14,-8.85,2.67,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20883.57,"-6090,0",5235.88,20029.45,20091.97,62.52,466.98,0
1,2,20091.97,"-5700,0",7679.54,22071.51,22100.09,28.58,493.72,0
2,3,22100.09,"-6025,0",8386.81,24461.90,24424.54,-37.36,413.04,0
3,4,24424.54,"-5920,0",6459.08,24963.62,24947.48,-16.14,431.60,0
4,5,24947.48,"-6245,0",3911.32,22613.80,22599.34,-14.46,420.22,0
...,...,...,...,...,...,...,...,...,...
995,996,5.55,"-0,0",0.00,5.55,2.64,-2.91,-15.20,1
996,997,2.64,"-0,0",0.00,2.64,9.87,7.23,6.53,1
997,998,9.87,"-0,0",0.00,9.87,3.25,-6.62,-5.97,1
998,999,3.25,"-0,0",0.00,3.25,28.01,24.76,17.93,1
999,1000,28.01,"-0,0",0.00,28.01,15.13,-12.88,-0.39,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,16942.12,"-5825,0",5491.42,16608.54,16673.87,65.33,187.29,0
1,2,16673.87,"-5825,0",6897.10,17745.97,17875.86,129.89,237.48,0
2,3,17875.86,"-5965,0",6950.25,18861.11,18894.66,33.55,253.19,0
3,4,18894.66,"-5970,0",7962.56,20887.22,20937.92,50.70,387.03,0
4,5,20937.92,"-6135,0",5924.27,20727.19,20818.82,91.63,502.42,0
...,...,...,...,...,...,...,...,...,...
995,996,19.68,"-0,0",0.00,19.68,8.25,-11.43,0.72,1
996,997,8.25,"-0,0",0.00,8.25,3.65,-4.60,-8.36,1
997,998,3.65,"-0,0",0.00,3.65,8.40,4.75,4.92,1
998,999,8.40,"-0,0",0.00,8.40,23.49,15.09,16.35,1
999,1000,23.49,"-0,0",0.00,23.49,4.13,-19.36,0.10,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,18109.75,"-5940,0",6999.66,19169.41,19140.47,-28.94,290.50,0
1,2,19140.47,"-6320,0",7014.09,19834.56,19825.75,-8.81,346.46,0
2,3,19825.75,"-6145,0",7026.85,20707.60,20677.99,-29.61,326.59,0
3,4,20677.99,"-5805,0",4783.79,19656.78,19702.96,46.18,340.89,0
4,5,19702.96,"-6195,0",6592.28,20100.24,20021.69,-78.55,117.34,0
...,...,...,...,...,...,...,...,...,...
995,996,3.39,"-0,0",0.00,3.39,8.94,5.55,-9.07,1
996,997,8.94,"-0,0",0.00,8.94,13.46,4.52,1.87,1
997,998,13.46,"-0,0",0.00,13.46,5.20,-8.26,4.92,1
998,999,5.20,"-0,0",0.00,5.20,13.18,7.98,-1.52,1
999,1000,13.18,"-0,0",0.00,13.18,3.72,-9.46,-2.74,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,23056.29,"-5975,0",3639.31,20720.60,20716.68,-3.92,334.01,0
1,2,20716.68,"-6150,0",7008.88,21575.56,21681.55,105.99,352.59,0
2,3,21681.55,"-6030,0",6463.74,22115.29,22138.84,23.55,354.54,0
3,4,22138.84,"-6330,0",4019.40,19828.24,19807.63,-20.61,339.90,0
4,5,19807.63,"-6315,0",10039.40,23532.03,23487.69,-44.34,121.91,0
...,...,...,...,...,...,...,...,...,...
995,996,1.75,"-0,0",0.00,1.75,13.26,11.51,10.31,1
996,997,13.26,"-0,0",0.00,13.26,4.60,-8.66,-5.13,1
997,998,4.60,"-0,0",0.00,4.60,9.65,5.05,6.75,1
998,999,9.65,"-0,0",0.00,9.65,6.10,-3.55,-3.36,1
999,1000,6.10,"-0,0",0.00,6.10,1.30,-4.80,-29.68,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,22682.46,"-5995,0",5831.75,22519.21,22535.33,16.12,459.10,0
1,2,22535.33,"-5975,0",3507.95,20068.28,20135.89,67.61,514.24,0
2,3,20135.89,"-6250,0",8020.71,21906.60,21854.08,-52.52,421.71,0
3,4,21854.08,"-5985,0",8129.34,23998.42,23900.39,-98.03,282.93,0
4,5,23900.39,"-6030,0",5690.89,23561.28,23581.50,20.22,287.66,0
...,...,...,...,...,...,...,...,...,...
995,996,6.96,"-0,0",0.00,6.96,3.42,-3.54,-0.25,1
996,997,3.42,"-0,0",0.00,3.42,18.91,15.49,16.44,1
997,998,18.91,"-0,0",0.00,18.91,16.72,-2.19,9.09,1
998,999,16.72,"-0,0",0.00,16.72,1.44,-15.28,-0.25,1
999,1000,1.44,"-0,0",0.00,1.44,4.59,3.15,-0.04,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,11544.40,"-5565,0",7069.47,13048.87,12982.38,-66.49,118.80,0
1,2,12982.38,"-6155,0",6953.56,13780.94,13840.48,59.54,124.42,0
2,3,13840.48,"-6005,0",8211.32,16046.80,15937.63,-109.17,-18.99,0
3,4,15937.63,"-5915,0",8550.06,18572.69,18595.78,23.09,76.99,0
4,5,18595.78,"-5830,0",6389.87,19155.65,19072.47,-83.18,-24.06,0
...,...,...,...,...,...,...,...,...,...
995,996,16.15,"-0,0",0.00,16.15,6.29,-9.86,-11.87,1
996,997,6.29,"-0,0",0.00,6.29,14.36,8.07,4.38,1
997,998,14.36,"-0,0",0.00,14.36,2.38,-11.98,-20.25,1
998,999,2.38,"-0,0",0.00,2.38,4.75,2.37,-6.32,1
999,1000,4.75,"-0,0",0.00,4.75,5.65,0.90,-9.98,1

### Conjunto de datos de prueba

In [7]:
for case in data_dict:
    display(data_dict[case]['test_dataframe'])

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,20247.25,-5580,6051.35,20718.60,20679.11,-39.49,-2.21,0
1,2,20679.11,-6195,7936.54,22420.65,22497.60,76.95,164.76,0
2,3,22497.60,-6165,5995.68,22328.28,22284.53,-43.75,73.79,0
3,4,22284.53,-5720,5031.76,21596.29,21654.39,58.10,181.92,0
4,5,21654.39,-6075,9124.56,24703.95,24903.47,199.52,323.61,0
...,...,...,...,...,...,...,...,...,...
995,996,14567.32,-5990,6995.54,15572.86,15611.86,39.00,-8.11,1
996,997,15611.86,-6405,6226.80,15433.66,15483.99,50.33,14.33,1
997,998,15483.99,-5670,5799.07,15613.06,15537.81,-75.25,6.19,1
998,999,15537.81,-6130,5099.01,14506.82,14515.34,8.52,84.27,1
999,1000,14515.34,-6130,8868.50,17253.84,17158.33,-95.51,-78.56,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,14034.89,"-5705,0",7013.60,15343.49,15323.45,-20.04,228.67,0
1,2,15323.45,"-5970,0",7633.39,16986.84,16980.09,-6.75,138.05,0
2,3,16980.09,"-6250,0",4594.55,15324.64,15342.95,18.31,91.74,0
3,4,15342.95,"-6375,0",7716.89,16684.84,16706.73,21.89,36.45,0
4,5,16706.73,"-6020,0",7060.35,17747.08,17712.72,-34.36,101.33,0
...,...,...,...,...,...,...,...,...,...
995,996,2480.65,"-5740,0",5618.89,2359.54,2424.72,65.18,115.61,1
996,997,2424.72,"-5725,0",6292.34,2992.06,2952.52,-39.54,66.08,1
997,998,2952.52,"-5377,62",2403.34,-21.76,8.21,29.97,58.91,1
998,999,8.21,"-5756,65",6559.47,811.03,872.06,61.03,81.69,1
999,1000,872.06,"-4297,88",4862.58,1436.76,1366.38,-70.38,-15.06,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,17445.49,"-6140,0",8023.30,19328.79,19296.68,-32.11,150.41,0
1,2,19296.68,"-6010,0",5934.11,19220.79,19289.27,68.48,262.39,0
2,3,19289.27,"-5600,0",9215.39,22904.66,22910.69,6.03,227.65,0
3,4,22910.69,"-6070,0",6617.77,23458.46,23450.71,-7.75,172.64,0
4,5,23450.71,"-5685,0",3400.23,21165.94,21214.19,48.25,159.64,0
...,...,...,...,...,...,...,...,...,...
995,996,0.72,"-0,0",0.00,0.72,1.57,0.85,-3.08,1
996,997,1.57,"-0,0",0.00,1.57,11.07,9.50,1.17,1
997,998,11.07,"-0,0",0.00,11.07,6.20,-4.87,3.13,1
998,999,6.20,"-0,0",0.00,6.20,5.54,-0.66,-9.25,1
999,1000,5.54,"-0,0",0.00,5.54,3.05,-2.49,-13.90,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19850.01,"-6190,0",3007.83,16667.84,16649.01,-18.83,101.86,0
1,2,16649.01,"-6075,0",7996.41,18570.42,18569.16,-1.26,38.55,0
2,3,18569.16,"-6040,0",7973.61,20502.77,20544.29,41.52,126.92,0
3,4,20544.29,"-6335,0",5734.95,19944.24,19952.92,8.68,69.48,0
4,5,19952.92,"-6275,0",6590.42,20268.34,20302.97,34.63,41.44,0
...,...,...,...,...,...,...,...,...,...
995,996,1.57,"-0,0",0.00,1.57,3.03,1.46,2.57,1
996,997,3.03,"-0,0",0.00,3.03,1.28,-1.75,-6.25,1
997,998,1.28,"-0,0",0.00,1.28,16.88,15.60,5.54,1
998,999,16.88,"-0,0",0.00,16.88,2.92,-13.96,-7.19,1
999,1000,2.92,"-0,0",0.00,2.92,2.08,-0.84,-1.06,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,21372.17,"-5985,0",7788.90,23176.07,23214.64,38.57,19.95,0
1,2,23214.64,"-5765,0",2969.27,20418.91,20415.11,-3.80,61.14,0
2,3,20415.11,"-6325,0",7390.24,21480.35,21602.29,121.94,144.09,0
3,4,21602.29,"-6190,0",7315.88,22728.17,22691.65,-36.52,217.46,0
4,5,22691.65,"-5690,0",6031.24,23032.89,22983.03,-49.86,170.15,0
...,...,...,...,...,...,...,...,...,...
995,996,17.19,"-0,0",0.00,17.19,26.77,9.58,23.15,1
996,997,26.77,"-0,0",0.00,26.77,11.55,-15.22,10.12,1
997,998,11.55,"-0,0",0.00,11.55,1.45,-10.10,-1.74,1
998,999,1.45,"-0,0",0.00,1.45,8.20,6.75,5.73,1
999,1000,8.20,"-0,0",0.00,8.20,0.18,-8.02,-8.06,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,18283.00,"-5740,0",5871.72,18414.72,18396.89,-17.83,131.00,0
1,2,18396.89,"-5840,0",9160.46,21717.35,21705.02,-12.33,136.48,0
2,3,21705.02,"-5970,0",7545.21,23280.23,23195.67,-84.56,-10.11,0
3,4,23195.67,"-6095,0",5478.44,22579.11,22659.31,80.20,33.42,0
4,5,22659.31,"-5655,0",7369.23,24373.54,24372.52,-1.02,121.38,0
...,...,...,...,...,...,...,...,...,...
995,996,0.56,"-0,0",0.00,0.56,6.56,6.00,2.39,1
996,997,6.56,"-0,0",0.00,6.56,0.68,-5.88,-1.13,1
997,998,0.68,"-0,0",0.00,0.68,3.16,2.48,-5.51,1
998,999,3.16,"-0,0",0.00,3.16,8.10,4.94,2.05,1
999,1000,8.10,"-0,0",0.00,8.10,12.60,4.50,-2.58,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,18494.78,"-5950,0",5851.14,18395.92,18412.17,16.25,-84.69,0
1,2,18412.17,"-5865,0",7995.46,20542.63,20528.85,-13.78,-47.21,0
2,3,20528.85,"-5790,0",4036.02,18774.87,18860.58,85.71,88.97,0
3,4,18860.58,"-5940,0",6598.52,19519.10,19574.23,55.13,90.85,0
4,5,19574.23,"-6155,0",6263.71,19682.94,19663.56,-19.38,86.63,0
...,...,...,...,...,...,...,...,...,...
995,996,2.01,"-0,0",0.00,2.01,16.22,14.21,7.36,1
996,997,16.22,"-0,0",0.00,16.22,10.86,-5.36,3.14,1
997,998,10.86,"-0,0",0.00,10.86,19.86,9.00,8.27,1
998,999,19.86,"-0,0",0.00,19.86,12.29,-7.57,12.21,1
999,1000,12.29,"-0,0",0.00,12.29,4.85,-7.44,-4.91,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,23369.53,"-6150,0",4012.96,21232.49,21263.01,30.52,264.45,0
1,2,21263.01,"-5865,0",6439.82,21837.83,21837.57,-0.26,204.51,0
2,3,21837.57,"-5895,0",5946.30,21888.87,21925.55,36.68,273.91,0
3,4,21925.55,"-5970,0",7122.88,23078.43,23121.11,42.68,280.54,0
4,5,23121.11,"-6035,0",6817.47,23903.58,24029.90,126.32,512.85,0
...,...,...,...,...,...,...,...,...,...
995,996,13.57,"-0,0",0.00,13.57,6.42,-7.15,-8.60,1
996,997,6.42,"-0,0",0.00,6.42,4.13,-2.29,3.23,1
997,998,4.13,"-0,0",0.00,4.13,5.50,1.37,-2.82,1
998,999,5.50,"-0,0",0.00,5.50,5.12,-0.38,-1.79,1
999,1000,5.12,"-0,0",0.00,5.12,15.23,10.11,14.60,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,19322.64,"-6195,0",9878.01,23005.65,23077.84,72.19,307.23,0
1,2,23077.84,"-6235,0",5073.39,21916.23,21906.18,-10.05,387.94,0
2,3,21906.18,"-5785,0",6427.45,22548.63,22677.71,129.08,444.17,0
3,4,22677.71,"-5855,0",5779.43,22602.14,22594.65,-7.49,382.09,0
4,5,22594.65,"-5840,0",7826.30,24580.95,24608.16,27.21,419.31,0
...,...,...,...,...,...,...,...,...,...
995,996,5.66,"-0,0",0.00,5.66,7.47,1.81,-0.91,1
996,997,7.47,"-0,0",0.00,7.47,6.80,-0.67,-2.24,1
997,998,6.80,"-0,0",0.00,6.80,13.35,6.55,10.75,1
998,999,13.35,"-0,0",0.00,13.35,6.79,-6.56,-12.13,1
999,1000,6.79,"-0,0",0.00,6.79,0.44,-6.35,-11.06,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,13655.46,"-5935,0",11512.72,19233.18,19405.51,172.33,211.57,0
1,2,19405.51,"-6650,0",3678.03,16433.54,16467.10,33.56,204.34,0
2,3,16467.10,"-5720,0",6534.91,17282.01,17291.27,9.26,129.40,0
3,4,17291.27,"-5745,0",10564.38,22110.65,22124.69,14.04,148.18,0
4,5,22124.69,"-5625,0",5116.68,21616.37,21597.77,-18.60,203.65,0
...,...,...,...,...,...,...,...,...,...
995,996,16.76,"-0,0",0.00,16.76,6.56,-10.20,-7.83,1
996,997,6.56,"-0,0",0.00,6.56,14.31,7.75,6.80,1
997,998,14.31,"-0,0",0.00,14.31,0.04,-14.27,-1.67,1
998,999,0.04,"-0,0",0.00,0.04,2.45,2.41,-4.63,1
999,1000,2.45,"-0,0",0.00,2.45,3.89,1.44,-12.66,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,18831.51,"-6090,0",9010.27,21751.78,21727.77,-24.01,508.18,0
1,2,21727.77,"-6140,0",6929.71,22517.48,22587.42,69.94,545.28,0
2,3,22587.42,"-5725,0",4063.87,20926.29,20857.51,-68.78,449.32,0
3,4,20857.51,"-5745,0",7781.23,22893.74,22875.13,-18.61,389.62,0
4,5,22875.13,"-6250,0",3912.99,20538.12,20614.24,76.12,355.02,0
...,...,...,...,...,...,...,...,...,...
995,996,4.46,"-0,0",0.00,4.46,14.41,9.95,12.69,1
996,997,14.41,"-0,0",0.00,14.41,9.76,-4.65,6.04,1
997,998,9.76,"-0,0",0.00,9.76,2.55,-7.21,-16.74,1
998,999,2.55,"-0,0",0.00,2.55,9.52,6.97,6.90,1
999,1000,9.52,"-0,0",0.00,9.52,11.04,1.52,4.73,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,14736.59,"-6295,0",7061.03,15502.62,15459.79,-42.83,88.42,0
1,2,15459.79,"-6260,0",5970.18,15169.97,15193.08,23.11,120.97,0
2,3,15193.08,"-5900,0",5999.44,15292.52,15281.39,-11.13,89.96,0
3,4,15281.39,"-5980,0",6939.21,16240.60,16288.43,47.83,131.63,0
4,5,16288.43,"-6175,0",7029.80,17143.23,17115.65,-27.58,96.75,0
...,...,...,...,...,...,...,...,...,...
995,996,15.82,"-0,0",0.00,15.82,6.25,-9.57,-9.53,1
996,997,6.25,"-0,0",0.00,6.25,7.02,0.77,2.84,1
997,998,7.02,"-0,0",0.00,7.02,1.57,-5.45,-7.61,1
998,999,1.57,"-0,0",0.00,1.57,0.12,-1.45,-4.11,1
999,1000,0.12,"-0,0",0.00,0.12,7.90,7.78,3.04,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,22465.51,"-6080,0",7789.55,24175.06,24208.87,33.81,-175.32,0
1,2,24208.87,"-6045,0",4948.93,23112.80,23139.14,26.34,-178.39,0
2,3,23139.14,"-5935,0",7036.17,24240.31,24285.57,45.26,-129.43,0
3,4,24285.57,"-5950,0",4812.44,23148.01,23215.86,67.85,74.70,0
4,5,23215.86,"-6310,0",5513.33,22419.19,22370.85,-48.34,67.20,0
...,...,...,...,...,...,...,...,...,...
995,996,13.88,"-0,0",0.00,13.88,5.95,-7.93,1.78,1
996,997,5.95,"-0,0",0.00,5.95,12.10,6.15,10.02,1
997,998,12.10,"-0,0",0.00,12.10,5.06,-7.04,-9.98,1
998,999,5.06,"-0,0",0.00,5.06,4.17,-0.89,-3.22,1
999,1000,4.17,"-0,0",0.00,4.17,17.00,12.83,15.43,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,14556.63,"-6100,0",7672.40,16129.03,16156.68,27.65,-66.83,0
1,2,16156.68,"-5970,0",3517.74,13704.42,13714.85,10.43,-97.98,0
2,3,13714.85,"-5975,0",8581.27,16321.12,16261.92,-59.20,-126.01,0
3,4,16261.92,"-6155,0",6603.20,16710.12,16773.23,63.11,-59.66,0
4,5,16773.23,"-6065,0",5252.68,15960.91,15952.40,-8.51,20.37,0
...,...,...,...,...,...,...,...,...,...
995,996,0.48,"-0,0",0.00,0.48,5.26,4.78,-4.23,1
996,997,5.26,"-0,0",0.00,5.26,14.41,9.15,9.68,1
997,998,14.41,"-0,0",0.00,14.41,16.94,2.53,14.11,1
998,999,16.94,"-0,0",0.00,16.94,5.52,-11.42,-3.93,1
999,1000,5.52,"-0,0",0.00,5.52,0.75,-4.77,-8.40,1

,Tiempo (dia),Volumen dep. almacenam. ini. (L),Venta (L),Llenado dep. almacenam. (L),Volumen dep. almacenam. fin. teor. (L),Volumen dep. almacenam. fin. (L),Variacion,Variacion Acum.,Fugando combustible
0,1,11373.11,"-5975,0",6995.25,12393.36,12436.56,43.20,4.09,0
1,2,12436.56,"-6120,0",7067.55,13384.11,13284.95,-99.16,-89.11,0
2,3,13284.95,"-5925,0",7087.68,14447.63,14371.67,-75.96,-172.46,0
3,4,14371.67,"-5840,0",11960.98,20492.65,20550.77,58.12,-132.89,0
4,5,20550.77,"-6070,0",7059.92,21540.69,21530.27,-10.42,-122.12,0
...,...,...,...,...,...,...,...,...,...
995,996,11.82,"-0,0",0.00,11.82,11.43,-0.39,-5.83,1
996,997,11.43,"-0,0",0.00,11.43,13.08,1.65,10.37,1
997,998,13.08,"-0,0",0.00,13.08,1.18,-11.90,-5.79,1
998,999,1.18,"-0,0",0.00,1.18,20.33,19.15,11.23,1
999,1000,20.33,"-0,0",0.00,20.33,11.29,-9.04,7.59,1

<!-- TODO -->

## Selección de características

In [8]:
for case in data_dict:
    for dataset in ['train_dataframe', 'test_dataframe']:
        data_dict[case][dataset] = data_dict[case][dataset].filter(items=['Variacion', 'Fugando combustible'])

### Conjunto de datos de entrenamiento

In [9]:
for case in data_dict:
    display(data_dict[case]['train_dataframe'])

     Variacion  Fugando combustible
0        40.80                    0
1       -73.49                    0
2        51.75                    0
3         3.16                    0
4         0.65                    0
..         ...                  ...
995     -43.59                    1
996     -17.51                    1
997     -37.18                    1
998      -3.28                    1
999      44.15                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        44.62                    0
1        14.74                    0
2        15.51                    0
3        -8.27                    0
4        42.47                    0
..         ...                  ...
995    -121.42                    1
996     -37.02                    1
997      41.78                    1
998      41.88                    1
999      29.85                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       155.26                    0
1       -22.46                    0
2        28.24                    0
3       -37.57                    0
4      -123.92                    0
..         ...                  ...
995      -0.64                    1
996       6.81                    1
997       1.76                    1
998       5.69                    1
999      -2.63                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -43.71                    0
1        22.46                    0
2        78.47                    0
3       139.65                    0
4        32.75                    0
..         ...                  ...
995       0.91                    1
996      10.08                    1
997      -1.64                    1
998      -9.70                    1
999       3.15                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -29.06                    0
1       -17.65                    0
2        47.87                    0
3       -27.82                    0
4        30.14                    0
..         ...                  ...
995      12.91                    1
996     -22.72                    1
997       6.19                    1
998       0.12                    1
999       9.75                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -69.54                    0
1       -39.17                    0
2        51.48                    0
3        48.89                    0
4        -6.25                    0
..         ...                  ...
995       3.35                    1
996      13.06                    1
997     -11.61                    1
998      -4.18                    1
999       3.75                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        51.07                    0
1         4.71                    0
2        44.88                    0
3        36.86                    0
4        26.57                    0
..         ...                  ...
995      -0.94                    1
996      -8.26                    1
997       5.51                    1
998      12.81                    1
999     -17.03                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -26.73                    0
1        51.78                    0
2        96.76                    0
3        71.05                    0
4        57.83                    0
..         ...                  ...
995      -6.27                    1
996      -7.06                    1
997      -0.49                    1
998       0.51                    1
999       1.43                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -28.10                    0
1        10.49                    0
2        77.99                    0
3       -45.60                    0
4       -25.03                    0
..         ...                  ...
995       9.02                    1
996      -0.56                    1
997       5.19                    1
998      11.07                    1
999      -8.85                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        62.52                    0
1        28.58                    0
2       -37.36                    0
3       -16.14                    0
4       -14.46                    0
..         ...                  ...
995      -2.91                    1
996       7.23                    1
997      -6.62                    1
998      24.76                    1
999     -12.88                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        65.33                    0
1       129.89                    0
2        33.55                    0
3        50.70                    0
4        91.63                    0
..         ...                  ...
995     -11.43                    1
996      -4.60                    1
997       4.75                    1
998      15.09                    1
999     -19.36                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -28.94                    0
1        -8.81                    0
2       -29.61                    0
3        46.18                    0
4       -78.55                    0
..         ...                  ...
995       5.55                    1
996       4.52                    1
997      -8.26                    1
998       7.98                    1
999      -9.46                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        -3.92                    0
1       105.99                    0
2        23.55                    0
3       -20.61                    0
4       -44.34                    0
..         ...                  ...
995      11.51                    1
996      -8.66                    1
997       5.05                    1
998      -3.55                    1
999      -4.80                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        16.12                    0
1        67.61                    0
2       -52.52                    0
3       -98.03                    0
4        20.22                    0
..         ...                  ...
995      -3.54                    1
996      15.49                    1
997      -2.19                    1
998     -15.28                    1
999       3.15                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -66.49                    0
1        59.54                    0
2      -109.17                    0
3        23.09                    0
4       -83.18                    0
..         ...                  ...
995      -9.86                    1
996       8.07                    1
997     -11.98                    1
998       2.37                    1
999       0.90                    1

[1000 rows x 2 columns]

### Conjunto de datos de prueba

In [10]:
for case in data_dict:
    display(data_dict[case]['test_dataframe'])

     Variacion  Fugando combustible
0       -39.49                    0
1        76.95                    0
2       -43.75                    0
3        58.10                    0
4       199.52                    0
..         ...                  ...
995      39.00                    1
996      50.33                    1
997     -75.25                    1
998       8.52                    1
999     -95.51                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -20.04                    0
1        -6.75                    0
2        18.31                    0
3        21.89                    0
4       -34.36                    0
..         ...                  ...
995      65.18                    1
996     -39.54                    1
997      29.97                    1
998      61.03                    1
999     -70.38                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -32.11                    0
1        68.48                    0
2         6.03                    0
3        -7.75                    0
4        48.25                    0
..         ...                  ...
995       0.85                    1
996       9.50                    1
997      -4.87                    1
998      -0.66                    1
999      -2.49                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -18.83                    0
1        -1.26                    0
2        41.52                    0
3         8.68                    0
4        34.63                    0
..         ...                  ...
995       1.46                    1
996      -1.75                    1
997      15.60                    1
998     -13.96                    1
999      -0.84                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        38.57                    0
1        -3.80                    0
2       121.94                    0
3       -36.52                    0
4       -49.86                    0
..         ...                  ...
995       9.58                    1
996     -15.22                    1
997     -10.10                    1
998       6.75                    1
999      -8.02                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -17.83                    0
1       -12.33                    0
2       -84.56                    0
3        80.20                    0
4        -1.02                    0
..         ...                  ...
995       6.00                    1
996      -5.88                    1
997       2.48                    1
998       4.94                    1
999       4.50                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        16.25                    0
1       -13.78                    0
2        85.71                    0
3        55.13                    0
4       -19.38                    0
..         ...                  ...
995      14.21                    1
996      -5.36                    1
997       9.00                    1
998      -7.57                    1
999      -7.44                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        30.52                    0
1        -0.26                    0
2        36.68                    0
3        42.68                    0
4       126.32                    0
..         ...                  ...
995      -7.15                    1
996      -2.29                    1
997       1.37                    1
998      -0.38                    1
999      10.11                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        72.19                    0
1       -10.05                    0
2       129.08                    0
3        -7.49                    0
4        27.21                    0
..         ...                  ...
995       1.81                    1
996      -0.67                    1
997       6.55                    1
998      -6.56                    1
999      -6.35                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       172.33                    0
1        33.56                    0
2         9.26                    0
3        14.04                    0
4       -18.60                    0
..         ...                  ...
995     -10.20                    1
996       7.75                    1
997     -14.27                    1
998       2.41                    1
999       1.44                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -24.01                    0
1        69.94                    0
2       -68.78                    0
3       -18.61                    0
4        76.12                    0
..         ...                  ...
995       9.95                    1
996      -4.65                    1
997      -7.21                    1
998       6.97                    1
999       1.52                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0       -42.83                    0
1        23.11                    0
2       -11.13                    0
3        47.83                    0
4       -27.58                    0
..         ...                  ...
995      -9.57                    1
996       0.77                    1
997      -5.45                    1
998      -1.45                    1
999       7.78                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        33.81                    0
1        26.34                    0
2        45.26                    0
3        67.85                    0
4       -48.34                    0
..         ...                  ...
995      -7.93                    1
996       6.15                    1
997      -7.04                    1
998      -0.89                    1
999      12.83                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        27.65                    0
1        10.43                    0
2       -59.20                    0
3        63.11                    0
4        -8.51                    0
..         ...                  ...
995       4.78                    1
996       9.15                    1
997       2.53                    1
998     -11.42                    1
999      -4.77                    1

[1000 rows x 2 columns]

     Variacion  Fugando combustible
0        43.20                    0
1       -99.16                    0
2       -75.96                    0
3        58.12                    0
4       -10.42                    0
..         ...                  ...
995      -0.39                    1
996       1.65                    1
997     -11.90                    1
998      19.15                    1
999      -9.04                    1

[1000 rows x 2 columns]

<!-- TODO -->

## Implementación de modelos

### Definición de métricas

In [11]:
def leak_detection_delay(y_true: np.array, y_pred: np.array) -> int:
    real_first_leak_day = 0
    while y_true[real_first_leak_day] != 1: real_first_leak_day += 1

    pred_first_leak_day = 0
    while y_pred[pred_first_leak_day] != 1: pred_first_leak_day += 1

    return (pred_first_leak_day - real_first_leak_day)

### Múltiples modelos

In [12]:
for case in data_dict:
    X_train = data_dict[case]['train_dataframe'].drop(columns='Fugando combustible')
    y_train = data_dict[case]['train_dataframe']['Fugando combustible']
    
    model = tf.keras.Sequential([
        tf.keras.layers.Input(shape=(X_train.shape[1], 1)),
        tf.keras.layers.LSTM(15, dropout=0.2),
        tf.keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(
        optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
        loss='binary_crossentropy',
        metrics=['accuracy']
    )

    history = model.fit(
        x = X_train,
        y = y_train,
        epochs = 50,
        batch_size = 4,
        verbose = 0
    )

    X_test = data_dict[case]['test_dataframe'].drop(columns='Fugando combustible')
    y_test = data_dict[case]['test_dataframe']['Fugando combustible']
    
    y_pred = (model.predict(X_test, verbose=0) > 0.5).astype(int)

    test_accuracy = accuracy_score(y_test, y_pred)

    test_leak_delay = leak_detection_delay(y_test, y_pred)

    print(f'({case}):\tAccuracy {test_accuracy:.4f}\tLeak delay: {test_leak_delay}')

(case_0000):	Accuracy 0.5640	Leak delay: -495
(case_0001):	Accuracy 0.6250	Leak delay: -491
(case_0002):	Accuracy 0.6830	Leak delay: -495
(case_0003):	Accuracy 0.7230	Leak delay: -494
(case_0004):	Accuracy 0.7770	Leak delay: -494
(case_0005):	Accuracy 0.8190	Leak delay: -494
(case_0006):	Accuracy 0.8010	Leak delay: -494
(case_0007):	Accuracy 0.8030	Leak delay: -494
(case_0008):	Accuracy 0.8290	Leak delay: -494
(case_0009):	Accuracy 0.8120	Leak delay: -493
(case_0010):	Accuracy 0.8080	Leak delay: -492
(case_0011):	Accuracy 0.8480	Leak delay: -493
(case_0012):	Accuracy 0.7630	Leak delay: -490
(case_0013):	Accuracy 0.7920	Leak delay: -494
(case_0014):	Accuracy 0.7810	Leak delay: -491

### Único modelo